[2017-05-30 16:42] ptsochantaris commented on #322
That makes sense, if you have reviewed a PR it should move to Participated, just like adding a comment would.

[2017-05-30 18:21] JustinAiken opened #323 "Crashing on start"
- Version: 1.5.7
- MacOS: 10.11.6

<details>

<summary> Full Crash Report </summary>

[code]
</details>

[2017-05-30 18:23] ptsochantaris commented on #323
Thanks @JustinAiken - checking it out now.

[2017-05-30 18:45] ptsochantaris commented on #323
Seems like a corrupted cache database entry.

Unfortunately, unless you want to get a bit geeky with SQLite, the best "easy" way to fix this is to nuke your DB and re-set up :( I'll give you advice on both cases, and you can pick whichever works best for you.

Note to self: Then I really need to de-couple that cache DB access from the main SQLite store and put it in another store, so it can be wip

[2017-05-30 19:10] JustinAiken commented on #323
Clearing the cache worked!

Few corrections to the process:
  - `sqlite3 com.housetrip.Trailer/Trailer.sqlite` from the `~/Library/Application Support` dir
  - `DELETE FROM ZCACHEENTRY;` - no `*` for sqlite it seems

Happily getting PR notifications again - feel free to close this issue as it's fixed for me, or leave open to help anyone else that bumps up against it!

[2017-05-30 19:14] ptsochantaris commented on #323
Ah, thanks for correcting my notes above - in fact the second one was just me copying over the wrong line, I have to admit :(

In any case, I'm glad to hear it's fixed 👍 - I'm curious to see if it re-appears again for you. If it does, please do let me know. I'm currently simplifying the code that updates the API cache to hopefully put the data through fewer "hoops" and reduce the possibility of th

[2017-06-01 20:55] ptsochantaris commented on #323
Hi!

Version 1.5.8 is now up and, fingers crossed, does have code to try and make cache handling more robust so that hopefully incidents like the one you had won't happen any more. Of course this is all theory :) so if this or something similar happens to you again, please do reopen this, or file a fresh issue.

Thanks again for reporting this, I'll close this issue for now.

[2017-06-01 20:55] #323 closed

[2017-06-01 20:58] ptsochantaris commented on #322
Hi, version 1.5.8 is now up and has this behaviour. Thanks a lot for suggesting it - like all great ideas it seems completely obvious in retrospect.

I'll close this issue for now but please do keep the suggestions coming in further issues! :)

[2017-06-01 20:58] #322 closed

[2017-06-01 20:59] ptsochantaris commented on #284
Hi @dangitall - Version 1.5.8 is now up and has this behaviour as well as other features and improvements. I hope the new menu makes your life a bit easier now that the options are consistently placed! Thanks again for posting this issue. I'll close it for now but the suggestions coming in further ones!

[2017-06-01 20:59] #284 closed

[2017-06-04 09:16] thejspr opened #324 "Stuck in refreshing..."
Hi Paul!

I'm still enjoying Trailer since leaving HouseTrip in 2015. Nice work!

I keep encountering the app getting stuck in "Refreshing", both when running normally and after resuming from standby. Here is a dump from the log:

![image](https://cloud.githubusercontent.com/assets/293672/26760399/23eba91c-4917-11e7-9df3-3c5016707309.png)

Restarting the app fixes the issue most of the time, but n

[2017-06-06 11:10] hellopablo opened #325 "Menu bar counter includes muted items."
I have perhaps misunderstood the purpose of muting (new user!), but I'd have assumed that the count in the menu bar would not include muted items? Is this a configuration I've missed? Some PR's I'm tagged in, but not necessarily actively participating in.

[2017-06-09 17:14] ptsochantaris commented on #324
Hi @thejspr - good to hear from you! From the log it seems that refresh seems to have a problem resuming if it was interrupted in the middle by the machine going to sleep. I'll try to reproduce this locally and get back to you very soon.

[2017-06-09 17:22] ptsochantaris commented on #325
Hi @hellopablo and welcome to Trailer!

This isn't a bug per se, it sounds more like you'd be happier using the *Snooze* feature rather than the *Mute* feature.

*Mute* just means that Trailer will not provide you with notifications about an item - there is no other change in how it handles the item, whether that be counting it, checking for other properties, updating its data, etc.

*Snooze* move

[2017-06-12 09:48] hellopablo commented on #325
Thanks for the detailed response @ptsochantaris!

I think snoozing is exactly what I'm after - took a bit of hunting around to hide the count, but I got there in the end!

[2017-06-12 09:48] #325 closed

[2017-06-14 13:18] joesanford opened #326 "My comments counted towards unread badges"
When I make a comment on a PR, Trailer then shows that the PR has a comment on it. Can the logic be changed so I'm not seeing badges because I added something to a PR?

[2017-06-14 13:27] ptsochantaris commented on #326
Hi @joesanford, it really shouldn't do that. Trailer will only count comments from other people when adding a red badge to an item.

Something to check: Are you sure you're using the token from the same account that you're commenting from?

[2017-06-14 15:24] joesanford commented on #326
Yep, only using one account on Github.

This is a private repo that is part of an organization, would that be a factor? Otherwise, it's badging my own comments :(

[2017-06-14 17:52] ptsochantaris commented on #326
Hi @joesanford - I'm glad it's fixed.

It's very weird that this was happening to you. If you see it again please do let me know and we can try to investigate more. Also, to answer your previous question, no the visibility of the Repo should play no role at all. Something must have been going on with your username, which Trailer uses to identify posts, but what that may have been, I don't know.

A

[2017-06-21 17:26] NiXXeD commented on #324
I seem to be running into a similar issue. However, I'm not able to restart the app to fix it. I even tried reinstalling it. Any suggestions for a workaround in the mean time?

[2017-06-29 12:26] hellopablo opened #327 "Feature Request: Open all PRs/Issues"
Would be great to have a one-click option to open an entire section in new tabs in the default browser. I often have 5 or 6 PRs to review and just like to open them all in tabs and close them as I review them.

Could be similar in style to the "Remove" button.

[2017-06-29 12:55] ptsochantaris commented on #327
Hi @hellopablo - There's no explicit option to do this, but since you just want to open a few PRs immediately, try alt-clicking sequentially on each item. Alt-clicking opens an item in the background and keeps the Trailer menu open for you to select more items. This ought to pretty much do what you need.

[2017-06-29 12:56] hellopablo commented on #327
That's perfect, I tried every key apart from alt 🙈

[2017-06-29 12:56] #327 closed

[2017-06-29 12:58] ptsochantaris commented on #327
When in macOS, always Alt-click on things, you never know what surprises you're gonna get :) Glad it's helped!

[2017-07-07 14:46] ScottDugas opened #328 "Review statuses API no longer works with GitHub Enterprise 2.9"
This change: https://github.com/ptsochantaris/trailer/commit/a52432970ccb105776c96777b0ca6ebc65c5892e removed the header from requests to the reviews API, because it was removed from preview in GitHub proper, however it is still in preview mode for the current enterprise release ( [docs](https://developer.github.com/enterprise/2.9/v3/pulls/reviews/) ) resulting in failed requests when enabling rev

[2017-07-08 18:11] ptsochantaris commented on #328
Hi @ScottDugas and thanks for bringing this to my attention. I'll post an update that re-enables the beta headers on GitHub Enterprise API requests very soon.

[2017-07-08 19:20] ptsochantaris commented on #324
Hi @thejspr and @NiXXeD

I've been trying to reproduce the issue based on the assumption that the system going to sleep in the middle of a sync was to blame, but not much luck. It seems that network requests in transit at that time are restarted (or fail) properly after a moment, so bang goes that theory.

I've just put up an update which includes all the tweaks done to the API stack for the recen

[2017-07-14 19:58] ScottDugas commented on #328
This appears to be working now with 1.5.9

[2017-07-14 19:58] #328 closed

[2017-07-25 14:04] pekhota opened #329 "What about private repos in organizations?"
I can't generate token via "My Tokens". I used basic auth to get token. Then I received infinite loader. What I have to do to fix this problem?

[2017-07-25 16:43] ptsochantaris commented on #329
Hi @pekhota - I'm not sure if I'm clear about what you mean by using basic auth to get a token. The token you create should be from https://github.com/settings/tokens - anything else probably won't work. Also, I'm not sure if your question is about accessing private repos or data not loading at all - can you give me more info on what you're encountering? BTW you can get more info on the calls bein

[2017-08-01 18:54] digiwano opened #330 "[MacOS version] Integration with Ship-2 ?"
I don't know how feasible this is and/or whether or not [Ship](https://www.realartists.com/index.html) can even accept some form of "open this issue/PR" command, but it would be really nice if I could use both Ship and Trailer together in such a way that when I click on an issue in Trailer's menubar app I get the issue/PR opened in Ship.

[2017-08-02 00:06] digiwano commented on #330
After talking with their support, I've learned that Ship supports being opened via a github url, as in `open https://github.com/ptsochantaris/trailer/issues/330 -a /Applications/Ship.app` would open this issue with Ship, so it seems all that would be needed is to have Trailer have the browser it launches the github URL with be configurable?

[2017-08-02 01:01] ptsochantaris commented on #330
Hi @digiwano and thanks for posting!

First off, Ship looks like a really cool app, I ought to try it out too. It sounds from your description that what we're looking for is an option to "Open clicked items in..." and then a dropdown of installed apps that can handle opening URLs. I don't know if macOS provides API to accomplish this, but given how it's done in apps like Transmit (when selecting a

[2017-08-03 06:19] cperezabo opened #331 "It won't update labels on issues."
It just doesn't display labels for issues, just for PRs, I don't know what else to try, any help?

[2017-08-03 18:10] digiwano commented on #330
That *DOES* work, though it's a little tedious. Thanks for looking into this. Ship's actual official answer was to look into [choosy](https://www.choosyosx.com), but i'd really rather not have to install something that hijacks the opening of all links on my system just to get this functionality :) Luckily, i]I'm familiar enough with MacOS to know that means that it just needs to be opened with the

[2017-08-03 18:17] ptsochantaris commented on #330
Hi @digiwano, I'm glad the workaround works for you, at least temporarily.

I agree you shouldn't need extra utilities, however the code you're thinking about would be hardcoded to Ship.

I wouldn't like to add a feature to Trailer that hardcodes behaviour for a specific app, instead what I'd like to do is have a menu that offers to open URLs by default using the selected app, similar to how Trans

[2017-08-03 18:29] digiwano commented on #330
As far as I can tell and/or google,  that's in the Launch Services stuff .. this gist seems to have a nice example in `getInstalledBrowsers()` : https://gist.github.com/cho45/ac9443aaa66406408485

[2017-08-03 19:31] ptsochantaris commented on #330
That's a good link! I wonder if this would also have Ship show up on that list too (i.e. I wonder if Ship registers as an http handler in that fashion - may have to install it and try that out)

[2017-08-03 23:47] digiwano commented on #330
I don't think it would normally show up, when I was trying out Choosy, I had to manually add it to their list which did populate with some other browsers on my system (it's worth noting that they don't use that standard-looking control like transmit), but I suppose that's why even your Transmit screenshot has the 'select...' option at the bottom :)

[2017-08-06 14:27] ptsochantaris commented on #331
Hi @cperezabo - I wonder if this is some sort of sync hiccup. Something to try: Hide the repos containing the PRs whose labels you can’t see. Sync once, then un-hide those Repos so items sync down again. See if this helps at all.

[2017-08-16 17:27] alexjhannan commented on #321
I think I'm running into this issue now. Just getting started, and I'm on an endless sync with no end in sight. What's the surest path to getting synced up?

[2017-08-16 22:46] ptsochantaris commented on #321
Hi @alexjhannan and thanks for reaching out. Can you give me a few more details on what you mean y endless sync? How does the interface display the sync? Does the operation count stay frozen at a certain number for instance?

[2017-08-16 23:10] alexjhannan commented on #321
Thanks for responding! Unfortunately I don't have much context to offer. This is all I see, after having entered a token with the appropriate permissions:

<img width="492" alt="screen shot 2017-08-16 at 7 08 47 pm" src="https://user-images.githubusercontent.com/13947899/29389105-5b05348a-82b6-11e7-81bd-4aabc21cc4c6.png">

It's been like this all day, so I expect that it's endless.

[2017-08-17 07:20] ptsochantaris commented on #321
Yes, it's safe to say that if you're not seeing any kind of activity for a long time then it's basically stuck.

Normally after a few calls, the sync display will start showing you a count of the operations that it is doing (this number can go up while it is running, so it's not really a countdown, but it indicates activity). If you're not seeing this number then something is definitely going wron

[2017-08-17 17:30] alexjhannan commented on #321
Hmmmm, no luck with any of these approaches. I've tried giving the token full permissions to no avail.

I started logging activity to console to see if anything would show up, but I'm not getting much usable info, other than _that_ an error occurred. For instance:

`TIC TCP Conn Event [5:0x61000019cf20]: 1 Err(0)`

[2017-08-18 17:33] ptsochantaris commented on #321
Hi again and sorry for the slow responses, it's been a busy week.

Ok, so something else must be happening than your token or Trailer not syncing properly. If you're not getting any messages it probably means that no connections are being made at all to your server, so this means that (most likely) Trailer got itself into some sort of knot database-wise or there is some proxy or network issue on y

[2017-08-18 19:49] alexjhannan commented on #321
Hey, no worries about the slow responses. Thanks for working on this! I've heard great things from co-workers, so I'm happy to help.

I deleted the data directory and started from scratch with a full-permission token. Here's the plaintext of the log in Console.app:
(Hopefully this gives you some useful info)
[code]

[2017-08-18 20:01] ptsochantaris commented on #321
Ah, interesting, I think we have a good clue on what's going on at this line:
[code]

This snippet shows that Trailer is downloading your watchlist and you don't actually have any repositories in your watchlist, so the setup is _technically_ working fine - but there's just nothing to show (and Trailer seems to get confused)

It's worth noting that Trailer should NOT have just stayed frozen there,

[2017-08-18 21:33] alexjhannan commented on #321
Hah! It finished almost immediately after adding a repo to the watchlist. I hope my weird GitHub habits helped a bit with debugging things. 😁

Redacted the log for safety. Thanks for your help through this, and thanks for building such a useful tool. Cheers!

[2017-08-18 23:05] ptsochantaris commented on #321
Fantastic! I'm glad we tracked this down. You absolutely _did_ help in this case, I'll be sure to add some logic to catch out this corner case in future updates.

Enjoy Trailer, and I hope the rest is all smooth sailing!

[2017-08-21 08:29] pekhota commented on #329
ok, I'll do it later. Thanks

[2017-08-21 08:29] #329 closed

[2017-08-21 11:15] thejspr commented on #324
Thanks @ptsochantaris. I've updated and will report back if I keep getting the issue.

[2017-08-29 10:36] bisonfute opened #332 "how to hide PR (ou Issues) button in menubar"
Hi all,
@ptsochantaris thanks for your fantastic product.

I am only interested in Issues tracking/management, that's why I would be very happy to be able to hide the PR button in the menu bar as I am not at all interested in it.

I didn't find a way to do that. Is it something possible ?

thanks !

[2017-08-29 19:29] ptsochantaris commented on #332
Hi @bisonfute - I'm glad you're finding Trailer useful.

You can easily achieve what you want by setting the PR visibility options for your repositories to "hidden". To do this, open Preferences and select the "Repositories" tab.

Usually you can select each repo and set visibility to "hide" in the "Pull Requests" column, but if you're not interested in PRs from any repo then you can simply use th

[2017-08-29 19:36] bisonfute commented on #332
Wo, what a great answer.
Thanks all of your tips worked and were useful !
The PRs have disappeared and I've grouped issues by topic.
![image](https://user-images.githubusercontent.com/11193622/29840376-185658d4-8d02-11e7-83f2-0d3704c835bb.png)

Thanks for your help.

[2017-08-29 19:36] #332 closed

[2017-09-09 07:43] ptsochantaris commented on #331
Hi @cperezabo - was just wondering if you're still having this issue? Did any of the steps above improve things at all?

[2017-09-09 07:54] ptsochantaris commented on #316
Hi @Samemura - sorry for the almost half-year delay in answering, it's been an interesting/busy summer.

I understand where you're coming from, and eventually Trailer may support this by making grouping a more generic concept, but then this would need to be a larger feature than simply grouping items internally in one drop-down menu.

However, currently the section groupings are very much an integ

[2017-09-09 07:54] #316 closed

[2017-09-09 07:58] ptsochantaris commented on #324
An interesting footnote to this issue - it seems that if for some reason Trailer could not get a list of repos from GitHub (e.g. in the sense of some security token permission change, not in a sense of a network connection failure) then it could end up spinning for infinity when syncing. I'm not sure how much this relates to your issues above, but something to keep in mind if you see this again -

[2017-09-09 08:03] ptsochantaris commented on #304
Hi, was just wondering if any of the above helped? I've taken a look at performance in the recent past and have made some tweaks in the most recent releases. There will also be a release next week (hopefully) compiled with the latest Xcode / Swift which should also provide a small performance boost, along with smaller cleanups I've done over the summer, so stay tuned :)

[2017-09-09 08:07] ptsochantaris commented on #309
Just to let you know I haven't forgotten about this - seems like it's almost impossible to fix, I'm stumped. Will keep picking at it, though. I wonder if it will be eventually fixed as part of a macOS update instead :) (not in High Sierra though - that's still there)

[2017-09-09 13:30] cperezabo commented on #331
I stopped using Trailer :(

[2017-09-09 13:33] ptsochantaris commented on #331
Cool, if you ever re-install it and run into a similar issue feel free to file another issue. Will close this for now.

[2017-09-09 13:33] #331 closed

[2017-09-10 02:03] Samemura commented on #316
Hi @ptsochantaris , thank you for reply. I appreciate your kindly answer and also of course agree with you. Hope develop fine for trailer future!

[2017-09-11 21:14] JeanMertz opened #333 "Add entire org (+ any future new repos)"
It would be nice if I could add an entire org to Trailer, instead of individual repos. This would allow me to monitor all org activities.

[2017-09-17 13:57] ptsochantaris commented on #333
Hi @JeanMertz and sorry for the slow reply.

In general, Trailer will list items from any repos that are on your watchlist as part of the quick-start and will also auto-add repositories added there (or removed) as time goes on. Trailer doesn't really understand the concept of Orgs as an organisational unit, and I'm wary of adding extra options currently as the app is getting a bit top-heavy with o

[2017-09-17 14:01] ptsochantaris commented on #324
I'm going to close this for now, but please feel free to open a new issue if this problem re-occurs for you!

Also please note v1.6.0 is up now which should correct the issue mentioned above, which may have also been part of the issue you were experiencing.

[2017-09-17 14:01] #324 closed

[2017-09-17 14:05] ptsochantaris commented on #313
Hi, just wanted to give you a heads-up that I'll be closing this issue for now to try and keep the issue list "contained" :) But if you do find out any more info about this, please feel free to open new issues or submit PRs that may help with viewing avatars in GE servers, they would be very welcome.

[2017-09-17 14:05] #313 closed

[2017-09-17 14:07] ptsochantaris commented on #304
Hi, v.1.6.0 is up now and should address even more of the performance issues. I'll close this for now but please re-open new issues if you are still experiencing such heavy performance-related problems in your UI.

[2017-09-17 14:07] #304 closed

[2017-09-18 06:27] JeanMertz commented on #333
Thank you for the reply @ptsochantaris, and for creating this great utility.

Your suggestion would definitely be a solution to my problem, yes.

[2017-09-18 07:53] ptsochantaris commented on #333
Great, will look into adding that in, then. Adding it to the TODO list.

[2017-09-20 18:14] cgatesman opened #334 "Notification of new comment from myself"
As I review and comment on pull requests, I end up going back to Trailer after I have finished to find all the pull requests have a notification of a new comment, so I have to go back in to all of these pull requests just to find out that it was my comments and not someone else.  Is there a way to prevent new comment notifications if the comments are from yourself?

[2017-09-20 20:11] ptsochantaris commented on #334
Hi @cgatesman

Trailer should not be letting you know of comments that you posted.

Are you sure what you're seeing is a new comment notification? For instance, do you also get a desktop notification saying there was a new comment from yourself? I'm wondering if you're perhaps seeing is the "!" signifying that there was a new commit to a PR?

If that's the case, you can turn this off from `Prefere

[2017-09-20 22:39] alanhogan opened #335 "Repo names nearly unreadable in dark mode"
I think it's awesome that this app is compatible with macOS' dark mode menu bar.

The only problem is that the dark gray text for repo names (which is nice and high-contrast in light mode) is very low contrast in dark mode.

[2017-09-21 07:27] ptsochantaris commented on #335
Hi @alanhogan

Just to be sure I'm on the same page with what you're saying, here's a screenshot of e.g. your issue on my system (in dark mode). Are these the same colours you're seeing?

<img width="345" alt="screen shot 2017-09-21 at 08 23 09" src="https://user-images.githubusercontent.com/521581/30683761-95036fce-9ea6-11e7-98ba-1fb62bd9703c.png">

I just first want to be sure we're taking about

[2017-09-21 14:50] alanhogan commented on #335
Yes, that’s exactly what mine looks like, too! thanks!

[2017-09-21 15:13] ptsochantaris commented on #335
Great, will take care to lighten that up a bit! 👍

[2017-09-25 17:15] cgatesman commented on #334
This is the feature I'm referring to.  I would like notification (the `!`) on PRs with new comments.  However, it is notifying me that there is a new comment when it's just me making the new comment.

[2017-09-25 17:37] ptsochantaris commented on #334
Ah, ok - so, the `!` symbol doesn't mean there is a new comment, it means there's a new commit, which is what may be confusing you. You can turn that feature off from `Preferences -> Comments -> Highlight PRs that have new commits so it doesn't bother you`.

Comments are marked with a number, which shows how many new comments there are on each item, and your own comments won't get counted as part

[2017-09-25 18:31] cgatesman commented on #334
Ah.  I guess I misread the option since it was under the "Comments" section.  However, I do believe this was coming up when I made a comment on a PR with no new commits added.  I'll have to double check that.

[2017-09-25 18:36] cgatesman commented on #334
Thanks.  I'll close this, and if I see any other problems around this now that you explained it to me, I'll just open a new Issue.

[2017-09-25 18:36] #334 closed

[2017-09-26 07:51] ptsochantaris commented on #334
Great, let me know how it goes.

I can definitely see how you could have misread that option - I'm not sure it was the best idea to have this option under "Comments" to be honest.

It's very easy to misread "commit" as "comment" in that context as one's mind is already primed by the other word. I'll make a note to move this option to "Display" where it more properly belongs.

[2017-09-27 19:50] ptsochantaris commented on #335
Hi @alanhogan

Here's a build with this change in it - it will be part of the next update.

It definitely makes more sense to have the repository name brighter like you suggest since, after all, in non-dark mode the repo name _is_ darker in order to specifically stand out more.

In short, the idea was to always have the repo name be "stronger" than the other items on that line. Not sure why I orig

[2017-09-27 21:05] alanhogan commented on #335
thanks!!

Looks good to me:
<img width="398" alt="screen shot 2017-09-27 at 2 04 27 pm" src="https://user-images.githubusercontent.com/6808/30937826-d469afc6-a38c-11e7-9663-62b7cc84e225.png">

The only thing I noticed is that it’s not great contrast now for _hover_, but that doesn’t matter as much.
<img width="398" alt="screen shot 2017-09-27 at 2 04 27 pm" src="https://user-images.githubuserconte

[2017-09-27 21:05] alanhogan commented on #335
<img width="429" alt="screen shot 2017-09-27 at 2 04 12 pm" src="https://user-images.githubusercontent.com/6808/30937854-f321bee0-a38c-11e7-8cb5-9155da118bd0.png">

oops, used the wrong screen shot at first. updated comment

[2017-09-28 02:08] ptsochantaris commented on #335
Ah, you're right, I missed that. In addition looking into this I was incidentally able to do some good code cleanup, finally fixed an ancient problem of scrollbar glitches, and also fixed an ugly High Sierra dark mode scrolling artefact 🎉 Seems like it's good to revisit ancient code after all :)

Here's a build with these fixes:
[Trailer.zip](https://github.com/ptsochantaris/trailer/files/1339185/

[2017-09-28 02:12] ptsochantaris commented on #309
Ok, so, to be fair, following up from my previous comment, macOS was doing its job fine in this case, I'm just bad at understanding the concept of composited vibrancy effects :)

This issue should now be fixed in the codebase and will be in the upcoming 1.6.1 update, but here's a build with this correction in the meantime:
[Trailer.zip](https://github.com/ptsochantaris/trailer/files/1339185/Traile

[2017-09-28 07:05] aik099 commented on #309
Confirming, that attached file solves the problem.

[2017-09-28 17:49] ptsochantaris commented on #335
Hi @alanhogan

[Version 1.6.2](https://github.com/ptsochantaris/trailer/releases/tag/1.6.2) is now up and includes these updates amongst other things. I'm going to close this issue for now but please feel free to create further issues if you spot other problems or have more suggestions!

[2017-09-28 17:49] #335 closed

[2017-09-28 17:49] ptsochantaris commented on #309
Awesome, thanks for testing it!

[Version 1.6.2](https://github.com/ptsochantaris/trailer/releases/tag/1.6.2) is now up and includes these updates amongst other things. I'm going to close this issue for now but please feel free to create further issues if you spot other problems or have more suggestions!

[2017-09-28 17:49] #309 closed

[2017-09-28 17:52] ptsochantaris commented on #333
Hi - just a note to let you know this issue is still on the TODO list, but a [Version 1.6.2](https://github.com/ptsochantaris/trailer/releases/tag/1.6.2) release was needed in the interim since it solves some important display issues in general, and in High Sierra specifically. I've moved the milestone to reflect this. Hope to get started on this soon.

[2017-09-28 18:30] JeanMertz commented on #333
Awesome, thanks for the update 👍

[2017-09-30 04:45] alanhogan commented on #335
Hey sorry, I didn’t notice the build you left here two days ago but I updated Trailer today and I noticed you enhanced the contrast even on the hover mode :) awesome. and i'm glad you were able to clean up some other things too. Really appreciate the fixes here. Super cool to see this line in the Sparkle dialog :)

<img width="620" alt="screen shot 2017-09-29 at 9 36 27 pm" src="https://user-image

[2017-09-30 19:01] ptsochantaris commented on #330
Hi @digiwano,

It's been a while, but here's a work-in-progress build of Trailer with a version of this feature added. It's less glamorous than the selection menu I originally envisioned, but then again this feature would only be useful in its capacity as the "Select..." menu entry above (otherwise the default web browser would just make sense), so I thought I'd skip the menu altogether.

You can

[2017-10-03 09:03] ptsochantaris commented on #335
You're very welcome indeed. Hope this makes your life easier!

[2017-10-16 12:11] MichMich opened #336 "Styling: Dropdown needs rounded corners at the bottom."
First of all: awesome work on this app! Very handy.

If you allow me to be a bit of a nitpick: every dropdown shown by a menu-bar item has rounded corners at the bottom of the dropdown. The trailer app dropdown has square corners, which looks like the dropdown is cut-off. It would be great if you could add rounded corners to the dropdown.

Timemachine dropdown:
<img width="329" alt="screen shot 20

[2017-10-16 13:37] ptsochantaris commented on #336
Hi @MichMich,

Thanks for pointing this out!

You know, in all this time, I hadn't noticed this 🤣

You're absolutely right, of course. I'll look a bit into the windowing API to see how I can make this happen (as Trailer is in fact a window and not a drop-down in a technical sense, even though it pretends to be one). If it's at all possible, I'll be sure to do it.

[2017-10-16 18:07] MichMich commented on #336
No worries ... it's not a big issue, so whenever you have time. Whenever you're working on the issue, you might want to adjust the background color to match the native color. It's slightly off.

Again, thanks for the great work!

[2017-10-24 15:33] ptsochantaris opened #337 ""Assigned for review" keeps re-appearing for the same PR"
Will investigate.

[2017-10-29 11:49] ptsochantaris commented on #330
Hi, I'm going to close this issue for now. Feel free to open new issues with feedback and/or suggestions on this feature, or anything else!

[2017-10-29 11:49] #330 closed

[2017-10-30 11:54] ptsochantaris commented on #337
Version 1.6.3 should correct this issue.

[2017-10-30 11:54] #337 closed

[2017-10-30 11:58] ptsochantaris commented on #336
Hi! Version 1.6.3 is now up and will show nicer rounder corners on the bottom edges of the window, as long as you're on macOS 10.13 - since the API required to do this (without deeper hacks) is only available there.

I definitely read your comment on the background colour, but I would worry about readability in Trailer in dark mode if the background became lighter, keeping in mind that it lists a

[2017-10-30 12:06] MichMich commented on #336
Nice work! Much better. Thanks for the quick update! :)

[2017-10-30 12:06] #336 closed

[2017-10-30 16:48] ptsochantaris opened #338 "Assigned PR for review not being moved to "Mine" section as selected in settings"
Will investigate

[2017-10-31 09:02] MichMich opened #339 "Unable to update"
When trying to update the application, I get the following error message:
<img width="532" alt="screen shot 2017-10-31 at 09 58 49" src="https://user-images.githubusercontent.com/210954/32215473-50a346a6-be22-11e7-9eb4-366666f8e54c.png">

The application is installed on the following location.

    /Applications/Trailer.app

The console shows nothing more than a similar error message

    default

[2017-11-01 16:12] timrs2998 opened #340 "Switch from GitHub's REST API to GraphQL API"
Trailer has to poll GitHub every so often for a ton of data. It has to make multiple requests to scrape repos, pull requests, issues, and so on (underfetching). Most of the data it gets back is likely unused as well (overfetching). Switching Trailer from REST to GraphQL will solve the overfetching and underfetching issues mentioned above.

I only bring this up because our GitHub Enterprise is bein

[2017-11-01 18:48] kamranayub commented on #340
Yes, please, I really love this thing. 🥇

[2017-11-01 22:48] ptsochantaris commented on #339
Hi @MichMich and thank you for reporting this.

I'm not sure what could be causing it. I haven't updated Sparkle recently on Trailer, so I don't think anything has broken there. And I do test app updates on my secondary machine to make sure they run smoothly after publishing an update, and it went fine.

Could this be a local system issue? Could your main drive be running some maintenance task? If

[2017-11-02 08:22] MichMich commented on #339
I've updated the app manually as you described. I'll keep an eye on the issue. If it comes back, I'll let you know. Thanks for your help.

[2017-11-02 08:22] #339 closed

[2017-11-03 09:25] MichMich commented on #339
@ptsochantaris I ran into a similar issue with an old version of google drive. It turned out the app wasn't compatible with the new AFS (APFS) in High Sierra. It might be possible that the trailer update problem is caused by the same issue. Did you test it on an High Sierra machine which uses the new APFS?

[2017-11-06 09:27] ptsochantaris commented on #340
Hi @timrs2998

I've wanted to adopt GraphQL for a while now. In fact [the command-line version of Trailer](https://github.com/ptsochantaris/trailer-cli) uses GraphQL exclusively to fetch its data.

That project was partly inspired by the desire to become more acquainted with the v4 API and see how/where it would improve desktop Trailer to move to v4, and also where it could potentially be a proble

[2017-11-10 22:31] spkane opened #341 "Missing Required Github Review not being displayed in PR CI/statuses"
Some PR's look like they can be merged because all checks have passed, even thought a Github review is required before merging.

https://help.github.com/articles/enabling-required-reviews-for-pull-requests/

[2017-11-10 23:36] #341 closed

[2017-11-10 23:37] spkane commented on #341
I found it. Not sure why I missed this the first time through the prefs.

[2017-11-11 20:22] ptsochantaris commented on #341
Great! I'm glad you found the pref you were looking for.

The prefs aren't exactly a walk in the park these days - a cleanup is needed at some point, so, apologies.

(That said, you're very welcome to open new issues with suggestions on how prefs could be improved!)

[2018-01-03 21:00] Luzifer opened #344 "Add opened PRs for non-watched repos"
Lets say I'm watching `Luzifer/.*` repos and now I contribute to `othermaint/project` opening a PR in my fork. What happens is this:

- A new fork was created at `Luzifer/project`
- Trailer detects my watch on `Luzifer/project`
- As `othermaint/project` is a quite popular repo it has many issues and PRs so I don't want to track all of them (too much noise)

As the PR is not targeted at my own repo

[2018-01-15 18:22] sammilechman opened #345 "Team mentions on review requests don't notify me"
Apologies if this is related to https://github.com/ptsochantaris/trailer/issues/277 but reading that, it seems like it might be a separate issue.

I've noticed that whenever my teammates request review using the team alias (ex. `Backend Team`), I never get any kind of notification through Trailer. I've confirmed that I am a part of this team on GitHub.

Any thoughts on how I can remedy this?

[2018-01-18 13:25] ptsochantaris commented on #344
Hi @Luzifer and thanks for the suggestion. Apologies for the rather late reply, winter is always a very busy time work-wise.

What you're saying definitely sounds useful - i.e. being able to track items relevant to you independently of which Repo they come from, but I'm not sure I can see how this could be done via the GitHub API. How would Trailer get notified about the creation of an item in a r

[2018-01-18 13:30] ptsochantaris commented on #345
Hi @sammilechman and sorry for the delay in replying.

I'm not sure if it's related to #277 - it might be, but it depends on what you mean by "requesting review" in this context. For instance, are they simply referencing your team in the PR description via a text edit? In that case that would probably be related to #277.

OTOH if they're posting a comment referencing your team, Trailer ought to be

[2018-01-18 13:37] Luzifer commented on #344
Nah, you understood it totally correct: It's about issues / PRs created by me towards other repos… Currently I'm using this search for this but of course this is a pull-method while Trailer doing this would be a push-method:

[`author:Luzifer state:open`](https://github.com/search?l=&o=desc&q=author%3ALuzifer+state%3Aopen&ref=advsearch&s=created&type=Issues&utf8=%E2%9C%93)

(Some more parameters f

[2018-01-18 13:43] ptsochantaris commented on #344
Cool, so basically this feature would be something like a switch that enables Trailer to also query items created by you, no matter on which Repo. This makes sense, and I think can most probably be added via the API (at the very least, there is the search query you have just provided for example :))

I'll definitely check this out and get back to you, but as a feature it definitely makes sense and

[2018-01-18 20:58] sammilechman commented on #345
Hey @ptsochantaris - thanks for the reply!

I am referencing when a team is assigned to a PR via the right sidebar at the top. Hopefully this image explains exactly what I mean.

<img width="949" alt="trailer" src="https://user-images.githubusercontent.com/6484380/35121106-2b833262-fc4f-11e7-91f4-540554164d06.png">

[2018-01-19 08:20] ptsochantaris commented on #345
Ah, I see! Thanks for the quick reply. In this case you're right: Trailer would not scan for teams there, it only scans for the current user, not their team(s). This must be a new feature from GitHub (and pretty useful!). I'll definitely look to see how/if this is exposed in the API and add it in, or get back to you on this thread if this isn't exposed in the API yet.

[2018-01-19 09:58] rsumner31 commented on #345
Thank you i been get ridof this signal   changing my vmwares to hacking me from the inside by remote ssh connect

[2018-01-19 18:23] ptsochantaris commented on #345
I know, don't you just hate it when the signal changing my vmwares to hacking me from the inside? Me too.

[2018-01-25 08:02] ptsochantaris opened #346 "Trailer indicator always red when checking for review assignments"
It looks like GitHub has broken the API response for review assignments (The paged endpoint returns a hashed response instead of a list of items) - adding a workaround.

Workaround for current builds: Disable review syncing completely by unticking all options in the "Reviews" tab for now. Updated build coming very soon.

[2018-01-25 09:06] ptsochantaris commented on #345
Hi @sammilechman - Seems that GitHub decided to pull the rug from under the review assignment API anyway, by completely changing the format. I just had to do an update to fix this issue, but while I was at it, I thought I'd also add support for the team assignments too. So in theory the 1.6.5 build that's up now should also fix the issue you are seeing. Please give it a go and let me know how it g

[2018-01-25 18:16] sammilechman commented on #345
Looks like it's working - thank you @ptsochantaris!!

[2018-01-25 18:16] #345 closed

[2018-01-25 23:37] ptsochantaris commented on #338
Seems corrected with the changes in 1.6.5

[2018-01-25 23:37] #338 closed

[2018-01-30 18:08] cogitor opened #347 "GHE with API 2.12 seems to be broken with 1.6.5"
I'm using the Mac OS version of the app with the company Github Enterprise server on API level 2.12.

Once I've updated to 1.6.5 I was not able to sync pull requests and issues on Trailer. Reverting to version 1.6.3 works.

[2018-01-30 18:11] ptsochantaris commented on #347
Ah, thanks for pointing this out. I have a feeling the Enterprise servers haven't yet caught up to the breaking change in the API that the new release catered for. I'll have to do a quick update to make parsing of that API backwards compatible. I'll try posting a fixed build here in a little bit for you to try our and see if it fixes things.

[2018-01-30 18:14] cogitor commented on #347
Sounds like a plan..  Thanks!

[2018-01-30 18:25] ptsochantaris commented on #347
Hi, have a go with this one and let me know if it corrects the issue. I wasn't able to test on a GE server directly, so I hope this won't blow up for you (if it does, just let me know and please keep using 1.6.3 while I dig deeper :))

[Trailer-1-6-6-test.zip](https://github.com/ptsochantaris/trailer/files/1678879/Trailer-1-6-6-test.zip)

[2018-01-30 19:49] cogitor commented on #347
Cool. Unfortunately I'd have to wait until tomorrow morning (CET). Hope
that's fine!

On Tue, 30 Jan 2018, 19:26 Paul Tsochantaris, <notifications@github.com>
wrote:

[2018-01-31 00:38] dylang commented on #347
Fixed it for me using Enterprise 2.12, thanks!

[2018-01-31 08:38] ptsochantaris commented on #347
@cogitor No worries, let me know how it goes for you (I'm on GMT anyway)

@dylang thanks for testing! Glad it's fixed for you. For the sake of speed and having this disrupt as few people as possible, I'll put out an update for this now with the assumption @cogitor's test will go well too, and if something breaks I'll iterate on it then and there.

[2018-01-31 08:40] ptsochantaris commented on #347
(PS for anyone using the build above, you won't get notified on this update, it will be the identical build)

[2018-01-31 09:34] cogitor commented on #347
@ptsochantaris sorry for the delay. The new version is working on my side as well! 👍

[2018-01-31 09:39] ptsochantaris commented on #347
Excellent! That's great to know. Update is now up for everyone else too, so thank you for reporting it and helping to fix it!

[2018-02-06 08:31] #347 closed

[2018-02-06 08:32] #346 closed

[2018-02-14 17:59] danwenzel opened #348 "Not updating - gets stuck on Refreshing"
I'm having an issue where Trailer is not updating.  I'm seeing older PRs, but X's for the counts next to the top bar icons, and the menu showing `Refreshing...` forever.  Quitting and restarting doesn't seem to work.

I'm in Trailer Version 1.6.6 (1470).  Let me know what other info you need from me, and if you can offer any troubleshooting advice.   Thanks!

[2018-02-15 08:33] ptsochantaris commented on #348
Hi @danwenzel and thanks for reporting this.

The first step in seeing what may be going wrong is logging Trailer's activity in the console, to see what or if some API call is failing, and why Trailer is not picking the problem up. You can activate it from Preferences -> Misc -> and tick "Log activity to console".

You can then track Trailer's sync activity in Console.app. Give it a try and try to

[2018-02-15 14:50] danwenzel commented on #348
Thanks for the debugging tips!

It looks like the sync hangs right after some 403 responses, and at that time the Trailer menu goes from reading "Refreshing... (x calls remaining)" to just "Refreshing..."

Here's the end of the log:

[code]

It looks like it's trying to pull some Issues for open source repos that I've filed.  I went ahead and turned all Issues to "Hide" in the preferences, and tha

[2018-02-15 15:04] ptsochantaris commented on #348
Ah, that's very useful, thanks for posting it!

That 403 seems to be causing bad behaviour for some reason - the HTTP code is a "permission denied" result. Normally non-200 responses from the API for PRs and Issues will be 404 or 410, which indicate that item is gone.

So the possibilities are that (a) that item is gone but the GitHub API has a new way of expressing it, so I need to make Trailer a

[2018-02-15 16:01] danwenzel commented on #348
Yes, I am able to access that issue in the browser: https://github.com/lytics/ember-data-model-fragments/issues/272

In fact, everyone should, as it's a public repo

[2018-02-15 17:14] ptsochantaris commented on #348
Interesting - so the issue is there, public, and accessible. But the API returns 403. So my first guess is that you may be getting rate-limited for some reason, especially if this is close to the end of the sync - but for whatever reason the sync should fail, so Trailer is sort-of responding to the 403 correctly, but this never seems to complete this sync (in a failed state)

I'll look into why th

[2018-02-18 21:16] thespacedoctor opened #349 "URL scheme to search"
Is there a URL scheme for pocket trailer? I found that `pockettrailer://` works to open the app, but it would be lovely to be able to use a scheme to search. For example I could use

`pockettrailer://open/?filter=bug`

to instantly view all my issues with the bug label.

Love the app BTW, especially the consolidated issue list.

[2018-02-19 04:49] ptsochantaris commented on #349
Hi @thespacedoctor and I'm really glad you like the app!

Your suggestion makes a lot of sense and would be easy to add, I'll add it to the TODO list.

[2018-02-26 06:36] aditigupta96 commented on #180
Hi, I am looking for this feature to turn off the comment notification for all watchers. Where can I find it?

[2018-02-26 13:10] rsumner31 commented on #180
[code]

[2018-02-27 15:47] itsthejb commented on #348
Same problem here. Ideally I'd rather just reset settings. Nothing revealing I could find in Console, but that's a bit tricky since Console.app filtering appears to be broken in 10.13.3...

[2018-02-27 17:01] ptsochantaris commented on #348
Hi @itsthejb are you also seeing an API endpoint hang like that? I know it's a bit of a mess, but if you _can_ take a look at the error code that the failed call provides, it would be a great help.

[2018-02-28 10:10] itsthejb commented on #348
@ptsochantaris The problem is it's a little hard to search Console.app. I didn't have much luck opening the Trailer app binary directly and logging to the terminal either...

[2018-03-01 16:13] spkane commented on #348
I'm seeing similar behavior. My instance of Github Enterprise (GHE) is not always available from my laptop, as it is on our corporate network. At least once this has been solved, by connecting to the network and then quitting and restarting Trailer, although I think that I have had times where this did not seem to help.

Maybe at least part of the problem is that it isn't retrying properly when ne

[2018-03-06 08:38] ptsochantaris commented on #348
Just to verify, are you sure you're NOT seeing this behaviour with 1.6.5 but seeing it with 1.6.6? If so, the only changes between those two versions has to do with review syncing. Can you try disabling review syncing (temporarily) to see if it fixes the issue? If it does I can zero in on those changes.

[2018-03-06 08:54] ptsochantaris commented on #348
Ah, I think I may have located the issue, and it IS on the code that's used to fetch reviews. In case of a review assignment API check that fails for some reason, sync will get stuck in limbo. This build contains the fix, which I'll put up as an update asap. It definitely fixes AN issue, and I hope it's specifically THIS issue too :) Please give it a go and let me know if it improves things:

[tra

[2018-03-06 16:22] danwenzel commented on #348
Thanks, @ptsochantaris .  I tried the new version and turned all my Issues back on.  It's still failing, but at least it's telling me now.  After trying to refresh for a bit, it's showing red X's and "Refresh - Last Update Failed"

The console log is below.  I think you may be right, and github may be rate-limiting me, causing the 403s:

[code]

[2018-03-06 16:33] ptsochantaris commented on #348
Good to hear it's at least "failing properly" now @danwenzel - I agree, I would say that you're probably being rate-limited by GitHub if you have a lot of items getting synced (it's annoying that GitHub has both a rate limit and call limit, and it seems the rate limit is being tightened, I may update Trailer to use slower polling to avoid this in the future if it starts occurring widely).

Can you

[2018-03-06 20:51] itsthejb commented on #348
Thanks all for looking into this! Have not had a chance to lend the help I wanted to. I'll see if I can run in the debugger before the end of the week as well

[2018-03-07 12:05] rsaunders100 opened #350 "Feature request: New section "Assigned to review""
### Rationale

If I add a comment on a review but I forget to complete the review it no longer say review requested.  This means if I use trailer to scan for outstanding review work I can miss a pending review.

Having a section named `Assigned to review` would simplift the workflow of checking for pending reviews. I would need to do everything in that list that does not say "@rsaunders100 approve

[2018-03-07 19:33] spkane commented on #348
I am now running 1.6.7 and so far so good. I will update this if I notice the application getting stuck again.

[2018-03-21 20:17] stackptr opened #351 "Use single notification for reviews comprising multiple comments"
Github allows a PR to be reviewed with comments left on several different areas of code. When this happens, Trailer seems to emit several comment notifications, one for each individual comment. It would be preferable to show a single notification for reviews in which the number of comments are summarized:

[code]

... And link to the `pull/:pr-id#pullrequestreview-:review-id` (containing all comme

[2018-03-23 11:48] sebflipper opened #352 "Dismissed reviews are shown as green approvals"
Trailer version 1.6.7 (1471)
macOS 10.13.3

[code]

Currently the pull request menu item is showing GitHub users that have previously approved the PR, but their approval has been dismissed.

[2018-03-26 22:46] GautamGupta opened #353 "Notify when merge conflicts arise on a PR"
This is very useful when a PR is open for review for a while and merge conflicts appear. Github itself currently has no option to notify the PR author. See https://github.com/isaacs/github/issues/224 for support.

Github's v3 API exposes this via the `mergeable` attribute: https://developer.github.com/v3/pulls/#response-1

[2018-03-26 22:47] GautamGupta commented on #353
Enabling this option could go under the `Statuses` tab.

[2018-03-27 08:06] ptsochantaris commented on #353
Hi @GautamGupta and thanks for your request. I have tried to do this in the past, I'm afraid, but GitHub's documentation is a bit misleading. While it does provide the `mergeable` attribute when requesting a PR record directly, it does not provide it when listing PR records for a repo.

This means that it's impractical for Trailer to query each and every PR record just to get that attribute - it w

[2018-03-27 18:18] GautamGupta commented on #353
Thanks for the super-detailed response Paul.

I'm trying to think if there can be constraints around this to reduce the # of requests made to Github.

 1. Open pull requests
 2. By me
 3. When last refresh datetime of `mergeable` status is < last commit datetime of `base` branch; or when last refresh datetime of `mergeable` status is < last commit datetime of `head` branch
 4. PR updated within th

[2018-04-18 15:18] dainkaplan opened #354 "Feature request: allow changing the GitHub server URL"
Awesome app! The server API URL is currently hardcoded. Could this be exposed as an optional configuration setting to allow custom GitHub instances?

[2018-04-18 15:31] ptsochantaris commented on #354
Hi @dainkaplan and thanks! Glad you like Trailer. I think what you need may already be there, as part of the `API Path` parameter on the server configuration tab of preferences? Apologies in case I have misunderstood your question, let me know if that's the case.

<img width="561" alt="server" src="https://user-images.githubusercontent.com/521581/38942109-e8cd9106-4325-11e8-8bfe-a39142ab656f.png">

[2018-04-18 16:33] dainkaplan commented on #354
Super! User error 😅 The initial window did not make it apparent there were other options to set (I did look for a "preferences" menu option, but didn't see one.) All sorted, thanks!

[2018-04-18 16:33] #354 closed

[2018-04-18 19:28] jeffreyk opened #355 "Participated filter doesn't seem to be working"
I have setup a watched repository with a participated filter for pull requests but I am not seeing pull requests that show me as a participant on github. I have no filter on author based hiding. Maybe I am doing something wrong? Currently to see those pull requests I have to change the filter to all.

[2018-04-19 08:15] ptsochantaris commented on #355
Hi @jeffreyk - The "Participated" section will show items which you have added comments to by default. There are also options to add items there which, for example, mention you or your team, have review requests, etc. These are all controlled from preferences. This section isn't related to what GitHub may consider "participated" - I'm not sure what criteria may apply there. If you think that the l

[2018-04-19 17:25] jeffreyk commented on #355
Thanks for the quick response!

I think the way github defines participated is if I made a commit. I don't know about other people, but I think it would be nice for trailer to more closely align with the github definition of participated.

Though ultimately I would like to be able to follow only pull requests that I opened or paired on. Is adding a comment and setting the filter to participated th

[2018-04-23 16:55] mbednarek81 commented on #354
I also did not find it obvious how to configure my Github Enterprise URL from the Quickstart screen. I did not realise I could close Quickstart and open Preferences from the little icon at the top!

[2018-04-24 06:08] dangitall commented on #318
FWIW, I haven't seen this issue in a long time. It's probably safe to close if you're so inclined!

[2018-04-24 06:14] ptsochantaris commented on #318
Hi @dangitall - that's great to hear, and thanks for keeping me updated! I'll close this for now, then, and feel free to open further issues if you encounter any more problems related to this or anything else.

[2018-04-24 06:14] #318 closed

[2018-05-31 15:45] michaeldavis-wf opened #357 "Add participated-in PRs from unwatched repositories"
Our organization has hundreds of repositories, and trying to follow all of the repositories that I could possibly be tagged on for input is impossible. Additionally, I would quickly blow through my API rate-limit constantly fetching updates from all of those repositories.

The [notifications API](https://developer.github.com/v3/activity/notifications/) provides information about conversations in u

[2018-06-05 11:19] ptsochantaris commented on #352
Hi @sebflipper and apologies for the late truly. Thanks for pointing this out, will definitely look into it soon.

[2018-06-05 17:08] michaeldavis-wf commented on #357
Hey @ptsochantaris, thanks for the thought out reply.

To add some context, I wanted to give you a few numbers and explain how some of our process works. I underestimated the number of repositories. Our organization has just over 1,400 repositories total. Of those, hundreds are active. As of this post, 83 have been active in the last hour. Note that this doesn't count the number of forks that peop

[2018-06-06 19:09] cgatesman opened #358 "PR highlighted when I approve a PR"
I am finding that PRs are highlighted much more than I care.  For example, if I see that there are unread comments counted on someone else's PR, and I drill to that PR and ultimately approve the PR changes, Trailer then ends up showing the Issue marked with an exclamation point.  I don't know if this is due to the setting "Highlight PRs that have new commits" and it is counting approvals as a comm

[2018-06-11 07:36] rossgardt opened #359 "Notification banners flash up and disappear immediately"
Quite often, I see notification banners flashing up in the right top corner. They disappear immediately. When I then click on the Trailer icon in the menu bar, there is no update. So, I guess these are notifications from objects (i.e. PRs, issues, etc.) that I excluded from my filter.

Does someone else experience this issue too?

Best,
Benedikt

[2018-06-11 08:05] ptsochantaris commented on #359
Interesting! Please keep an eye on this and let me know if you have a better idea of where they may be from (or: why they should not have appeared in the first place, I guess :))

[2018-06-11 08:23] rossgardt commented on #359
Okay Unfortunately they are too fast to click them 😜

[2018-06-12 07:26] Samemura opened #360 "Can I hide some items ?"
Hi, I love trailer on everyday.

Sometime, I muted an item to ignore for my mind. It is shown as light gray but still there is.
On my lists, muted items are increased and use large area. So I would hide muted items, or any way to hide that ??

[2018-06-12 08:55] ptsochantaris commented on #360
Hi @Samemura - great to hear you're loving Trailer!

What you're trying to do sounds like it can be achieved indirectly. Set up a snoozing preset and do not specify a wakeup time. Also deactivate the options to wake up immediately on a certain event. Then also choose "hide snoozed section", and apply this to any items you want to "hide" this way via the context menu. That should do it.

See screen

[2018-06-12 23:38] Samemura commented on #360
Hi @ptsochantaris , thank you so much for quick response.

Your suggestion makes me happy ! Actually, I was not understanding what purpose of snooze is, but it is good feature like time limited mute/hide items I felt. Maybe some people wants to know this.

Anyway, thanks again, and I keep with Trailer !

[2018-06-13 07:36] ptsochantaris commented on #360
That's great to hear, I'm glad you're finding it useful! As per your suggestion, an FAQ would make sense at some point, I agree - will keep it in mind. Closing this for now - but as always if you have suggestions or thoughts on how this feature can be improved feel free to open more issues.

[2018-06-13 07:36] #360 closed

[2018-06-17 10:55] Luzifer opened #361 "Request: Allow hiding archived repos"
Now that Github allows to archive repositories owners can freeze the state of a repository which also includes frozen issues. Those issues are still open but can't be edited even by the repos owner without previous un-archiving the repo.

While those issues are frozen it makes no sense to have them in the list of "active" issues and PRs. Therefore an option (or even default behaviour?) to hide iss

[2018-06-19 09:50] rossgardt commented on #359
I cannot really do anything about this and I also cannot provide any further information.
My assumption is that the flashing banners are from objects that I filtered out via the preferences.

For now, I will close this PR due to the lack of information.

[2018-06-19 09:50] #359 closed

[2018-07-01 17:11] ptsochantaris commented on #361
Hi @Luzifer and thanks for the suggestion! Sorry for the late reply, my presence from Trailer has been lacking a bit lately, and I'm now looking to catch up a bit.

This definitely makes sense and the attribute is exposed by the API, so it's a simple addition. Can you try out this test build if you have some time at some point? The option you're looking for is in the "Advanced" window under the "R

[2018-07-01 17:14] ptsochantaris commented on #358
Hi @cgatesman and sorry for my slow reply. Time has been very limited recently and Trailer has fallen behind a bit. I'm working on catching up :)

The mark you are seeing is indeed from the option "Highlight PRs that have new commits". In order to keep bandwidth and API use low, Trailer checks the SHA of the latest commit to the branch, and something is triggering that. I've seen this happen on my

[2018-07-01 19:31] ptsochantaris commented on #352
Hi, sorry for the rather large delay in looking into this. I've tweaked the code that selects the latest review status and this build should fix the issue you have seen above. I did notice a hiccup though, which implies there may be sync issues which don't push down dismissals in some occasions, but it only happened once, it seems to work well otherwise. Here's a test build which you can try out i

[2018-07-02 08:43] ptsochantaris commented on #333
Hi again, sorry for the ridiculous wait on this. In my defence all I can say is that this has been a crazy year, and I don't say that lightly :)

This test build should have a testable version of this feature. When you have some time, can you give it a go and see if it works as expected?

[Trailer-168-3.zip](https://github.com/ptsochantaris/trailer/files/2154462/Trailer-168-3.zip)

[2018-07-02 09:58] sebflipper commented on #352
Thanks for the update! :+1: I've updated to this version and I'll check if this fixes it for new PRs.

[2018-07-02 13:19] effektz opened #362 "New watched repos are not showing up, new personal access token shows 0 repos"
I've been using trailer for years and has always worked well. Recently I watched 2 new repos and after weeks, they will not show up in the "Repositories" list. Today I tried replacing my Github personal access token with a new one inside Trailer, and with that new token I get a message saying "You have no watched repositories, please add some to your watch list and try again", and none of my watch

[2018-07-02 13:33] ptsochantaris commented on #362
Hi @effektz - First off, just in case, try restarting Trailer. See if the repositories show up in the preferences Tab. If not, I'm guessing there may be a permissions issue with your token (and/or it may be a different account?) Try giving it more (all?) permissions just in case - GitHub may have altered permissions needed to get the subscription list for you. This is also partly corroborated by t

[2018-07-02 13:40] effektz commented on #362
I just finished reading this comment https://github.com/ptsochantaris/trailer/issues/311#issuecomment-285745057 and after also removing the app, and all of teh foldres and files listed in the comment, trailer is now seeing all the repos it couldnt find last time, and the green "API Use" bar in the servers tab is also functional again. Might be worth adding an option to "Start from scratch" so if t

[2018-07-02 13:44] ptsochantaris commented on #362
Hm, well, I'm glad it was fixed, whatever it was :) You're right about the reset option, it's something I've had on the TODO list for ages, and I should add it at some point - i.e. nuke everything and start from scratch - although I'm glad that these incidents are very rare (still? :)) This may be a good "nudge" for me to get onto that sooner rather than later 👍

[2018-07-02 13:58] cgatesman commented on #358
Thanks!  Completely understand other things in life can take higher priority, at times.  I'm glad to hear you haven't abandoned us, though.  You have created a great tool for us! 🍻

[2018-07-02 14:01] effektz commented on #362
Thanks @ptsochantaris for the quick response and for all the time you've put into the Trailer app! :)

[2018-07-02 14:01] #362 closed

[2018-07-05 16:18] Luzifer commented on #361
From what I can tell after running the new version for around 3 days now: It works great and auto-hiding archived repos also works like a charm! 👍

[2018-07-05 16:21] ptsochantaris commented on #361
Fantastic! Thanks for testing @Luzifer! I'll push out the update soon with some other changes too. Feel free to keep using this build - you'll get notified when the "final" one is up and I'll also give a shout here.

[2018-08-02 07:49] martinth opened #363 "I want to buy you a beer, but I can't"
Hey there.

I really love Trailer and introduced it so multiple of my colleagues and it has really improved our workflow. I noticed that their is no "Donate" option or anything like that.

I just want to show my appreciation for your great work and I feel a simple "thank you" isn't enough.

P.S.: Doesn't have to be beer ;)

[2018-08-02 09:04] ptsochantaris commented on #363
Hi @martinth and thank you so much for your nice comments, I really appreciate them, and I'm really happy to know that Trailer is making your life better to whatever degree it can! I try to keep an eye out for suggestions and/or new features, so feel free to post ideas on how to improve it, if you have any.

On the issue of a donate button, I have considered it, but ultimately decided that the has

[2018-08-14 09:43] jegnux opened #364 "Re-arranged cell and Mojave Dark Mode"
Hi @ptsochantaris

I discovered your app and was really surprised by it. It's very complete and helpful.
As I'm on Mojave and use dark mode a lot, I noticed that Trailer wasn't compatible.
So I forked the project and make it work.
I also took the opportunity to change a little bit the UI to have more contrast (especially in dark mode) and bigger text. I also added the Pull Request number to fit my

[2018-08-17 07:44] dgmora opened #365 "Status filters not working properly"
Hi, first of all thanks for the awesome app!

I was trying to filter the status check to show only steps that failed or running. Say I have these two statuses:

<img width="368" alt="screen shot 2018-08-17 at 09 41 10" src="https://user-images.githubusercontent.com/3609616/44254008-c21abf80-a201-11e8-8432-649d5dea04cd.png">

With these settings:

<img width="532" alt="screen shot 2018-08-17 at 09

[2018-08-17 07:44] benedikt-roth opened #366 "Who updated the PR?"
Hi! Recently, I am finding myself confused by the way on how updates are being displayed in the Mac OS X menu bar. An example:
<img width="441" alt="screen shot 2018-08-17 at 09 38 29" src="https://user-images.githubusercontent.com/234840/44253947-95ff3e80-a201-11e8-96ed-23fff3450ced.png">

It literally says "`@GauSim` updated Today at xxx". It looks like `@GauSim` updated the PR. But in fact the

[2018-08-19 23:48] ptsochantaris commented on #365
Hi @dgmora and thanks for reporting this. I think I see the problem you're reporting - basically, if I understand correctly, the statuses that are being filtered, even though they contain the string you have provided, shouldn't appear because they are past statuses and not current statuses of the PR, have I got it right?

[2018-08-20 00:11] ptsochantaris commented on #364
Hi @jegnux and sorry for the slow reply - things are a bit busy right now.

I really like the idea of showing the PR number in the title, provided there was an option for it, and better support for dark mode on Mojave sounds really good - if you want to PR these just be sure that your changes are compatible all the way back to the earliest version of macOS supported, I know this API can be tricky.

[2018-08-20 00:11] #361 closed

[2018-08-20 00:17] ptsochantaris commented on #366
Hi @rossgardt - I think you're right. I probably wouldn't create a new line (that would stretch out the PR/Issue lists) but it does make sense to perhaps move the phrase somehow, or make it less ambiguous, as the spacing there isn't exactly the pinnacle of UX design :) I'll definitely think about this and try to improve the situation there.

[2018-08-20 06:34] dgmora commented on #365
Hi @ptsochantaris, I think that's probably the cause, yes 🙂

[2018-08-23 10:23] domgreen opened #367 "Linux Port"
Really enjoyed using trailer on MacOS but on my Linux machine cannot find a tool that is anywhere near as polished.

[2018-08-27 21:06] ptsochantaris commented on #367
Hi @domgreen!

I've often thought about a theoretical Linux port, but that would basically involve re-writing the whole app. There is no common infrastructure between the AppKit/UIKit/CoreData stack used in the macOS and iOS versions and Linux, except the network handling as part of Swift's Foundation layer. As a part-time open-source project, I would not be able to find any time even close to wha

[2018-09-01 00:20] jaredreynolds opened #368 "1.6.9 using a lot more GitHub API volume"
I upgraded from 1.6.8 to 1.6.9 when prompted and now Trailer keeps notifying every hour about approaching the GitHub API usage limit. Admittedly, I watch a large number of repos but 1.6.8 didn't seem to have this problem. I changed my refresh rate from 120 to 240 but am still getting the warning--possibly indicating at least 2x more volume. My coworkers who recently upgraded are also reporting thi

[2018-09-01 00:46] ptsochantaris commented on #368
Hi @jaredreynolds - thanks for reporting this. 1.6.9 does indeed have some changes on the networking side which could be related. Basically, it got rid of code in 1.6.8 which was basically a local caching layer, and now relies on the macOS/iOS system caching for HTTP calls. The reason is partly that the code was a bit flakey, complicated to maintain and debug, and that it seemed to totally break i

[2018-09-04 20:25] jaredreynolds commented on #368
Thank you for the very quick response and fix!  I'm testing the new version now and it looks great!  As mentioned, the first pull to populate the cache used a lot but now it's using practically nothing.  👏

[2018-09-04 20:25] #368 closed

[2018-09-12 19:27] stembrain opened #369 "Show source branch name for PRs"
Hello,
first of all, I love trailer. its one of my all-time greatest tools, an essential for productivity as a developer.

 unless I'm missing something, the UI displays the destination branch of the PR, but does not show the name of the source branch. Is that possible to show , optionally? The source repo name alone gives good information and context some times.

Cheers,

David

ps looking forwar

[2018-09-18 20:53] pnarielwala-tc opened #370 ""Approved by me" status not showing"
Hello!

First of all, this is an amazing app! Improved my productivity greatly and I've been able to see and review other's pull request more quickly!

I've noticed that a feature that had worked before seems to not work fully anymore: When I approve someone's pull request, I used to get `@pnarielwala-tc approved changes`. Now they don't appear anymore even though I _do_ see if other people approv

[2018-09-18 21:52] ptsochantaris commented on #370
Hi @pnarielwala-tc and thank you so much for your kind words, I'm really happy you're finding Trailer useful!

What you mention is interesting - looking at my "test" PRs in my test repo, I have a feeling that you're right. This may be an API change from Github I need to catch-up with, or a straight-out regression from my end.

Thank you for letting me know, I'll look into it soon. I definitely agr

[2018-09-18 22:09] pnarielwala-tc commented on #370
Awesome, thank you!

[2018-09-19 08:00] ptsochantaris commented on #370
Hi, so just a quick update - I did have a look at the PR I mentioned yesterday, but it turns out Trailer was doing the right thing, as my approval down the line had been dismissed by my test user, so Trailer was hiding that approval correctly. Re-approving that test PR seemed to do the right thing, i.e. it's showing as `@ptsochantaris approved changes` for example.

It's interesting that you're no

[2018-09-19 21:26] pnarielwala-tc commented on #370
Hello! So it seems like it's working now! Maybe something github fixed on their end? I'll mark this closed, thanks for looking into this!

[2018-09-19 21:26] #370 closed

[2018-09-21 17:49] WhiteBoardDev commented on #363
I installed trailer yesterday and it already cut down a lot of communication overhead about changes to PRs etc. Thank you for building this! Hopefully I can get some time to contribute back to the repo sometime as a thank you.

[2018-09-23 18:19] ptsochantaris commented on #363
Hi guys and thank you so much for your kind comments. I'm really glad Trailer is being useful for you. Any and all contributions are very welcome indeed. Development pace on Trailer has slowed a bit from my end recently, as work this past year has been keeping me very busy, but my TODO list, based on all the great suggestions and requests that show up in this repo, is still growing, and I hope to

[2018-09-25 13:29] ptsochantaris commented on #369
Hi @stembrain and sorry for the ultra-slow reply. What you're saying makes sense, if this info is available on the API. There can be an option to display something like `steambrain/trailer → ptsochantaris/trailer` in the repo display line, if the two repos differ. I'll definitely look into it and see if this info comes from the API.

[2018-09-27 15:16] stembrain opened #371 "Trailer hard to read in macOS Mojave's dark mode"
![image](https://user-images.githubusercontent.com/1630902/46156110-c1d10380-c246-11e8-996e-da88e002512c.png)

Workaround: dont user mojave dark mode

[2018-09-28 07:01] ptsochantaris commented on #371
Ah, thanks for reporting this. There are specific colours which Trailer is supposed to use in dark mode for these, which are a more vibrant green/yellow/red for statuses, for instance. It uses them in the "old" dark mode for example. Interesting that it's not using them in the "new" dark mode - clearly I missed something when tweaking. Will fix asap.

[2018-09-28 07:38] ptsochantaris commented on #371
Here's a build that may improve the situation, let me know your thoughts and/or suggestions. I'll put this out as an update a little later on as well, but I thought I should let you sanity-check it first, as I see you are a heavy CI-status user 👍

[Trailer-1612-rc.zip](https://github.com/ptsochantaris/trailer/files/2427221/Trailer-1612-rc.zip)

[2018-09-30 14:27] ptsochantaris commented on #371
Version 1.6.13 is now out which features this addition. I suggest you try it out directly and skip the dev build above :)

[2018-09-30 15:54] stembrain commented on #371
![screen shot 2018-09-30 at 11 52 50 am](https://user-images.githubusercontent.com/1630902/46259447-8ed97a80-c4a7-11e8-8e78-5e207690cf66.png)

looks better! rock on, Paul!

[2018-10-02 09:31] tbutterwith commented on #348
Hi, I wanted to note that this issue remains for people using github enterprise. version 1.6.7 works but anything after that hangs on refreshing indefinitely. I can provide logs if needed. Thanks.

[2018-10-02 10:34] ptsochantaris commented on #348
Hi @tbutterwith and thanks for letting me know. I would very much like to look into this. Could you create a new issue specifically about GitHub Enterprise and attach a log of the API calls made using the latest version (1.6.13)? I'll look into it asap.

[2018-10-02 10:54] tbutterwith opened #372 "Stuck refreshing when using github enterprise with single-sign-on"
When using 1.6.13, the app hangs on refreshing and never finishes. This issue is not present in 1.6.7 but can be found in all later versions.

**Logs:** https://gist.github.com/tbutterwith/72d385d5eab3218cf5af881042f40cac

[2018-10-02 10:58] ptsochantaris commented on #372
Thank you for creating this issue @tbutterwith ! One small point - there may be a permission tweak needed for the above gist, as I get a 404 when trying to access it.

[2018-10-02 11:00] tbutterwith commented on #372
Apologies. I realised I left some internal urls in there that would be best to remove. You should have access now.

[2018-10-02 11:03] NarendraTopsInfo commented on #372
Thank you. Now it’s Working.

[2018-10-02 11:28] ptsochantaris commented on #372
I spotted a potential hanging issue in the API code when you have an extra API server that's not configured (it may have no token, for instance) and I was wondering if this may be the case. Can you try this build (it's identical to the official build, just with this bit tweaked) to see if it improves the situation at all?

[trailer-test.zip](https://github.com/ptsochantaris/trailer/files/2437615/t

[2018-10-02 11:43] ptsochantaris commented on #372
Interestingly enough, I spotted this case in other bits of the code too, so I've fixed those cases too. This build contains those bits as well. When you have a moment, please do have a go and let me know in case it was this that was causing you the problem:

[trailer-test-2.zip](https://github.com/ptsochantaris/trailer/files/2437662/trailer-test-2.zip)

[2018-10-02 12:04] tbutterwith commented on #372
The issue is resolved in that latest build. Thanks for the unbelievably quick response.

[2018-10-02 12:08] ptsochantaris commented on #372
Ah, excellent! I'm glad that's what it was. It was a bit of bad coding from my end, it turns out, but at least I'm quick at fixing my mess :D

Thank you for reporting and testing it. I'll make sure I didn't cause some silly regression later on with my tweak and push this binary out on auto-update later today 👍

[2018-10-02 12:10] ptsochantaris commented on #348
Just a note - this more recent issue is continued here: https://github.com/ptsochantaris/trailer/issues/372

Closing this specific issue for now.

[2018-10-02 12:10] #348 closed

[2018-10-15 14:06] Davidslv commented on #371
Hi @ptsochantaris I'm having a similar problem with the hovering of an item, the colour scheme seems to have changed and it's a bit hard to read

![screen shot 2018-10-15 at 15 04 22](https://user-images.githubusercontent.com/136777/46955842-c3465c80-d08b-11e8-8aa2-2fa440efe219.png)

Although I'm on 10.13.6

Thank you :)

[2018-10-16 15:50] vytis opened #373 "Statuses from GitHub checks are missing"
We have some services integrated through GitHub Marketplace and it seems that these status items are not displayed in the summary.

In preferences I have "Show all status items" and I see this:

![screen shot 2018-10-16 at 17 48 13](https://user-images.githubusercontent.com/33914/47029428-d0d31380-d16b-11e8-93ab-a42f31db7ddb.png)

While on GitHub there is "Build and Test" which is missing in Trail

[2018-10-16 16:01] ptsochantaris commented on #373
Hi @vytis and thanks for reporting this!

This is very interesting, and I see that your PR is public, so I'll take a look at the API and what it's sending down to try and solve the mystery. Will keep you posted!

[2018-10-17 10:11] vytis commented on #373
Thanks for checking it! I tried getting statuses from the API and saw the same result - checks are missing... This is quite unfortunate, but it definitely makes sense to avoid working with preview APIs. With so many announcements on the GitHub's conference in this area maybe there will be something new coming.

[2018-10-17 10:19] ptsochantaris commented on #373
Indeed - although I should say it DOES make a lot of sense to support checks as a future feature, I'm just being a bit cautious about jumping in too early. I did this for reactions and reviews last year and it ended up causing some headaches... In any case thanks for being understanding about this. I'll keep an eye out for this API, but also if you notice it stabilising, please DO give me a shout

[2018-10-18 08:32] ptsochantaris commented on #371
Ah, nice! No, it's fine, if you're not getting the issue anymore, then all is well that ends well! :) I'll close this larger issue in a little bit though, since it has been corrected, so feel free to open a new one if you encounter this issue again (or anything else, for that matter!).

[2018-11-20 01:21] dotKev opened #374 "Display issue or pr id number"
Feature request: our team always uses issue/pr numbers to reference our tickets. It would be great to have the option expose that in the issue/pr title. I see that it's available when I right-click, but seeing it at a glance would be fantastic.

[2018-11-20 09:39] ptsochantaris commented on #374
Yes, this makes total sense, it's super-easy to add, and I've wanted to add it for a while. There was a contributed PR recently that was going to add it as part of wider changes, so I held off doing it myself, but that PR seems to have stalled. So, let me just add it in right now. Here we go:

[trailer1615-test1.zip](https://github.com/ptsochantaris/trailer/files/2599039/trailer1615-test1.zip)

To

[2018-11-20 17:32] dotKev commented on #374
I'm impressed with the fast turnaround!
I've been using the filter to find issues quickly, but the visual cue is great for at-a-glance reference.

Putting the number at the beginning is best for my needs. You may try making the text the same color as the time and without a dash. This way it can be differentiated from the actual, entered title. The current implementation is fine though.

[2018-11-21 16:34] ptsochantaris commented on #374
v1.6.16 is out now with this change, it should show up on auto-update. Also, I agree with your suggestions above and have integrated them into that build :) 👍

[2018-11-21 17:05] dotKev commented on #374
Perfect! Thanks.

[2018-11-21 17:05] #374 closed

[2018-11-21 17:12] dotKev opened #375 "Feature request: snoozed items"
Is it possible to have the option to _not_ count snoozed items in the menubar count? Perhaps it would make sense on the _Snooze_ preference pane?

I need to dive into Xcode so I can contribute to this project. :-)

[2019-01-08 17:46] zenangst opened #376 "Keyboard shortcuts not working when menubar is hidden"
Hey folks,

First of, loving app... I've been looking for something like this for some time now.
However, I've run into an issue with the keyboard shortcuts not working if the menubar is hidden.
I can dig into the source code and try to come up with a fix if you accept PR's.

[2019-01-08 17:52] ptsochantaris commented on #376
Hi @zenangst and thanks for reporting this, and your nice comments about Trailer!

I'm very happy to accept PRs, or if you have trouble locating what's breaking I can take a look - let me know how you get on!

[2019-01-11 11:21] #320 closed

[2019-01-31 15:11] stembrain commented on #371
Hey @ptsochantaris , I'll close this since I filed it. its good now.

[2019-01-31 15:11] #371 closed

[2019-01-31 15:14] stembrain opened #379 "Show name of team that PR requests review from"
Trailer is so awesome. I have a small request, I don't know if its an API limitation.

If I tag individuals in my org as reviewers on a PR, Trailer displays whether or not they've approved etc:
![image](https://user-images.githubusercontent.com/1630902/52063471-bcf7c580-2540-11e9-9e5d-889a3b9c6e53.png)

But if I tag a team, trailer displays nothing. This causes me to ask myself "Did I forget to as

[2019-01-31 15:14] stembrain commented on #379
This seems different than https://github.com/ptsochantaris/trailer/issues/277

[2019-02-01 01:41] j-martin opened #380 "Feature - Allow to pick number as a global hotkey"
Right now only letters are supported. F-keys and other symbols might be relevant too.

[2019-02-01 08:43] ptsochantaris commented on #380
Thanks for the PR @j-martin!

I'll take a look at it ASAP just in case some tweak may be needed (due to some spaghetti logic in the Trailer code, *not* your PR :)) and let's get it merged soon 👍

[2019-02-22 00:42] axemaster commented on #296
+1 "_Thanks for taking the time to look at the GitLab API_"
I would also be interested in GitLab compatibility.  I am just noting this to show there is interest.

[2019-03-14 16:43] cgatesman opened #382 "Feature Request: Draft Indication/Grouping"
It would be nice to have an indication that a Pull Request is a Draft or an ability to group them separately.

[2019-03-18 19:18] outdooricon opened #383 "Stuck with `X` when the dropdowns show content"
I've just upgraded to Mojave and now i don't get numbers showing up anymore in the bar, only `X`. When i select the dropdown however, I see PR's show up. Also, I have an internet connection.

![Screen Shot 2019-03-18 at 2 16 54 PM](https://user-images.githubusercontent.com/730594/54557188-8a871800-4988-11e9-96cb-ddcc3bed2134.png)

PS - I love this app, thank you for creating it.. it saves me a lot

[2019-03-18 19:25] ptsochantaris commented on #383
Hi @outdooricon and thanks for your kind words. "X" means the last sync has failed for some reason. You can get more info by turning on "Log activity to the console" from the "Misc" tab in preferences and check what calls may be failing there. If you like, feel free to post the failing calls here and I can try to let you know what they may relate to. (Also, be sure that your API quota is good, you

[2019-03-18 19:29] ptsochantaris commented on #379
Hi @stembrain and sorry for my very late response. You're right, this is separate from that issue. I'll need to investigate the API to tell you more about whether it's possible to make this tweak, and time has been a bit limited recently as you can tell. However, I'll try to look into this soon and let you know. If you are able to see what the API returns in such cases, it would definitely help sp

[2019-03-18 19:32] ptsochantaris commented on #382
Hi @cgatesman and sorry for the slow reply - I see that GitHub's API does provide a flag to identify a PR as a draft, I'll definitely look into how practical it is to support it (as it's a beta API feature currently) and follow up soon 👍

[2019-03-19 13:04] outdooricon commented on #383
Thank you for pointing me in the right direction! I checked my api limit and it looks fine. I selected "log activity to console" but no console ever showed up for me to see. However, since you guided to it being related to sync failures, I've reset my access token and when I did that and added the new one, Trailer wiped out my watched repos list. I've noticed that if i add too many at a time, I ge

[2019-03-19 13:13] ptsochantaris commented on #383
Ah, sorry - the console I referred to was the system one (Console.app on macOS) - sorry for not being more specific.

Indeed, Trailer will reset all data for a server if you change the auth token, since that token could potentially be related to a different account, so it needs to sync everything "fresh" at that point, or risk corrupting all the local data.

I'm glad that things are unblocked for

[2019-03-19 20:55] jakeswenson commented on #383
I am also getting these `X`'s in mojave, seeing this in the logs:
[code]
not sure what is going on yet. looks like the tasks were canceled... because of timeout?

[2019-03-20 07:00] ptsochantaris commented on #383
Hi @jakeswenson - those logs are mostly system messages. What we need are more log lines that show the API activity (for instance, the "Starting refresh" line is a good one, but we need to know what happens after that)

My theory is that GitHub may have changed its API and it's breaking something, which I may need to tweak client-side. Look for something like "Wrapping up sync" and any failure mes

[2019-03-20 15:38] outdooricon commented on #383
@ptsochantaris I'll go ahead and close this. Through slowly adding my repos again, it's ben staying in sync. I also noticed that if i move a repo under a new org, I get the X until I remove that old repo. So, now that I'm aware of those two things, this issue is solved

[2019-03-20 16:11] ptsochantaris commented on #383
Great to know @outdooricon, thanks for the update - let's keep the issue open for the moment as I'd like to see if @jakeswenson has any further feedback, I'll close it later on if there's no progress.

I'm noting the issue on moving repos between orgs - I can see how the issue could occur, and putting a TODO item to myself to see how Trailer can protect from it.

[2019-03-20 19:34] jakeswenson commented on #383
I'll try and get more logs today,  thanks for keeping this open

[2019-03-20 21:48] bwebster commented on #382
Our team uses the draft feature on all PRs.  Having some sort of ability to group them or filter them out would be great!

[2019-04-01 12:00] kamilpp opened #384 "Not all repositories are added while using wildcard for the organisation"
Hey, apologies if this issue has been already reported, I could not find anything related or explain this behaviour.

When I add all repositories from the organisation for another time:

![Screenshot 2019-04-01 at 13 15 30](https://user-images.githubusercontent.com/26869324/55325505-947b4180-5485-11e9-955c-0d8564eb820a.png)

none additional is added (right now there is about 60 listed in `Trailer`

[2019-04-01 21:20] darend commented on #384
Ive encountered the same issue, but have not found a reliable solution

[2019-04-03 08:29] kamilpp commented on #365
Hey, we see this issue still occurring (1.6.16). This is really useful feature so would be awesome to have it working right 👍

[2019-04-03 08:37] ptsochantaris commented on #365
Hi, and thanks for the bump. I haven't been able to look into any Trailer issues at all recently because of an overwhelming amount of work. All these are definitely in the TODO list and I'm hoping to get to them soon once I have a little more free time. (Worth noting that, in the meantime, PRs and suggestions are of course more than welcome!)

[2019-04-18 15:54] kamranayub opened #385 "Not seeing PR dropdown for public repositories"
I have two GH servers configured, one for GHE internally and one for my public GH account.

Here's an example public PR I have open right now: https://github.com/excaliburjs/excaliburjs.github.io/pull/29

And in Trailer I've configured this repo to watch:

![image](https://user-images.githubusercontent.com/563819/56374142-1bd7ed00-61c8-11e9-8e4a-33e68fe134b7.png)

But in my Mac status bar, I do no

[2019-04-18 15:55] kamranayub commented on #385
By the way I am seeing the same issue for my GHE PRs right now too; I have two open but no dropdown to view them. But I thought it'd be easier to diagnose a public problem.

[2019-04-18 16:26] kamranayub commented on #385
Oh my. This was the culprit 😄

![image](https://user-images.githubusercontent.com/563819/56376139-bf2b0100-61cc-11e9-9cc1-cd5cdd67eb5d.png)

[2019-04-18 16:26] #385 closed

[2019-04-18 21:24] oliverzheng opened #386 "Feature request: use unix socket as a proxy"
My work uses a unix proxy as a file to gain access to the corporate network, which is where the GHE sits. Is it possible to specify a file path for the unix proxy to route all connections through that?

[2019-05-04 11:26] #333 closed

[2019-05-04 11:37] #380 closed

[2019-05-04 12:16] ptsochantaris commented on #352
I'll close this for now, but if you see this occurring the in the future feel free to open a new issue request.

[2019-05-04 12:16] #352 closed

[2019-05-04 12:47] ptsochantaris commented on #365
Hi and sorry for taking more than half a year to get around to this (#facepalm). I finally found a little time to do some Trailer work! I think I may have fixed this issue, but could you give a go to this build and see if I have correctly understood/fixed the problem?

[trailer1489-test.zip](https://github.com/ptsochantaris/trailer/files/3144374/trailer1489-test.zip)

[2019-05-04 12:52] ptsochantaris commented on #364
Hi, I'm going to close this issue for now but feel free to re-open if you have further thoughts, I'm definitely interesting in talking more about this.

[2019-05-04 12:52] #364 closed

[2019-05-04 12:53] #372 closed

[2019-05-04 12:55] ptsochantaris commented on #383
I'll close this issue for now - @jakeswenson if you keep experiencing issues please feel free to open a new issue request.

[2019-05-04 12:55] #383 closed

[2019-05-04 13:01] ptsochantaris commented on #386
Hi @oliverzheng and sorry for the slow reply.

I may be being a bit slow but it would feel to me that this was something best left to a system or networking utility, like a VPN client or an app that routes your system traffic in the way that works best for your environment and setup. I'm not sure how adding networking configuration to Trailer itself would be of much help except for this one very s

[2019-05-04 15:30] ptsochantaris commented on #375
Hi! Sorry for taking total ages to get back to you on this. I have implemented this option in the "Snoozed" section of prefs. If you are still using the app, can you give this build a go and let me know if I've understood correctly? Thanks!

[trailer-1490-test.zip](https://github.com/ptsochantaris/trailer/files/3144519/trailer-1490-test.zip)

[2019-05-05 10:09] ptsochantaris commented on #384
Hi, thanks for reporting this - sorry it's taken ages to respond.

I've got a feeling this may be related to paging :) Looking at the code there I don't think the app will react well to multiple pages of repositories returned from the API, so if you have 260 repositories you are trying to add on one go, it will probably fail. I'll try fixing it up so it works well with paged API results and put up

[2019-05-05 10:57] ptsochantaris commented on #384
This build should now correctly parse paged repo results from the API - could you give it a go at some point and let me know if it improves things?

[treailer-1493-test.zip](https://github.com/ptsochantaris/trailer/files/3145444/treailer-1493-test.zip)

[2019-05-05 15:13] darend commented on #384
@ptsochantaris

I tested it and it immediately imported all of my missing repositories. Thanks!

[2019-05-05 15:21] ptsochantaris commented on #384
Ah, that's great to know, thank you for the quick feedback!

[2019-05-09 13:02] kamilpp commented on #365
@ptsochantaris it works for me, awesome, thanks! :)

[2019-05-09 13:22] ptsochantaris commented on #365
Excellent news, thanks for testing it out!

[2019-05-10 16:44] jakeswenson commented on #383
@ptsochantaris Sadly i have been experiencing it, but i haven't found better logs. I know @bspradling has been getting the same issues as well, maybe he has better logs?

[2019-05-16 18:02] oliverzheng commented on #386
Sorry for the late response.

This is for my work computer, where the network setup has a VPN but there is also an additional unix socket to route the traffic for authentication.

Would it make sense to have an "Advanced" button on the server config tab, where there's a field to add a unix path?

[2019-05-16 19:58] oliverzheng opened #387 "Use API path prefix instead of urls returned by API server"
Somewhat related to #386. I have a local proxy that redirects HTTP requests such that they go to a GHE instance. The API path entered in the preferences do not match what GHE thinks the API prefix is, because the local proxy is rewriting the host in each HTTP request.

Is it possible to follow urls in the API responses but replace the prefix with what is entered in the preferences? That way, local

[2019-05-17 04:27] oliverzheng commented on #387
I ended up writing a local http proxy to parse every response and replacing any `A/v3/blah` with `B/v3/blah`. Feel free to close this if this wouldn't be useful. :)

[2019-05-17 04:29] oliverzheng opened #388 "Filter out some labels"
Similar to how it's possible to ignore things by a certain user, would it make sense to ignore certain labels and not show them? Some labels may be used for automation and deployment, which may not be as useful when looking at PRs as a set of conversations to have with teammates.

[2019-05-17 04:30] oliverzheng commented on #386
As a workaround, I ended up using `socat` to tunnel between the unix socket and a tcp port and a local http proxy to rewrite the host so it forwards to the right domain.

[2019-05-17 05:37] ptsochantaris commented on #386
Hi @oliverzheng - thanks for getting back to me. On your first point, the issue continues to be that, sure, I could definitely add a field that points Trailer to a socket file, but what would Trailer do with eh socket file? How would it then use Foundation to make high-level HTTP calls to the API servers via that socket without the OS networking layer pointing to it as well?

Unless I'm misunderst

[2019-05-17 05:45] ptsochantaris commented on #387
Hi @oliverzheng - I think what you are looking for is the "API Path" setting in preferences. Whatever you put in there will  be i place for `A` or `B`. By default for instance it's `https://api.github.com` but you can change that to `https://my.server.org/api/v3` for example. Does this help?

[2019-05-17 05:47] ptsochantaris commented on #388
Indeed that sounds like a nice idea, adding to the TODO list.

[2019-05-17 23:17] oliverzheng commented on #386
Definitely agree that Trailer shouldn't implement any variant of a VPN. 😃  It seems like Trailer uses URLSession, but that doesn't support unix socket. https://stackoverflow.com/questions/40201308/swift-http-request-on-a-unix-domain-socket

My understanding is that unix sockets that act as proxies work similarly to an OS-level's http proxy, but you can have multiple user-configured unix sockets an

[2019-05-17 23:21] oliverzheng commented on #387
Again this was because of my odd setup as referenced in https://github.com/ptsochantaris/trailer/issues/386#issuecomment-493624835. Because I had to rewrite the HTTP host header, there was a mismatch between what Trailer thought the API server was, vs what it actually is. So when the API responses contained urls that Trailer didn't know about, it followed them, even though they didn't go anywhere

[2019-05-17 23:24] oliverzheng opened #389 "Feature request: don't count ignored-user comments towards the badge count"
The users I set to ignore are all bots. They post predictable responses to URLs, builds, etc. It'd be nice if the badge counts didn't include their comments, since I know for every new PR I create, a bot would add a comment.

Thanks!

[2019-05-19 18:34] oliverzheng opened #390 "How does Trailer fetch everything that's updated?"
I'm trying to understand the sync behavior of Trailer. It seems like PRs created before the first sync but updated after are not pulled in. I cracked open the sqlitedb and saw that there's 100 PRs for a repo I'm in, which has at least an order of magnitude more open PRs than that. When I look at the Trailer logs, it seems that it calls the `/pulls` API but does not sort by `updated`, which means i

[2019-05-19 23:17] oliverzheng commented on #390
I'm realizing the proxy I'm running wasn't forwarding HTTP headers, thus not forwarding the `next`/`prev` links. Hence it wasn't getting anything past 100 PRs. 😩 Sorry for the churn.

I'm still curious about the sync policy though!

[2019-05-29 11:12] kamilpp commented on #384
Hey @ptsochantaris, may I ask when can we expect the release of this? Thanks again :)

[2019-05-29 11:20] ptsochantaris commented on #384
Hi @kamilpp - I'll send it out as soon as I have a chance to test it a bit. It's taken longer than usual because I'm quite busy these days, but feel free to use the build above, it's definitely a "proper" build. I'll make an effort to push something out this weekend.

[2019-06-05 09:08] ptsochantaris commented on #384
Hi, this is the current RC for 1.6.17, I'm testing it out currently and hope to put it out to auto-update later on in the week. If you'd care to take it for a spit ahead of time and report any issues, you're very welcome to.

Changelog on macOS:
- New “state:” filtering option (arguments can be: unread/open/closed/merged/snoozed)
- Added simple support for Spotlight in newer macOS versions
- Extra

[2019-06-05 10:29] kamilpp commented on #384
Sure, testing. If there will be anything misbehaving, I will notify you. Thanks a lot!

[2019-06-05 18:13] j-martin commented on #380
Hi @ptsochantaris

I tested the RC (https://github.com/ptsochantaris/trailer/issues/384#issuecomment-499003019) and it seems like it broke the global keyboard shortcut functionality completely.

On 1.6.16, the global keyboard shortcut works as expected and displays the main window/dialogue.
On 1.6.17, the same global keyboard shortcut does nothing.

I've looked at the console (enable the logging)

[2019-06-08 21:08] ptsochantaris commented on #380
Hi @j-martin - can you check that you've allowed Trailer to access your keyboard via settings? It's possible that installing the RC may have reset that permission.

<img width="780" alt="Screenshot 2019-06-08 at 22 08 05" src="https://user-images.githubusercontent.com/521581/59152348-f3d37000-8a39-11e9-8a16-d1ce4aaa9ab1.png">

[2019-06-10 05:07] j-martin commented on #380
It was there. Looks like there already. The issue seems to be from having `Automatically hide and show the menu bar` being enabled. Not sure why/how it became an issue in this release.

![image](https://user-images.githubusercontent.com/4259753/59173638-ae2eaa00-8b02-11e9-8109-e3cab7a2d46c.png)

Regardless, if the option is disabled **or** the menu bar (in general) is highlighted/shown then it wor

[2019-06-11 09:03] ptsochantaris commented on #380
Ah, thanks for following up - I think this may be related to this issue: https://github.com/ptsochantaris/trailer/issues/376 So keep an eye on it if this is a problem for you. I'm making a note to look into the issue myself as well, as the original author of that issue hasn't responded yet.

[2019-06-11 10:17] zenspider opened #391 "Wake key doesn't work?"
I get that I am supposed to use up/down arrows to walk through the list, but cmd-shift-"o" just beeps. I thought maybe I misinterpreted but I've used every combo of cmd/shift/oh/zero to figure it out to no avail. Clue me?

[2019-06-11 10:20] zenspider commented on #391
Also, it'd be REALLY nice if I could wake everything currently in the list (like, after doing a search)

[2019-06-11 10:26] ptsochantaris commented on #391
You're right, it's not working! Thanks for reporting it, I'll dig into it.

[2019-06-15 09:39] ptsochantaris commented on #391
Hi, I think I found the issue - not quite a "bug" in the strictest sense of the word, but basically the shortcut was wrong - it should have been option-command-zero, not shift-command-zero. The idea is that you can hit option-command-[number] to pre-select a snoozing prefix, and "0" is the one that wakes them up. For some reason I had set the shortcut as "shift" which is wrong because (a) You can'

[2019-06-17 18:16] darend commented on #384
@ptsochantaris Ive noticed that the nightly build has an issue where forked repos show up in the Repositories tab twice. Im not sure if this has any other effect. I am getting rate limited when it queries with that build

[2019-06-18 08:11] ptsochantaris commented on #384
Hi @darend - I don't believe I have touched anything related to syncing repos in this version apart from the import logic for the feature related to this issue. Also, I can't seem to reproduce the issue locally.

If you're seeing a repository twice it's perhaps likely that you've added a server twice or perhaps have it both on your watchlist and have manually added it yourself perhaps? Could it be

[2019-06-18 16:43] darend commented on #384
Oh, it could be that I had to delete and re-add the github server. Oddly it was only forked repositories that appeared twice.

[2019-06-18 17:32] ptsochantaris commented on #384
That's interesting to know, I'll check if there was some special reason the forked repositories stuck around, thanks for the update!

[2019-06-18 17:52] darend commented on #384
I could test it again, if there is a safe way to save then restore my current state before doing so. I know you have the export feature, will it preserve my exact repository/watchlist state? One of the issues I run into is that we have so many repositories, that if I do a clean install it will get rate limited. I have to add repos in batches.

[2019-07-01 18:22] bspradling commented on #383
Hey @ptsochantaris, sorry to just get around to this.

I spent some time digging through the logs and didn't see much failures other than
[code]

I had just readded the credential to GitHub enterprise and that was appearing to work so I tried readding my github.com credentials and that started working as well. There must have been some breaking change somewhere.

Anyways, we are back up and runnin

[2019-08-07 16:32] dcsobral commented on #373
Please reconsider using the checks API. Even by the time you wrote that last comment last year, Travis, for one, was already [deprecating the use of the status API](https://blog.travis-ci.com/2018-09-27-deprecating-github-commit-status-api-for-github-apps-managed-repositories) and, in fact, does not provide it at all any longer for private repositories.

[2019-08-14 18:43] darend commented on #384
@ptsochantaris when do you plan to do a release with the fix for this issue?

[2019-08-14 18:59] ptsochantaris commented on #384
Hi @darend I didn't get a chance to test much on the repository issue - have you encountered it again at all? If not I think the RC is good enough to "ship". Let me know and I think I can compile and put an update up very soon.

[2019-08-14 20:02] darend commented on #384
@ptsochantaris It has not happened again, I say release it.

Thanks!

[2019-08-14 20:49] ptsochantaris commented on #384
Released: https://github.com/ptsochantaris/trailer/releases/tag/1.6.17 I'll put it on auto-update soon as well.

[2019-09-11 08:12] vytis opened #392 "Pressing return after entering group name adds a space instead"
It's a tiny UX bug that I noticed some time ago but never opened an issue.

I am running v 1.6.17 on macOS 10.14.6.

Steps to reproduce:
1. Open Preferences
2. Open Repositories tab
3. Enter some text in the "Group" field for repository
4. Press "Return" key on the keyboard

Expected:
Get out of editing mode, same as most other apps e.g. renaming file in Finder.

Happened:
Adds a space after the g

[2019-09-19 14:16] cgatesman opened #393 "Do not show "global" group when nothing will fall in it"
For example, I have several repositories all of which are hiding Issues in Trailer except for one which I have a Group set on.  In this configuration, I see the Issues group with a count and another Issues icon (some global group?) that is always `0` count.  It would be nice if this other global group icon is not shown if it is not possible for anything to ever fall under it.

Or perhaps, it would

[2019-09-23 20:26] ptsochantaris commented on #393
Hi @cgatesman - what you're describing is what should be happening already, i.e. that the icon which holds items which aren't assigned to a group should get hidden if there's nothing to show.

If you're not seeing items there but it's still showing up then that sounds like a bug to me - see if you can fidget around a bit with your config to see what's causing it and let me know, I can get onto fix

[2019-09-24 13:58] cgatesman commented on #393
<img width="574" alt="Screen Shot 2019-09-24 at 9 57 47 AM" src="https://user-images.githubusercontent.com/6276072/65518119-c8be4080-deb1-11e9-9f53-97aa31f93700.png">

[2019-09-24 14:00] ptsochantaris commented on #393
Ah, I see what's happening there - you have issues in your global group, so trailer is showing both the PR and Issue tabs. The workaround is to basically create a group for whatever is showing up in your global issues tab, but you're right in that it would be nice if the zeroed-out group just didn't show at all. Putting this on the TODO list.

[2019-09-24 14:01] cgatesman commented on #393
Did you mean pull requests?

[2019-09-24 14:01] ptsochantaris commented on #393
I did indeed, was typing too fast :)

[2019-09-24 14:03] cgatesman commented on #393
This isn't an ideal option for me, because I have a large number of repositories that fall under the global.

[2019-09-27 15:42] cgatesman commented on #393
FWIW, I don't have any global Pull Requests, now, and they're still showing up:

<img width="574" alt="Screen Shot 2019-09-27 at 11 39 43 AM" src="https://user-images.githubusercontent.com/6276072/65782430-a3cd0600-e11b-11e9-9c81-d07fc322ac36.png">

I don't know if this is because there are actually Pull Requests filtered out because I have them set to only show "Participated".

[2019-09-30 08:05] ptsochantaris commented on #393
Indeed, the second screenshot is a good clue as to what's going on I think. It probably makes sense to improve this so that it takes the final visible count into account, and not whether there are items in those repos which may be hidden. I'll take a look at this, although things are. bit busy for me these days and it may take a little while :( - If you think you can spot the issue and/or have tim

[2019-09-30 11:10] ptsochantaris commented on #392
Nice catch, thanks for reporting this, will fix asap.

[2019-09-30 11:17] akaralar commented on #296
We will unfortunately be moving from github to gitlab 😢 so I would be interested in a GitLab version as well.

[2019-09-30 11:24] ptsochantaris commented on #392
This build should correct the issue, try it out and let me know if it improves things for you.

[trailer-1501.zip](https://github.com/ptsochantaris/trailer/files/3670608/trailer-1501.zip)

[2019-10-09 13:37] azubala opened #394 "No notification from closed PR"
Environment:
- App Version: 1.6.17 (1497)
- MacOS: 10.15 (19A583)
- standard Github server

It seems like @-mentiones from closed / merged PRs are not coming to the app, while Github e-mail notifications are being sent in such cases. Is there a setting to enable that or it's not supported?

[2019-10-09 14:11] cgatesman opened #395 "Catalina: Failed to load optimized model"
I don't know if this is due to upgrading to Catalina, because it's been a while since I tried running Trailer from the command line.  Anyways, when I do, I'm now seeing this error.  Trailer seems to be running ok, but I just wanted to report this:

[code]

[2019-10-10 20:22] waabiisaabii opened #396 "Feature request: ignore specific "Participated" pull request"
Hi,

It's an amazing app and I'm wondering if we could add a feature to ignore some of those pull requests in `Participated` section?

[2019-10-14 03:05] pvinis commented on #358
That is true. In general things that are from our own actions should not be considered updates I guess. When I make a commit to a PR or when I comment, I also get the PR highlighted, but I shouldn't because I made the changes, I already know about them! :D

Also, thank you so much! Trailer is amazing.

[2019-10-14 03:06] pvinis commented on #363
What about something simple like https://www.buymeacoffee.com/ ?

[2019-10-18 13:32] aik099 opened #397 "Sparkle update system keeps previous versions on disk"
I've noticed, that `~/Library/Application Support/Trailer/.Sparkle` folder on my disk is where all previous app versions are silently placed. They aren't even deleted after update. Over time this folder can grow to a considerable size, because each upgrade adds 2 files (zipped version + unzipped version).

Not sure if you can do something about it.

[2019-10-19 10:43] ptsochantaris commented on #394
Hi @azubala, sorry for the very slow reply.

Trailer only queries open items, when an item is closed then it's no longer available on the API and it is removed from your list. In theory Trailer could then poll previously closed or merged items individually, but that would basically burn API quota like crazy - currently it only fetches PRs info in batch requests. I hope I understood your question c

[2019-10-19 10:50] ptsochantaris commented on #358
For the record, I'm still keeping an eye on this. Trailer has been really low on the priority list this list year, but. I've started taking a look at some easy wins recently. I may get around to this soon - PRs related to this are always welcome, of course!

[2019-10-19 10:52] ptsochantaris commented on #392
All good points! I'll make a note to get around to this at some point (PRs are ofcourse always welcome). And thank you for your kind words, I've very glad Trailer is useful for you!

[2019-10-19 13:00] ptsochantaris commented on #382
Hi, I've been working on this, and have a test build for you to try out if you like, attached below. It will display a draft indicator on, or hide, PRs which are marked as such by the API.

Please note that you have to turn this feature on though in "Preferences" -> "Display" -> "If an item is a draft..." and pick a behaviour.

You can also chose to temporarily filter by a new `status` called `dra

[2019-10-19 13:01] ptsochantaris commented on #397
Hm, thanks for letting me know about that, I didn't even know Sparkle did that 😂

I'll check to see if it has an option to disable or trim this and get back to you!

[2019-10-19 17:28] ptsochantaris commented on #393
I think I may have found the issue deep in some of the ancient part of the code :) Could you give this build a shot and let me know if it improves things for you?

[Trailer-1503.zip](https://github.com/ptsochantaris/trailer/files/3746989/Trailer-1503.zip)

[2019-10-20 22:28] ptsochantaris commented on #358
Hi, I've been looking into this and making some tweaks to the "new commit" detection logic. Can you try this build and see if it improves the issue with highlighting new commits?

[Trailer-1506.zip](https://github.com/ptsochantaris/trailer/files/3748478/Trailer-1506.zip)

@pvinis About your request - Trailer should not notify you or include your own comments in the unread badge, if you're seeing t

[2019-10-21 02:28] pvinis commented on #358
I'm back in 2 days, I'll test it out and I might also try to make a PR, or at least give more details.

[2019-10-22 08:35] azubala commented on #394
@ptsochantaris thanks your response (no need to worry about the delay, you're awesome working on this open source app 💪 )

yup that's pretty much what I imagined. It's a pity since I moved to trailer.app only when it comes to GH notifications but I learned that I missed some comments from my closed PRs. Which means I need to check e-mail notifications as well.

Perhaps we could add something like

[2019-10-22 08:47] ptsochantaris commented on #394
One thing we could do, I suppose, is to have an option to periodically check closed PRs, as long as they are still on the list of items (i.e. in the closed or merged section) - however the check would have to be less frequent than the rest of the items, since each PR would have to be queried separately. Would something like that work for you, or is your base-case more about getting comments from l

[2019-10-22 15:37] bwebster commented on #382
@ptsochantaris I've been trying out the new feature and it's great!

I did notice one issue - the "If an item is a draft..." preference doesn't seem to show the last selected option.  Every time I open up preferences, it always resets back to "Do Nothing".

[2019-10-22 15:55] ptsochantaris commented on #382
Whoops, thanks @bwebster! I'll patch that right up and update in a little bit.

[2019-10-22 20:27] cgatesman commented on #358
This seems to be working for me! 👍

[2019-10-23 07:38] ptsochantaris commented on #382
Here's a patched-up version, thanks for spotting it once again. Let me know if you spot anything else!

[trailer-1507.zip](https://github.com/ptsochantaris/trailer/files/3760823/trailer-1507.zip)

[2019-10-23 14:14] cgatesman commented on #382
Fix corrects the settings not getting updated for me. 👍

I haven't been able to test the Draft stuff, yet, though.  My next PR I create, I will start it as a Draft to test it out.

[2019-10-23 18:50] bwebster commented on #382
@ptsochantaris The new build is working great.  I've tried it out for a few days now, and the new functionality is working great.  Thanks for your work on this!

[2019-10-23 18:55] cgatesman commented on #382
Verified here, too! 👍

[2019-10-24 07:55] #384 closed

[2019-10-24 07:55] #391 closed

[2019-10-24 07:55] #375 closed

[2019-10-24 07:56] #365 closed

[2019-10-24 07:59] #349 closed

[2019-11-14 17:26] derosm2 opened #398 "Opening trailer resizes foreground app when menubar is set to autohide"
Somewhat related to https://github.com/ptsochantaris/trailer/issues/320, but seems like a different symptom.

I've notice that if I have an app set to take up the whole screen when the menubar is set to autohide, that opening Trailer seems to make the menubar act as if it is not autohidden. The foreground app then gets resized and when I close Trailer there's a menubar sized empty space (after the

[2019-11-18 20:46] derosm2 commented on #398
Doesn't seem to be happening to me anymore. 🤷‍♂

[2019-11-18 20:46] #398 closed

[2019-12-14 16:22] ptsochantaris commented on #392
Hi! I've been doing some tweaking and this build should have the focus issue you mentioned above "fixed" (well, it's not really fixed, more like worked-around in an ugly way, I'm not entirely sure how to fix it properly) In any case, I thought I'd drop this build here for you in case you want to try it out.

[trailer-1511.zip](https://github.com/ptsochantaris/trailer/files/3964034/trailer-1511.zip

[2019-12-16 15:34] maxwellainatchi opened #399 "Automatically snooze ignores filter settings"
I have a watched repository that's configured to only show my issues/PRs, and if I turn on the auto-snooze feature, it puts all the other issues in that repository into my "snoozed" section

[2019-12-18 15:11] vytis commented on #392
@ptsochantaris tried the build you provided and it now works 100% as expected! Great job, all these small things are quite annoying to fix but quite important in the end!

[2020-01-03 12:11] #393 closed

[2020-01-03 12:12] #382 closed

[2020-01-03 12:15] ptsochantaris commented on #379
Hi and happy new year! I've been doing some Trailer work recently, and currently have a beta for the upcoming release which includes this feature. If you feel like taking a look at it and doing some testing as well, you can find it here: https://github.com/ptsochantaris/trailer/pull/400

[2020-01-03 12:18] ptsochantaris commented on #340
_Narrator: a few years pass, and then..._

First off, happy 2020!

I think I managed to find the best middle ground for heavily leveraging v4 API without having to re-sync everything each time, and have added the option to use v4 API in the new beta available here: https://github.com/ptsochantaris/trailer/pull/400

If you're still interested please do give it a go and let me know how things go in

[2020-01-03 12:23] ptsochantaris commented on #353
Hi and happy 2020!

I've been doing quite a bit of Trailer work recently and there is a new beta available now which includes this feature, which is now possible because of significant updates to how Trailer does syncing. If you feel like taking a look and testing it out a bit, you're very welcome to. You can find it here: https://github.com/ptsochantaris/trailer/pull/400

[2020-01-03 12:25] ptsochantaris commented on #394
Hi and wishing you a happy 2020!

There is a new beta available here: https://github.com/ptsochantaris/trailer/pull/400 which contains an option to do this now, which is possible because of big changes on how Trailer now does sync (and hence the need for a beta :)) You're very welcome to try it out and let me know of issues and if the feature works correctly for you.

[2020-01-03 12:27] ptsochantaris commented on #317
Hi and happy 2020!

It's always bothered me that this feature wasn't part of Trailer because it's do damn useful. I've finally taken a deep breath and added v4 API syncing to Trailer, which now makes this feature possible. There is a beta here: https://github.com/ptsochantaris/trailer/pull/400 which now has this option, and you are very welcome to try it out and report any problems that you may en

[2020-01-03 12:28] ptsochantaris commented on #392
Hi, and happy new year!

I've started a beta "stream" for Trailer 1.7 containing this feature and much more here: https://github.com/ptsochantaris/trailer/pull/400 In case you feel like trying it out and reporting any problems you may encounter, you're very welcome to!

[2020-01-04 22:00] ptsochantaris commented on #373
@dcsobral I'm definitely all for supporting this API, it's just that it's in beta for the moment. That said, it's been a few months now, so hopefully it's going to be stabilising and I can look into starting to build support for it soon.

[2020-01-07 21:31] stembrain commented on #379
Hi Paul,

I tried the download out; it asked me to update one build version, which I
did. So this testing happened on 1.7.0 build 1530

 I noticed a few things right off the bat- if I Test the API endpoint for
my github enterprise server, the test fails.

Also, where I used to have just 3 pull requests displayed, I now see 100.
It looks like maybe the Pull Requests dropdown in the Repositories tab

[2020-01-15 08:57] ptsochantaris commented on #399
Ah, good catch, thanks for reporting this. I’ll look into this and update you soon.

[2020-02-08 10:45] ptsochantaris commented on #399
Hi @maxwellainatchi and sorry for taking so long to update you on this issue - I think I found the logic problem and have corrected it, but can I bother you to give this build a try to see if it fixes the issue for you? If so, I'll update the most recent beta with this tweak.

[Trailer170-beta6-rc.zip](https://github.com/ptsochantaris/trailer/files/4174077/Trailer170-beta6-rc.zip)

[2020-02-10 15:29] maxwellainatchi commented on #399
Sure! I'll give it a try now

[2020-02-10 15:42] maxwellainatchi commented on #399
Hm, the auto-snooze in that build doesn't seem to work at all for me. I have an issue that was last updated 24 days ago, but it's not being snoozed when set to auto-snooze after 1 day idle

[2020-02-10 16:13] ptsochantaris commented on #399
Could it be that you manually woke the item at some point? Trailer won't auto snooze an item that has been manually woken. Auto-snoozing seems to be working fine the the build I'm using and I haven't touched that code :/ Does this happen on all old items, or was it specifically that one?

[2020-02-10 16:19] maxwellainatchi commented on #399
I'm not sure, that's the only item I have that hasn't been manually woken. It might've had something to do with the earlier auto-snooze failure though?

[2020-02-10 17:05] ptsochantaris commented on #399
It could... I'll definitely keep an eye on this though to see what may be going on. Thanks for testing it out! If you can reproduce this with any other item or think you may have spotted another case of this going wrong please _do_ give a shout!

[2020-02-11 17:48] maxwellainatchi commented on #399
It's still ignoring the filter settings, but now it shows the ones that should've been appearing as recently closed (as well as showing them in the snooze section)

![image](https://user-images.githubusercontent.com/4398327/74263403-bb70e980-4ccc-11ea-9c9d-4bd4c5e30ce8.png)

[2020-02-11 21:29] ptsochantaris commented on #399
@maxwellainatchi I think your database may have gotten corrupted - either because you may be running two instances of Trailer at once or something may have gone burb during the upgrade. My first recommendation would be to make sure that you're only running once instance, and then select "Reload All Data" from the "Misc" tab in preferences to "reboot" your DB. Hopefully things should improve, let m

[2020-02-11 21:33] ptsochantaris commented on #399
(Hm, another thought is, are you by any chance accessing the same repo from two difference accounts perhaps?)

[2020-02-11 22:48] maxwellainatchi commented on #399
Ah yeah I was briefly running 2 trailer instances yesterday when I first downloaded the beta. Turns out the reason it went back to the old behavior was because it was the old version that launched on startup when my computer autoupdated last night.

It's displaying the correct behavior now after relaunching the beta and clearing the database - maybe a day needed to pass using the beta for it to re

[2020-02-12 08:44] ptsochantaris commented on #399
Ah, great to know! About the auto-snooze, in theory it should work straight away, as the date that it uses is the one provided by GitHub, Trailer doesn't keep an "internal" timer of item modifications, but I'll definitely keep an eye on that. If you think you notice that behaviour again or have thoughts on what may be happening, please _do_ give a shout 👍

[2020-02-12 15:25] maxwellainatchi commented on #399
Will do. Thanks for the fix!

[2020-02-12 16:03] ptsochantaris commented on #399
No problem, thanks for reporting it!

Since you're using the beta, you may want to track #400 and use the latest build from there to get the latest fixes for this version as they're done, hopefully it should be stable "enough" for a "proper" release :)

[2020-02-12 19:47] ptsochantaris commented on #379
Hi @stembrain I thought I'd ping to to see if you are interested in giving the beta another go, there have been a few tweaks related to GE servers so this may help solve your issue above.

[2020-03-06 15:19] #399 closed

[2020-03-08 13:38] gegge87 commented on #296
up for gitlab (if I search gitlab on app stores your app figures out, why?)

[2020-03-12 15:38] tylerneu commented on #257
I have a similar flow as @cmluciano. Could `Mine` be split out into `Created` & `Assigned To`?

[2020-04-02 14:00] ptsochantaris commented on #396
Hi @waabiisaabii - I’m really glad you’re finding Trailer useful!

You can hide items using the “Snooze” setting. If you create a snooze preset and provide no specific duration, and remove any criterion to auto-waking an item, that will move the item to the “Snoozed” section. You can then chose to additionally hide the snoozed section, which will effectively make that item invisible.

<img width="

[2020-04-02 14:01] ptsochantaris commented on #396
Wow, I just realised I'm severely late in answering your question BTW, no clue why I hadn't seen this issue before... apologies!

[2020-04-02 14:02] ptsochantaris commented on #395
Thanks @cgatesman and apologies for the massively slow response. This is fine, it comes from Core Data and has to do with some internal loading issue. Thanks for reporting it though, and I promise to keep a better eye on the issues section here from now on! 😱

[2020-04-02 14:06] ptsochantaris commented on #390
Hi @oliverzheng and sorry for the extremely slow reply. Things were quite busy and then I managed to miss responding to quite a few issues here. To answer your questions:
- Trailer will normally only query open items. This recently changes on the most recent beta in #400 and you are more than welcome to try it out.
- Glad you located the issue there, let me know if you have any more.
- That's a go

[2020-04-02 14:08] #395 closed

[2020-04-02 14:09] #390 closed

[2020-04-02 14:09] #387 closed

[2020-04-02 16:49] ptsochantaris commented on #344
Hi. just a small update to let you know I am looking into this. The reason it's not as much of a slam-dunk as I thought it would be is that checking for user-authored items in repositories that are not currently "managed" by Trailer means the items will come down and just vanish.

To properly implement this, it needs for items to come down, and then Trailer automatically to query and sync the corr

[2020-04-04 22:44] ptsochantaris commented on #344
Hi @Luzifer it seems I found a relatively straightforward way to implement this - this build is from the latest beta, but with the feature added for now (while I test it out as well) and has two new checkboxes in the "Advanced" section of the repository settings (one for PRs and the other for Issues) If you enable them and refresh, and are using the new V4 API, then items which you have created an

[2020-04-08 15:34] jscheel commented on #350
100%, this would be amazing

[2020-04-11 11:01] ptsochantaris commented on #344
Hi, I've merged this into the current beta, so feel free to try it out if you like, check out #400.

[2020-04-13 20:47] dcsobral opened #401 "Some items are hidden by your settings -- but what?"
I'm rather frustrated at the moment that trailer is showing me that there's 16 items, but they are hidden by my settings, and I can't figure out which items or which settings.

It would be really nice if I could somehow show the stuff that is hidden.

[2020-04-30 09:22] dr3 opened #402 "Feature request: Add ability to only show red status checks"
Currently if you have show statuses enabled, Pull requests with a lot of statuses take up a lot of vertical space

The ability to only show failed and/or pending status checks would be ideal to get the most value for vertical space

[2020-05-06 13:42] MrKristoffVA opened #403 "Stuck on Refreshing repository after adding cloned repository from hard drive"
I recently started using Github on a new machine, so I used an external USB hard drive to copy over my company's repository to it so I wouldn't need to download everything. However, this time when I loaded the local repository Github is stuck on "Refreshing repository."

The progress bar makes it look about 80% done, but I let it go for about 24 hours and it won't budge. This is a large repository

[2020-05-11 20:37] j-martin opened #404 "Feature - Allow to copy the branch name from the context menu"
I often end up having to open GitHub from Trailer to then copy the branch name in the PR.

It would be nice if there was an option to do so when right-clicking on a PR.

![image](https://user-images.githubusercontent.com/4259753/81609268-75d7c180-938c-11ea-944d-e2326bd342d1.png)

[2020-05-11 20:39] j-martin opened #405 "Feature - Open CI/check URLs directly from the context menu"
Similar to https://github.com/ptsochantaris/trailer/issues/404, I often click on PR to then go to GitHub then click on a failing check to get to our CI system.

It would be nice we could do that by just right-clicking on the PR from Trailer.

![image](https://user-images.githubusercontent.com/4259753/81609471-cfd88700-938c-11ea-8892-924311a34470.png)

Note that some repos may have more than one ch

[2020-05-26 13:25] electroducer opened #406 "Refresh - last update failed"
Getting the red X (last update failed) and am unable to refresh on mac os 10.15.4. No changes made on my part, but has suddenly not been working. Can I pass on anything to debug?

[2020-05-27 15:42] electroducer commented on #406
Figured it out. It's a bug.

I had a PR that >100 comments; however the API call to get the comments includes the `per_page=100`, which yields a `502` from the server in this case. The call works fine though if you remove the parameter.

[2020-05-29 10:07] lwasyl opened #407 "Github Actions status not displayed"
I'm not sure if I'm missing some configuration piece, but for PRs in Trailer I only see status for outside jobs for which we update status using Github API. For Github Actions, despite having checks in status list, I can't see them in Trailer. Is this intended?

[2020-06-08 01:19] waabiisaabii commented on #396
haha no worries i'll try it out thank you!

[2020-06-08 01:19] #396 closed

[2020-06-24 10:58] ptsochantaris commented on #406
Hi @electroducer and sorry for my extremely late reply. Thanks for digging into and seeing what's breaking. Does this still happen? 502 would suggest GitHub is having a bit of an issue (as the per_page parameter has always worked with the value 100 up until now) but they do have a habit of tweaking things in the background. If it keeps breaking I guess it may be a good idea to reduce that value in

[2020-06-24 11:00] ptsochantaris commented on #407
Hi @lwasyl and sorry for the late reply. Trailer doesn't yet support GitHub actions as it's a beta API and liable to change. As soon as GitHub makes it official I'll be looking to add them in ASAP. If you spot anything related to this please do give a shout!

[2020-06-24 11:02] ptsochantaris commented on #405
Hi @j-martin and sorry for the very slow reply. You can do that already if you Cmd-Click on a status item in the Trailer menu. If you often perform that action, you can set the option "Make any displayed PR status line always selectable" option in the `Statuses` tab of the preferences. I hope I have understood your issue, please do let me know if I've missed the point :)

[2020-06-24 11:03] ptsochantaris commented on #404
That makes sense, adding to the TODO list!

[2020-06-24 11:06] ptsochantaris commented on #403
Hi @MrKristoffVA, unless I've misunderstood this isn't really a Trailer issue? Please let me know if I've misunderstood your issue.

[2020-06-24 11:09] lwasyl commented on #407
Hey, no worries. Can you point me to where the beta API that would be useful for this feature is described? I only found some APIs that don't seem relevant.

[2020-06-24 11:12] ptsochantaris commented on #407
This is the "hub" for the API: https://developer.github.com/v3/actions/

If you go into the various sections, you'll notice that endpoints are still marked as "beta" :( Hopefully this will change sooner rather than later!

[2020-06-24 11:17] lwasyl commented on #407
I might be missing something, but the only `beta` notices in workflow-related APIs are next to the `usage` endpoints. I'm not sure I see an edpoint useful for fetching statuses for the given PR, but other than that the APIs seem to be stable

[2020-06-24 12:42] ptsochantaris commented on #404
I've updated the beta with the feature (#400), have a go and let me know if it's what you meant (also, any other issues you may spot with the beta, please do give a shout in that thread :))

[2020-06-24 14:21] electroducer commented on #406
In testing out the API calls, here's what's up:

[code]

So basically it seems like the `per_page` parameter is useless at this point and will either 502 or have no effect when in combination with `page=2` or higher

Not sure how you want to handle this in this app. Perhaps either ignore the 502s or drop the `per_page` from the call and just get the first few comments? What are you hoping to get o

[2020-06-24 14:39] ptsochantaris commented on #406
Hi, thanks for the detailed report! per_page maximum is 100, so 1000 would just be ignored by the server, it would just max out to 100 from its perspective. My guess is that GitHub's engineering has screwed up and has calls which time out their own gateway, like they have with their v4 API, which they still haven't fixed. The default per_page value is too low to leave as-is, unfortunately, or Trai

[2020-06-24 15:21] electroducer commented on #406
Ah, good call. Didn't think to go down instead. The highest I can go with the troublesome PR that I have here is 48. Once I set it to 49 or higher, it errors out. I can set the parameters as `?per_page=48` or `?page=1&per_page=48` and it all works fine! Weird though... it's definitely GH-side, and it could even be a bug with this particular PR, because I don't have another one with that many comme

[2020-06-24 15:43] electroducer commented on #406
I crossed 100 comment threshold for another PR and things are working fine, so I really don't know what's going on here...

[2020-06-24 17:00] j-martin commented on #404
@ptsochantaris I just tried build 1.7.0 (1561). If I click on the PR it copies a reference to the PR `<ORG>/<REPO>#<PR-ID>` which if fine and reasonable. It might make sense to add the branch name under the PR number and have a similar name copy logic.

Alternatively, I was thinking it would make sense to add an item to the context menu `Copy branch name     Shift-⌘C`. I tend to prefer a contextua

[2020-06-24 17:05] j-martin commented on #405
That's exactly what I was looking for. Trailer is so feature-full that it's easy to miss existing features! I've been using Trailer for years, and it was on my wish list for the longest time.

In this case, maybe discoverability could be improved. Maybe a tooltip telling the user to use cmd+click if the status is hovered.

[2020-06-24 17:05] #405 closed

[2020-06-24 17:07] j-martin commented on #404
To be clear, I am interested in getting the git branch name so I can quickly checkout the branch through a normal `git checkout`.

[2020-06-24 17:32] ptsochantaris commented on #404
Hi @j-martin - you should already see that, however you may need to "reload all data" from the preferences menu to refresh the data cache stored locally by Trailer, that's something I forgot to mention :) This is what _should_ come up after that:

<img width="494" alt="Screenshot 2020-06-24 at 18 31 28" src="https://user-images.githubusercontent.com/521581/85604142-ec810380-b648-11ea-9ebb-df843a0e

[2020-06-24 17:33] ptsochantaris commented on #404
(PS your point about adding a shortcut key though definitely does stand, I'll add one in :))

[2020-06-24 19:49] j-martin commented on #404
I can confirm it was a user error. It is working. Should I leave this issue open you add the keyboard shortcut/menu option?

[2020-06-25 09:09] ptsochantaris commented on #406
Indeed, in theory it should work fine, so it's definitely a GH issue, although that is no comfort in that the app isn't working as it should :) This could be fixed with an advanced option to reduce the batch number on queries with the tradeoff of higher API usage, but I wonder if you can make your problem go away for good by turning on v4 API support in the server tab of preferences?

[2020-06-25 17:20] electroducer commented on #406
How do you turn on the v4 support? Not seeing a toggle.

[2020-06-25 17:29] ptsochantaris commented on #406
Whoops, I keep forgetting that the beta isn't the official version yet, my bad. You can get the latest beta from here #400 which is pretty much at pre-release stage right now. It contains the option to turn on v4 API sync in the servers pane of preferences:

<img width="463" alt="Screenshot 2020-06-25 at 18 28 01" src="https://user-images.githubusercontent.com/521581/85769234-b3f92c80-b711-11ea-87

[2020-06-25 17:33] electroducer commented on #406
ah, yes, figured it out.... and it works! Feel free to mark this as resolved by switching to v4

[2020-06-25 19:33] ptsochantaris commented on #406
Ah, good to know! Thanks for bearing with me on this. I'm still a bit concerned over the v3 issue though, so I'll keep an eye on it and/or watch out for similar reports from other users. Sorry for the runaround with the beta, soon it will be the "official" version :)

[2020-07-15 03:43] bsiegel opened #408 "Draft indication not functional in 1.7.x builds"
Verified on 1561 & 1562, draft PRs are no longer hidden or include "draft" in the title, depending on which preference you have selected.

[2020-07-17 20:21] cgatesman opened #409 "Review re-requested after approval still shows the user as approving the pull request"
If a user approves a PR, but you then request them to review it again, Trailer still shows the user has approved the PR.  GitHub changes their status to orange ("Awaiting requested review").

I suspect this is because the summary at the bottom of the PR shows the user has approved it, but that same user falls under "pending reviewers", as well.  I'm not sure if something can be done about that in

[2020-08-06 16:52] j-martin opened #410 "Very Minor Improvement - Make CI link hover color a bit nicer"
When highlighting a CI result (to open the link), the link becomes blue. In dark mode at least it's a bit rough looking. While being very minor, it feels a bit odd considering the general high polish level of Trailer. :)

In dark mode, it could be a shade brighter of green, yellow, or red depending on the status.

![image](https://user-images.githubusercontent.com/4259753/89559111-0f671180-d7ca-11

[2020-08-12 21:47] genehynson commented on #296
Also would love to see gitlab support!

[2020-08-13 21:59] ballpointcarrot opened #411 "Feature request: Hide PRs from specific sources"
Hello, and thank you for the work you've done on Trailer.

We use Dependabot to track and automatically update dependencies in our repositories. I would love to have the ability to block these PRs showing up as notifications in my list, as it quickly overwhelms the rest of the project details I would be interested in reviewing.

If there's already a way to filter out specific PR requests by a user

[2020-09-20 10:04] Amorymeltzer opened #412 "Can't open mac app (1.7.0) on El Capitan (10.11)"
Excerpt from crash log (full logs available if you like):
[code]

And indeed I have no CoreSpotlight framework there.  I don't know anything about swift or mac development, but [the Apple docs](https://developer.apple.com/documentation/corespotlight) suggest it was only added in 10.13, so presumably b035a985 is at issue?

I should add that if Trailer now requires 10.13 (although e1ed3b5 suggests o

[2020-09-20 18:48] ptsochantaris commented on #412
Hi @Amorymeltzer - thanks for reporting this! Trailer should work fine on 10.11, it should not require CoreSpotlight unless it's available, and the code has logic to do that. However clearly something has gone wrong with the linking, as the error above makes it seem like it's a required library. I'll dig into it asap and post a follow up here very shortly.

[2020-09-20 19:30] ptsochantaris commented on #412
OK, I was totally and completely wrong, the code didn't have that logic, I clearly forgot to add it in, hence the explosions. I've now added the appropriate safeguards, could I get you to give this build a go and see if it corrects the issue for you? If not, does it produce the same error?

[Trailer.zip](https://github.com/ptsochantaris/trailer/files/5252454/Trailer.zip)

[2020-09-20 19:42] Amorymeltzer commented on #412
@ptsochantaris Thanks for the quick reply, but sadly yes, it likewise doesn't open with the same error:

[code]

[2020-09-20 19:56] ptsochantaris commented on #412
Damn, OK, will keep digging, time to break out a 10.11 VM, stay tuned :)

[2020-09-20 20:06] ptsochantaris commented on #412
How about this one?

[Trailer.zip](https://github.com/ptsochantaris/trailer/files/5252515/Trailer.zip)

[2020-09-20 20:12] ptsochantaris commented on #408
Hi, thanks for reporting this. I'm seeing this too, no clue why I missed it (and your report!). Digging into it now.

[2020-09-20 20:16] Amorymeltzer commented on #412
Different!  The PR icon briefly shows up in the menu bar, but then disappears.

<details>
<summary>Excerpt from error report</summary>

[code]

</details>

There's actually a bunch of other stuff in the console:

<details>
<summary>Excerpt of some messages before crash report</summary>

[code]

</details>

Then, every ten seconds, there's:

[code]

[2020-09-20 20:40] ptsochantaris commented on #412
Aha, those two new errors are related. One basically is the problem and the other is the side-effect (the launcher helper trying to launch the main app and failing)

The issue here is the old-style lifetime of network data tasks on older iOS and macOS releases, if a data task is deallocated before Trailer is through observing it then in newer OSes the observation is auto-removed, but in older OSes

[2020-09-20 20:43] ptsochantaris commented on #410
Hi and sorry for the slow reply, my time spent on Trailer has been far less than it should be recently. You're totally right about this, I'll definitely look into it 👍

[2020-09-20 20:46] ptsochantaris commented on #408
Problem definitely found and fixed. At some point I managed to remove the field that indicates if a PR is a draft from the GraphQL query #facepalm

I've fixed this in the code, and I'll roll this fix out with a build that's about to go out now containing some other fixes as well, so check for an update soon and things should go back to normal. Note: You may have to select "reload all data" from pr

[2020-09-20 20:48] Amorymeltzer commented on #412
Looks great!  Everything seems in full order as far as I can tell, picked up all my preferences and is workin' like a charm.

And no worries at all @ptsochantaris, glad to help out for an excellent product — it can't be easy to support something half a decade and five update cycles old!

[2020-09-20 21:00] ptsochantaris commented on #412
Fantastic!

I'll be sure to put out an update with this fix, as well as some other bothersome things which I managed to miss that were reported by beta testers too. Thanks again for reporting this and let me know if you run into any other issues!

[2020-09-20 21:55] ptsochantaris commented on #411
Hi @ballpointcarrot and sorry for the very late reply.

You're right in that you can't currently hide something based on the username, but you definitely can stop notifications being presented to you about those items by using the option in the "comments" tab of preferences.

Additionally, you can make items disappear from your PR list by using a search predicate, something like:

[code]

However,

[2020-09-20 21:57] #404 closed

[2020-09-20 21:57] #358 closed

[2020-09-20 21:58] ptsochantaris commented on #379
Hi, I'm closing this issue for now, but please feel free to reopen if you are still experiencing problems!

[2020-09-20 21:58] #379 closed

[2020-09-20 21:59] #353 closed

[2020-09-20 21:59] #392 closed

[2020-09-20 21:59] #394 closed

[2020-09-20 21:59] #344 closed

[2020-09-20 22:00] #340 closed

[2020-09-20 22:00] #317 closed

[2020-09-20 22:01] ptsochantaris commented on #408
Hi, I'm closing this issue as the update with the fix is now live, but please feel free to reopen or create a new issue if you spot any more related problems. Thanks again for testing the beta and reporting this, and sorry once again for me managing to miss it for so long!

[2020-09-20 22:01] #408 closed

[2020-09-20 22:02] ptsochantaris commented on #410
Hi, I'm closing this issue as the update with this change is now live, but please feel free to reopen or create a new issue if you spot any issues or have any more suggestions about this!

[2020-09-20 22:02] #410 closed

[2020-09-20 22:03] ptsochantaris commented on #412
Hi, I'm closing this issue as the update with the fix is now live, but please feel free to reopen or create a new issue if you spot any issues or have any more suggestions about this. Thanks again for spotting and reporting it!

[2020-09-20 22:03] #412 closed

[2020-09-20 22:05] ptsochantaris commented on #397
Hi, I'm going to close this issue as I really haven't been able to reproduce it, it could just have been an older version of Sparkle perhaps? But please feel free to open a new issue if this keep occurring and/or if you have more info on it!

[2020-09-20 22:05] #397 closed

[2020-09-20 22:06] #403 closed

[2020-09-20 22:08] ptsochantaris commented on #386
No worries at all, this was a very interesting discussion and it's fascinating to learn about other users' networking setups as well! I'll close this issue for now, but please do feel free to keep suggesting features and enhancements!

[2020-09-20 22:08] #386 closed

[2020-09-20 22:12] ptsochantaris commented on #402
That makes a lot of sense, adding to the TODO list 👍

[2020-09-21 04:49] j-martin commented on #410
Confirming that everything looks nice now. :)

[2020-09-21 11:39] rsaunders100 commented on #317
Happy 2020!
Hope you are doing well.  Very excited about this, Ill give it a go :)

[2020-09-22 16:03] cgatesman opened #413 "Closed Pull Requests are no longer shown"
Closed PRs are now no longer shown.  I don't know if this is a regression in 1.7.0 or 1.7.1.  Using v3 API.

[2020-09-22 16:22] cgatesman opened #414 "GitHub v4 Successful Test but no data and red X"
I'm trying to enable v4 API.  I get a successful Test with it, but there is no data and I have a red X even after restarting the app.  Am I just missing a step for switching over to v4?

<img width="881" alt="Screen Shot 2020-09-22 at 12 21 05 PM" src="https://user-images.githubusercontent.com/6276072/93909764-24422a80-fcce-11ea-979c-c4963aaee411.png">

<img width="514" alt="Screen Shot 2020-09-22

[2020-09-22 16:42] cgatesman opened #415 "Mark non-mergable PRs shows CONFLICT when using v3 API"
When you have "Mark non-mergable PRs" enabled, it should do nothing if you are using v3 API.  Instead, it incorrectly  marks PRs as CONFLICT.

[2020-09-23 09:12] ptsochantaris commented on #415
Hi @cgatesman , that feature is v4 API only I'm afraid. If you're using v3 API you should turn this option off.

<img width="277" alt="Screenshot 2020-09-23 at 10 11 42" src="https://user-images.githubusercontent.com/521581/93992212-2fa45d00-fd85-11ea-8531-94bb1f5f72be.png">

[2020-09-23 14:29] cgatesman commented on #415
I understand that. I'm saying I would think the option should be pretty much a noop and do nothing if you're using v3, and you shouldn't see any side effects.

[2020-09-23 16:21] spkane opened #416 "Ability to select API version per server"
If you have Github and Github Enterprise it might be desirable to use API v3 with one server and API v4 with the other server, depending on what version of GHE you have deployed. It would be ideal if you could select the API version per server.

[2020-09-24 16:43] ptsochantaris opened #417 "Closed/merged PRs or issues that would not have received comment badges before closing are now being badged"
I like receiving comment notifications for recently closed PRs and Issues, but if I have a repo full of PRs and Issues of which I was rarely involved with, and I turn on the relevant option, that means I get comment notifications for every PR and Issue that has recently closed.

It would be great if I only got comment notifications for those items which would have received notifications while they

[2020-09-24 16:45] ptsochantaris commented on #413
It's very possible this is a regression in v3 API. Thanks for reporting, will look into it asap.

[2020-09-24 16:49] ptsochantaris commented on #414
Hi, when you switch to the v4 API Trailer needs to re-sync everything, which is why there is no data, but the red X implies the sync has failed. You can get more info on what's going on there by enabling logging from the "Misc" menu, it may give you a sense of where the calls may be failing. More than happy to dig into any logs you think may be relevant. One thing to try perhaps is to only sync a

[2020-09-24 16:51] ptsochantaris commented on #416
You're absolutely right about this, and it's something I really wanted to do originally, but there was so much to tweak that I ended up going this route to simplify and make the change more manageable :D I can't promise you this will be added super-soon, but it's definitely something I'm hoping to do eventually.

[2020-09-24 19:38] cgatesman commented on #414
Thanks, @ptsochantaris!  It turned out to be insufficient scope.  Apparently API v4 needs more?  I was able to add the ones the message stated, and everything started working.  Is it documented anywhere what the minimum scopes for Trailer are?

[code]

[2020-09-25 07:57] ptsochantaris opened #418 "macOS system theme is not being picked up after waking up when theme is set to "auto""
I have set my theme to "auto" switch between day and night on my Mac, and in the morning when I wake the Mac, Trailer still seems to be "stuck" in dark mode. Restarting Trailer picks up the right theme, but this shouldn't be needed.

[2020-09-25 09:44] ptsochantaris commented on #413
Hi @cgatesman and thanks again for spotting this. Can you try this build out? It should hopefully correct this issue and also #415 as well. If all is good I'll put out a general update.

[Trailer.zip](https://github.com/ptsochantaris/trailer/files/5281932/Trailer.zip)

[2020-09-25 13:44] cgatesman commented on #413
Running it now.  #415 seems fixed.  Will have to wait for a PR to get closed (hopefully today), and I'll let you know, here.  Thanks for the quick turnaround!

[2020-09-25 16:31] cgatesman commented on #413
@ptsochantaris, fix is good on both issues! 🎉

[2020-09-25 17:31] ptsochantaris commented on #413
Great stuff, thanks a lot for reporting and testing @cgatesman - I'll wrap up some other changes and put out an update very soon 👍

[2020-09-27 19:16] ptsochantaris commented on #414
Hi @cgatesman - interesting, I never seemed to get that error, but most probably I may have already enabled those permissions! Either that or GitHub changed things around again...

I'll be sure to add this text to the placeholder in the API token field so other people don't encounter this as well. Thanks a lot for getting back to me with this info, much appreciated!

[2020-09-28 16:54] stembrain commented on #379
Hi @ptsochantaris , I gave 1.7.x a try today, and had some difficulties with it. It seemed to lose my 1.6.17 settings, and was also unable to connect to the v3 github enterprise server that I use. I was able to find the Trailer settings I'd exported years ago, but they didn't properly import to 1.7.x either.

I downgraded back to 1.6.17 and imported the settings from circa 2017. That brought most

[2020-09-28 19:36] cgatesman commented on #413
@ptsochantaris I may have spoke too soon.  This may have caused a regression.  Using v4 API, now, I do not see a `CONFLICT` flag on non-mergable PRs with the new option turned on.

[2020-09-28 21:13] ptsochantaris commented on #413
Hi @cgatesman - I don't think it has, as I'm seeing conflicting PR badges on items on my lists. Additionally I double-checked that the codepath where I made this fix was touched only by v3 syncing code, so there is no way it could have influenced v4 API code. However I never rule out come weird corner case :) Can I ask you to try a "reload all data" from the "misc" menu in prefs to see if this isn

[2020-09-28 21:41] #417 closed

[2020-09-28 21:41] #415 closed

[2020-09-28 21:42] #418 closed

[2020-09-28 21:42] #414 closed

[2020-09-28 21:43] #406 closed

[2020-09-29 13:01] cgatesman commented on #413
It might be a while till I have another conflict.  I'll keep my eyes pealed, though.

[2020-10-06 17:21] cgatesman commented on #413
@ptsochantaris I have a PR, today with a conflict.  The UI does not show CONFLICT.  I am using v4 API with "Mark non-mergeable PRs" checked.  I also did a Reload All Data, and that didn't seem to fix the problem, either.  FWIW, I am seeing this problem with both the latest release, and the pre-release you posted in this Issue.  The PR is for a private repository, so, I'm sorry, I can't share a lin

[2020-10-06 18:04] ptsochantaris commented on #413
Hi @cgatesman, the only permissions I have enabled for my token are the ones you see checked below, i.e. all the "repo" ones and the "read:org" ones. It's very strange that you are not receiving this flag on your end though.

One thing you can try is to enable both logging options in "Misc" and see what data is being returned by the API. It may be a bit messy, but you can probably search for your

[2020-10-06 18:22] cgatesman commented on #413
Here is the node in question from the REST response (sensitive data X'ed out):

[code]

[2020-10-06 18:51] cgatesman commented on #413
I'll have to try this another day, @ptsochantaris, as I'm busy with a release, today.  I'll let you know my findings, though!

[2020-10-06 19:00] cgatesman commented on #413
I will say that I did just notice some weird behavior, now, and I don't know if that is part of this problem.  When I hover over entries in the Trailer dropdown, I'm seeing approvals/request changes change on PR entries.  It looks like when I hover over some, they're showing an old state of approvals/request changes, and when I'm not hovering over them, it's showing the latest state of the PR.

[2020-10-06 19:11] ptsochantaris commented on #413
I've seen this in rare occasions, and I think that has to do with render surface caching by the system. It gets fixed if you restart the app IIRC. However I doubt this would be related to this issue, which I assume persists across restarts. Also, note to self: Need to look into that hover update glitch.

[2020-10-06 20:31] cgatesman commented on #413
FWIW, I restarted the app and immediately tried the hovering, and it still occurs.

[2020-10-06 21:11] ptsochantaris commented on #413
In that case you may have a corrupted database and/or may be running two trailer instances together perhaps. When you find some time, make sure there are no "Trailer" instances running on the system and nuke the data directory (you may want to export your settings first so you can quickly restore your setup) - it may help.

[2020-10-07 13:10] cgatesman commented on #413
1. Exported settings
2. killall Trailer (only one was running)
4. mv ~/Library/Application\ Support/com.housetrip.Trailer /tmp
5. Started Trailer
6. Imported Settings

Hover glitch still occurs.  😞

I'll have to wait for another conflict to see if that happened to fix that, though.

[2020-10-07 13:13] ptsochantaris commented on #413
Ugh, this is demoralising 😆 Thanks for updating me 👍 I'll keep digging on the hover glitch. For some crazy reason this has to somehow link up with the conflict issue, must be some rendering problem...

[2020-10-07 13:20] cgatesman commented on #413
I don't know how after blowing away the data directory, it could know about an old review state.  I have an item that is flipping from one person reviewing and another requesting changing to that second person approving the changes.  The requesting changes state is, obviously, an old state of the PR.  I can double check the response logs as I have a lot less PRs to sift through, right now.

[2020-10-07 13:23] ptsochantaris commented on #413
This is what made me wonder about running two Trailer instances initially. I doubt you'd see the API provide any solution there, it feels more like the data directory is still handing around somehow, like being accessed by a zombie Trailer instance...?

[2020-10-07 13:29] cgatesman commented on #413
I couldn't actually see where you were getting reviewer states from.  They're not in the nodes in the response data of graphql.

I'll try a good ol' fashion reboot.

[2020-10-07 13:38] cgatesman commented on #413
Ok.  I may have some better news!

I rebooted, came back and the problem was still there.  So at a last ditch effort, I decided to kill Trailer, blow away the data directory then reboot.  System came up along with Trailer (on login), and I imported my settings.  And, now, I don't see the hover glitch!  I am hoping this corrects the CONFLICT issue...yet to find out on that one.

That's a weird one,

[2020-10-07 13:43] ptsochantaris commented on #413
Encouraging! I have a feeling your system may be loading trailer twice, perhaps you have two copies set to "launch at login"? If so, you may want to delete any old or test copies, and check the login items in settings!

[2020-10-07 13:45] cgatesman commented on #413
I definitely do not:

[code]

[2020-10-15 18:35] bsiegel opened #419 "All closed PRs from repo show up regardless of Hiding filter"
Using Trailer 1.7.2, I have the following configuration:
- Repo "A" set up with Pull Requests: Participated
- Other repos set up with Pull Requests: All
- When something is merged: Move any merged items to "Merged"
- When something is closed: Move any merged items to "Closed"

After updating to 1.7.0, all PRs that are merged or closed in repo "A" are being displayed in their respective sections ev

[2020-10-27 13:55] cgatesman commented on #413
Just an update on this.  The changing reviewers on hover bug came back.  Unfortunately, we haven't had any conflicts in any PRs, yet, to see what the status of that issue is.

[code]

[2020-11-11 08:38] yihongang opened #420 "Trailer is unresponsive most of the time"
Console logs seems to hint that it's due to updating PullRequest status item. Each time this happens it takes more than a minute before it responds again (after saving DB) . I get a spinning beach ball in the mean time (mac OS). Is there anything specific in the logs that would help debug this?

[code]

[2020-11-13 08:15] ptsochantaris opened #421 ""Remove" button in closed or merged items, and their respective sections is clipped on the right in macOS Big Sur"
There also seem to be some unexpected extra side margins on the Trailer drop-downs. Will fix asap.

[2020-11-14 11:58] filliph opened #422 "Menu bar items do not adapt to Big Sur's Dynamic desktop wallpaper"
If I use the "Dynamic Desktop" wallpaper "Big Sur":
<img width="561" alt="image" src="https://user-images.githubusercontent.com/9424286/99146485-838a3e80-2670-11eb-96bb-28fd44f5d140.png">
And I open my computer early in the morning, Trailer does not adapt its icons like Docker does:
<img width="118" alt="image" src="https://user-images.githubusercontent.com/9424286/99146474-6ce3e780-2670-11eb-9e4e

[2020-11-14 12:18] ptsochantaris opened #423 "Apple Silicon support"

[2020-11-14 12:20] ptsochantaris commented on #422
Hi @filliph - I also spotted this yesterday and it kills me too :) Will be sure to fix it for the next update (assuming there is API for it) 👍

[2020-11-14 17:43] ptsochantaris commented on #419
Hi @bsiegel and sorry for the very slow reply. This definitely sounds like a bug, will investigate!

[2020-11-14 17:45] ptsochantaris commented on #413
Hi @cgatesman just to better help me track both issues, I'm going to close this issue, but please *do* open two respective issues for each bug and I'll look into them asap.

[2020-11-14 17:45] #413 closed

[2020-11-14 17:48] ptsochantaris commented on #420
Hi @yihongang and thanks for reporting this. Statuses are indeed a bit hard to digest by Trailer because of the way GitHub serves them, but I can't quite imagine they would be so heavy that it would take a whole minute to process, especially on the main thread. Just to give an indication of the load involved here, can you describe a bit more the kind of settings you have? For instance, are you vie

[2020-11-15 17:04] cgatesman commented on #413
Sounds good, @ptsochantaris.  I felt bad that this issue kind of morphed into multiple things.  Currently, I'm not seeing issues (I never had a CONFLICT scenario up to now, though).  If I see any of my past reported issues again, I'll create a new Issue.  Thanks so much for your support! 👍

[2020-11-16 11:17] filliph commented on #422
Can confirm this morning that this has been fixed in the latest release, thanks!

[2020-11-16 11:17] #422 closed

[2020-11-16 11:18] ptsochantaris commented on #422
Awesome, thanks for verifying! Let me know if you spot any more issues in Big Sur (or in general)

[2020-11-18 06:01] yihongang commented on #420
Statuses as in this?
![image](https://user-images.githubusercontent.com/12490533/99491249-5c9c7700-29a6-11eb-8682-1edb3bca82b9.png)

It looks disabled.

But I do see this, is that a reason?
![image](https://user-images.githubusercontent.com/12490533/99491299-73db6480-29a6-11eb-969b-d1252108e82c.png)

[2020-11-29 12:02] #421 closed

[2020-11-29 12:02] #423 closed

[2020-11-29 12:16] ptsochantaris commented on #420
Hi @yihongang and thanks for the update, will dig into it. I've noticed there is some huge delay that occurs when trying to edit group labels on the repository tabs as well in Big Sur for some reason as well, with no code changes on my end. Just out of curiosity, which macOS version are you running?

[2020-11-29 17:18] ptsochantaris commented on #420
I've created a test build with the fix for the issue I mentioned just above, and since the class affected touches other parts of the UI, there's a remote chance it could perhaps affect your issue, so I'm attaching it here in case you find some time to give it a go and see if anything improves. My gut feeling is that it probably won't, I'm afraid to admit, but just in case :)

[Trailer-1573.zip](ht

[2020-12-01 11:09] yihongang commented on #420
I'm running Mojave. The test build still has the issue for me.

Not sure if it is relevant, I do have quite a few snoozed PRs. I haven't had the time to try disabling repos to isolate where/what it's happening for, sorry.

[2020-12-01 16:51] ptsochantaris commented on #420
Thanks for the update - will check on a Mojave VM just in case as well. Will also try with some snoozed PRs as well. When you do have some time to try out removing some repos, please do have a go and let me know. It would, for example, be super-useful to know that this occurs with e.g. 10 PRs on a list from open-source repos, at which point you could export your config so I can replicate on a loca

[2020-12-10 18:32] pnarielwala-tc opened #424 "Error Authenticating: Server did not respond"
Hello!

I'm running into an issue connecting to my github accounts getting the following error:
![Image 2020-12-10 at 1 30 57 PM](https://user-images.githubusercontent.com/37671065/101814331-ff4e9e00-3aeb-11eb-8f0a-9d9bb38c85a5.jpg)

Not sure how to see the API calls to get information on what's going on (tried using Charles Proxy).

Any help would be appreciated and love this app, thanks!

[2020-12-10 18:34] pnarielwala-tc commented on #424
Running the following in my terminal works though
[code]

[2020-12-10 19:01] pnarielwala-tc commented on #424
Happens with v1.7.4, but works on v1.7.2

[2020-12-15 13:16] onlyplo commented on #411
This feature would be great at filtering out dependabot PRs which essentially spams Trailer everyday. :(

[2020-12-22 21:45] danwood opened #425 "Please put trailer's status popup window at a higher level"
Unlike iStatMenus, which has its custom status bar window popup at a higher level (NSWindow.Level.mainMenu or
NSWindow.Level.statusBar), trailer's status bar window is apparently 3, NSWindow.Level.floating, which conflicts with a floating window in the software I'm working on.

Using this reference of window levels …
    https://jameshfisher.com/2020/08/03/what-is-the-order-of-nswindow-levels/

Ca

[2021-01-14 16:02] lucascurti commented on #409
The same happens when a user requests changes to a PR and then request them to review it again. Trailer keeps showing `<user> requests changes`.

[2021-01-19 11:21] martyphee opened #426 "Trailer isn't showing any PR's"
It just recently stopped working. Version 1.7.4 (1572)
I've reinstalled and deleted the directory `com.housetrip.Trailer` from `~/Library/Applicaiton Support`. Still nothing.

I've turned some repo's on to show all PR's (in excess of 80) and still doesn't show anything. I'm getting some notification in MacOS but trailer isn't showing anything. I'm using the default settings. I didn't change anythi

[2021-01-19 12:04] ptsochantaris commented on #426
Hi @martyphee - you may want to nuke Trailer preferences back to defaults as some option seems to be causing you some headache by hiding your PRs. Easiest way is to remove the com.housetrip.Trailer file from Preferences when Trailer is not running. This may need you to enter the auth tokens for your servers again though. To be on the safe side, I'd just nuke all the directories you mentioned as we

[2021-01-19 14:16] martyphee commented on #426
No love. It's been sitting on this screen for > 30m. No wifi issues. I removed the previous file again and `../Preferences/com.housetrip.Trailer.plist`

![image](https://user-images.githubusercontent.com/754870/105045148-78cc9b00-5a5f-11eb-9293-01232fa68a6d.png)

[2021-01-20 13:24] ptsochantaris commented on #426
That step should take a few seconds at most. Can you activate the two logging options in the "misc" section of preferences and check out the Console.app output for Trailer? Some API call may be failing, and it would be useful to know which one.

[2021-01-21 21:24] jg123 commented on #426
I don't want to hijack this thread, but I also started getting X's for all my trailer icons two days ago. Closing trailer and reopening, and I lost my trailer icons in my menu bar! Clearing preference and sqlite, I can get the Trailer preferences to appear on first run. Closing preferences, and I lose all UI. Tell me to start a new issue if you think it is unrelated. I have attached logs (and remo

[2021-01-23 22:16] ptsochantaris commented on #426
Hi @jg123 - yes, if possible please start a new issue about this, as my first guess would be that it's not related. If you can provide a short video or some shots of the behaviour you are describing it would be super useful for me to get a better idea of what the problem is.

[2021-01-23 22:18] ptsochantaris commented on #426
@martyphee I've seen a few patches of "red-X" during the past 2-3 days as well, I assume GitHub may be having some API issues. Are you still getting the issue above? If so, a log would be extremely useful for debugging.

[2021-01-23 22:23] ptsochantaris commented on #424
Hi, no clue how I managed to miss this report, sorry for not responding sooner. Are you still having this issue?

[2021-01-23 22:34] ptsochantaris commented on #401
Hi @dcsobral - I realise my reply is super-late, but I haven't been able to think of a good response to this issue :) First off, you're right, Trailer has so many options that not knowing what was hidden by what option must can be very frustrating - that's why usually it's a good idea to try relying less on filtering and more on just syncing what's needed (makes good API sense too). On the other h

[2021-01-24 17:43] dcsobral commented on #401
Yes, that would be useful.

[2021-01-25 19:10] jg123 commented on #426
It started working again today. No idea why.

[2021-01-25 19:25] martyphee commented on #426
I"ll give it another try tomorrow.

[2021-01-26 12:57] danielebogo opened #427 "Trailer isn't showing PRs not assigned"
I noticed Trailer doesn't load a PR where I'm reviewer but not assigned. Is this a bug?
Quests for example loads any PR I'm a reviewer regardless I'm assigned to it or not.

[2021-01-26 13:45] martyphee commented on #426
Still not working.

Something weird. When I refresh my repository list I see a subset of the repositories compared to when I click on Refresh from the toolbar.

I turned on logging and don't see any errors.

[2021-01-26 14:13] martyphee commented on #426
On my [notifcations page in github](https://github.com/notifications) I have eight notifications but trailer is showing me nothing. Trailer is a fresh install including removing the two directories with preferences and data.

[2021-01-26 14:35] danielebogo commented on #427
I'm able to see if I switch on the notification under Reviews

[2021-01-26 14:35] #427 closed

[2021-01-26 14:58] martyphee commented on #426
I'm getting some PR's coming through now but still a lot less than shows on my notifications page.

[2021-02-02 09:24] yihongang commented on #420
Minor update on memory consumption behavior, when the number of PRs in the `Mine` section reduced from 20+ to 7, I also noticed that the memory-use drop from 4-5gb to around 2gb. Not sure if it's a causal relationship, as something else might have also changed in the 3 months

[2021-02-11 16:47] stembrain commented on #369
Heya @ptsochantaris , happy 2021! It looks like the `head` property of the Pull Request api calls list the source repo and branch. It would be so useful to me if I could see this from trailer, as I often have my just my jira ticket number in the PR title, but multiple PRs and branches going for that one ticket, bc of changes that dont depend on each other.
for instance, im working on JIRA-123

my

[2021-02-26 16:39] kamranayub opened #428 "Feature Request: Saved/persisted filters"
I love the filtering capability but don't love how it seems to disappear sometimes or that I have to remember to type them in.

Since you cannot add a filter expression in the Repository view, it would be nice to have "saved views" that persist a filter. For example, when triaging PRs, I prefer to hide things I don't have to take action on so I use `state:unread`. Having the ability to see this in

[2021-02-26 16:46] kamranayub opened #429 "Feature Request: Filter/Hide PRs I approved"
When triaging PRs, I don't need to take any more action once I approve a PR. They could move to Participated or I could hide them. I only want to see PRs that I have to pay attention to so it'll come back into "Mine" when my review is dismissed or if someone re-requests a review. If there was a filter for this, that is fine. An option in the Reviews tab to configure this would also work.

In our w

[2021-03-10 15:53] JustinAiken opened #430 "Can't disable comment notifications from codecov"
Trying all kinds of formats to block:

![Screen Shot 2021-03-10 at 8 52 09 AM](https://user-images.githubusercontent.com/1568662/110657301-f79ba580-817d-11eb-9238-028758177ba6.png)

But I keep getting on every PR I'm watching:

![Screen Shot 2021-03-10 at 8 51 57 AM](https://user-images.githubusercontent.com/1568662/110657381-06825800-817e-11eb-9bed-8b8cebbd68d4.png)

[2021-03-15 20:57] robichaudc opened #431 "UI issue: Top of app hidden when mac autohide menu bar is enabled"
A small amount of top padding would probably solve the issue

![Screen Recording 2021-03-15 at 04 54 56 PM](https://user-images.githubusercontent.com/31775963/111220221-48acfe80-85af-11eb-9ba8-68d3178da621.gif)

[2021-03-17 15:05] annarankin commented on #426
Hi there, I think I'm having a similar issue -- I followed the steps above and removed `com.housetrip.Trailer`, re-entered my GH token, and wound up with the long-lived spinner. I exited Trailer and restarted, and immediately got this notification (but no items visible in the drop-down):

![image](https://user-images.githubusercontent.com/11503403/111488654-d30c7400-870f-11eb-9d3c-796b166fbdb3.png

[2021-03-23 21:18] 99 opened #432 "Token permissions"
Hi,

Thank you for developing this great app.
I couldn't find this in documentation or README. But it would be helpful to define what kind of scopes the GH token will require for this to work.

[2021-03-30 08:49] cfstras commented on #420
Can confirm this, changing group makes the app unresponsive for about a minute. Version 1.7.4 (1572), Big Sur 11.2.3 (M1)

[2021-04-06 10:50] filliph commented on #432
I had the same question, found this old comment: https://github.com/ptsochantaris/trailer/issues/237#issuecomment-186244013

Would be great if the readme could be updated :)

[2021-04-06 14:34] cgatesman opened #433 "Setting a new token removes all assigned repository group names & show/hide settings"

[2021-04-08 09:13] Odaeus commented on #433
Can confirm, now GitHub is telling us to update our tokens to a new format. I tried to import a backup but that resets to the old token which doesn't work any more. I guess a workaround would be to edit the backup file to replace the token.

[2021-04-11 23:57] stackptr commented on #424
@ptsochantaris Github sent out emails earlier in April urging users to regenerate tokens (explained in this [blog post][1]). I get the above error when using a token, though it looks like the name of the API server is omitted:

<img width="372" alt="Screen Shot 2021-04-11 at 4 52 23 PM" src="https://user-images.githubusercontent.com/4542907/114325695-4b374100-9ae6-11eb-8fbb-2811d1b0c186.png">

If

[2021-04-12 02:44] stackptr commented on #424
Trailer seems to be working with that updated token, fyi.

[2021-04-12 17:06] cgatesman commented on #433
How do you think I ran into this issue? 😉

[2021-04-12 19:56] elainemckinley opened #434 "Menu bar item changes placement on its own"
Hi there! Been using trailer for a while and love it, great way of staying on top of WIP.

I've had an issue recently where the menu bar item seems to change where it's placed on my bar. I use an app called Dozer, which hides some unused icons, and Trailer seems to be putting itself into the hidden section to the left. Is there logic within Trailer that moves the menu bar icon itself? And if so ho

[2021-04-13 11:11] ptsochantaris commented on #424
Thanks for the update @stackptr, my feeling is that most probably the endpoint that the test option uses may not work anymore. I haven't had much time to work on Trailer as I would have liked recently, but I'll be sure to look at that when I do. As long as Trailer works otherwise, then that's fine.

[2021-04-14 16:15] kgrhartlage opened #435 "Feature Request: Allow to hide avatar on notifications only"
I would like to keep avatars on the menu bar dropdown because they offer a quick way to identify the author and do not take away from other information. Notifications, however, have so much less real estate to display information that their information value is - in relative terms - greatly reduced when also showing avatars.
If adding a separate setting is not desirable, maybe always hiding avatar

[2021-04-20 16:41] danmcmahill opened #436 "Simple way to migrate/share settings?"
Is there a simple way to migrate settings from one computer to another?  I have 3 basic use cases:

1.  Co-worker:  "trailer is awesome, you totally need to use it, here are my settings that you can import (minus github token)"
2.  Replacing computer with a newer one, I want to keep all of my settings.  If I have to put in my token again, that is ok.
3.  Maintaining a common setup between two diff

[2021-04-21 07:55] ptsochantaris commented on #436
Hi @danmcmahill - the export/import settings function should cover what you need I think. Check it out on the "Misc" tab of preferences. Let me know if you run into problems.

[2021-04-21 07:58] ptsochantaris commented on #433
Hi guys. Yes, resetting the GitHub token is a horror from the days when Trailer was a tiny little utility, and it just nuked everything to keep things clean. Obviously by now this functionality is _way_ overdue for a fix, and will add this on the (slow moving, I hate to admit, PRs welcome) TODO list. TemporarilyI would strongly recommend just editing it manually as @Odaeus mentioned.

[2021-04-21 22:47] danmcmahill commented on #436
Thanks!  I somehow missed that one.

[2021-04-21 22:47] #436 closed

[2021-04-23 14:13] cgatesman commented on #433
Completely understand, and I can see how this particular issue wouldn't be as high of priority.  Thanks!

[2021-05-12 14:36] klundberg commented on #434
I'm also seeing this, on macOS 11.3. Whenever it refreshes its data it seems to shift to the leftmost position on the menubar for some reason for me.

[2021-05-15 13:18] ptsochantaris commented on #433
Hi! V1.4.5 is now up with minor fixes, amongst which is this one. Hopefully it makes your life a bit easier. Let me know if you run into issues.

[2021-05-15 21:18] sheldonhull opened #437 "Confusing release note for `1.7.5` about "nuke all contents""
Couldn't find resolved commits to explain what this meant.

[code]

I recall setting my token to only reading workitems, so I'm not concerned too much on this, however it gave me pause and made me rotate my token to be safe. Mind updating the release notes on what "all contents of a servers's repos" refers to (assuming pending notifications?)

[2021-05-15 21:34] ptsochantaris commented on #437
Hi, it just means that in the past if you edited an API server auth token it would clear all the contents from the server on Trailer, and you needed to re-configure the related repos from scratch, a leftover from the ancient days of Trailer. This is no longer the case, so the auth token can be replaced or edited without clearing local data.

[2021-05-16 23:39] ptsochantaris commented on #426
Hi, just a note on the above discussion, deleting the Trailer database won't really reset your app preferences, as they are saved to macOS, and not the app database. If you want to completely reset Trailer's settings, quit Trailer, then delete Trailer's defaults in `~/Library/Group Containers/group.Trailer`. That should hopefully reset your settings when you start it again.

[2021-05-17 00:02] ptsochantaris commented on #401
Hi, this can also act as a short term workaround: https://github.com/ptsochantaris/trailer/issues/426#issuecomment-841895867

[2021-05-19 19:24] dnicolacopoulos commented on #433
Hi!
I still have this issue even with v1.7.5.
After I regenerated the token as instructed by Github, I lost all my saved repos I was watching and can't seem to get them back...
I'm not sure I can find a backup and how to edit as @Odaeus mentioned. Can you please provide mode details?
Thanks!

[2021-05-19 19:35] ptsochantaris commented on #433
Hi @dnicolacopoulos, that sounds more like a token permission issue rather than Trailer deleting the local data cache. Check that your new token has the required permissions (all the repo permissions and read:org permission). If you want to keep backups of your Trailer config, you can do it from the Misc tab in preferences, but there are no auto backups made by default.

[2021-05-19 19:37] dnicolacopoulos commented on #433
Hi @ptsochantaris
I realized I had to re-enable SSO after the token was regenerated..Once I did that, I got my repos back. 👍

[2021-05-20 08:17] ptsochantaris commented on #433
Great stuff, thanks for the update @dnicolacopoulos - I'll note that down as a new requirement then, perhaps to add it in the requirements description for the auth token 👍

[2021-05-20 13:01] damsleth commented on #432
I copied the scopes specified in #237, but the v4 endpoint still didn't work.
Seems the v4 (graphql) endpoint needs more permissions, specifically [as per the github docs](https://docs.github.com/en/graphql/guides/forming-calls-with-graphql#authenticating-with-graphql)

[code]

Pasted my own Trailer PAT scopes below for easier reference

![image](https://user-images.githubusercontent.com/7300548/1

[2021-05-20 15:27] bshega-godaddy commented on #433
@dnicolacopoulos Thank you, I ran into this same thing and that fixed!

[2021-05-22 12:39] ptsochantaris commented on #432
Hi, for what it’s worth my settings are exactly what the text in the app specifies, i.e. read:org and all the repo settings. I use v4 api, but those were the settings used in the v3 api as well. If you find that you need additional permissions for certain items to appear, please do let me know so I can update the descriptions in the app!

![public-jpeg](https://user-images.githubusercontent.com/52

[2021-05-22 12:42] #437 closed

[2021-05-22 12:44] #303 closed

[2021-05-23 16:34] ptsochantaris commented on #411
Hi, I've created a test build of the next update with this feature included, feel free to give it a go and provide feedback or issues which you may encounter.

[Trailer.app.zip](https://github.com/ptsochantaris/trailer/files/6528483/Trailer.app.zip)

[2021-05-23 16:34] ptsochantaris commented on #402
Hi, I've created a test build of the next update with this feature included, feel free to give it a go and provide feedback or issues which you may encounter.

[Trailer.app.zip](https://github.com/ptsochantaris/trailer/files/6528483/Trailer.app.zip)

[2021-05-23 16:34] ptsochantaris commented on #388
Hi, I've created a test build of the next update with this feature included, feel free to give it a go and provide feedback or issues which you may encounter.

[Trailer.app.zip](https://github.com/ptsochantaris/trailer/files/6528483/Trailer.app.zip)

[2021-05-23 16:34] ptsochantaris commented on #369
Hi, I've created a test build of the next update with this feature included, feel free to give it a go and provide feedback or issues which you may encounter.

[Trailer.app.zip](https://github.com/ptsochantaris/trailer/files/6528483/Trailer.app.zip)

[2021-05-31 14:40] jscheel commented on #411
You just made me a very, very happy man ❤️

[2021-06-01 09:25] onlyplo commented on #411
_choked on coffee reading this_ - amazing.🏃‍♂️💨 running to test it out now.

[2021-06-01 16:47] ballpointcarrot commented on #411
Works beautifully on this end. Much appreciated. ❤️

[2021-06-03 17:23] ajsharma opened #439 "Red X for Pull Requests when using Github v4"
Firstly, thank you for such a great and useful application, I rely on it daily!

For the actual issue report:

On Trailer 1.7.5, I turned on Github v4, but all my pull requests disappeared and I started to see the Red `X` icon and no pull requests.

I turned on the console logs and see the following error message:

[code]

might be the cause of the problem?

![Screen Shot 2021-06-03 at 10 15 08 AM

[2021-06-05 15:12] ptsochantaris commented on #439
Hi, interesting! Looks like a corner case with the generated GraphQL query. Could you possibly (temporarily) activate the logging API option from `Misc` and include a copy of the query here (please redact any confidential info if there is any) so I can take a look at the query that's failing?

[2021-06-05 15:17] ptsochantaris commented on #430
You don't need to prefix `@` in that list, in fact on macOS it may end up trying to block `@@codecov[bot]` because the code isn't very smart about trimming the `@` :)

Can you try adding a `codecov[bot]` to that list and see if it helps?

If not, there may be some mischief happening with the square brackets which I should look into - let me know now it goes.

[2021-06-05 15:22] ptsochantaris commented on #428
I really like the idea of persisting the filters and have thought about it for a while, but decided that it's worth waiting until someone else asks for it too, and here we are :) Adding to the TODO list!

Incidentally, for your first scenario there is the `Only display items with unread badges` option in settings - although admittedly that is app-wide, not status-item wide.

On the assignee front,

[2021-06-16 20:05] JustinAiken commented on #430
Added `codecov[bot]` to the list, will post back tomorrow if it works!

[2021-06-24 10:46] hyunjinjeong commented on #434
Same here. It would be great if the menu bar icon doesn't move on refreshing.

[2021-06-24 18:26] elainemckinley commented on #434
I'd like to mention for folks here that, fwiw, I haven't experienced this on version 1.7.5. Is that the same version y'all are on?

[2021-06-28 07:48] hyunjinjeong commented on #434
I don't know why, but now it works fine for me 🎉
I'm using Trailer 1.7.5 and macOS 11.4.

[2021-06-28 15:42] hampgoodwin opened #440 "Could not refresh repository list"
Hello!,
I'm getting an issue in Trailer where I'm unable to refresh the repository list from GitHub when rescanning.

`Could not refresh repository list from GitHub, please ensure that the tokens you are using are valid`

![image](https://user-images.githubusercontent.com/17371239/123664551-aaa71200-d7f4-11eb-8132-e224ee969f3c.png)

It suggests I validate that the tokens I am using are invalid, ye

[2021-06-30 12:44] carlisia commented on #407
Hi @ptsochantaris and @lwasyl 👋

tl;dr: GH Actions API is out of beta: [GitHub Actions: API is now generally available | GitHub Changelog](https://github.blog/changelog/2020-03-24-github-actions-api-is-now-generally-available/) as of March 2020, so it should be solid!

If you click on the link posted here [Github Actions status not displayed · Issue #407 · ptsochantaris/trailer](https://github.com

[2021-06-30 15:21] ptsochantaris commented on #407
Hi @carlisia and thank you for your very kind words about Trailer, they are much appreciated, and I'm really glad it's useful for you!

I certainly haven't given Trailer the love it needs for a few months now and part of that is keeping up with the GitHub Actions API evolution.

The info you have linked to above is very useful, and means I can get back to integrating the API now that it's stable (

[2021-06-30 15:24] carlisia commented on #407
Thank you!

[2021-06-30 21:11] ptsochantaris commented on #407
Here's a build with run-check functionality enabled for v4 API. That API is quite straightforward and, now that it's stable, quite easy to add in.

Can you give it a go and let me know if what it displays makes sense? I'm not too familiar with actions and run checks, so it could be that Trailer is giving too much info, or not enough, or even not working at all :D

There is no specific setting need

[2021-06-30 21:35] carlisia commented on #407
Glad to test it!

This first screen shot is of my original installation:
![2021-06-30 at 2 16 PM](https://user-images.githubusercontent.com/16508/124034500-24cfc600-d9b0-11eb-8b11-febe7bd67b97.png)

This second one is from the new installation. I waited for the refresh to finish. The second PR which has a green netlify status changed to yellow than back to green. The top one which shows as yellow

[2021-07-01 08:07] ptsochantaris commented on #407
Brilliant, thanks for testing! Seems like the update logic needs some additional tweaking. I’ll try testing using the repos above too 👍

[2021-07-01 09:56] ptsochantaris commented on #407
Here's an update with some minor fixes which may or may not address the above issue - however from what I see above there are no checks displayed there, so possibly Trailer didn't refresh those PRs yet? I'm including a screenshot of what this repo should look like with the actions synced:

[Trailer.app.zip](https://github.com/ptsochantaris/trailer/files/6747250/Trailer.app.zip)

<img width="524" a

[2021-07-01 11:34] carlisia commented on #407
Wow nice!!!! Oh boy, I'm glad you have the option to show only the failing ones, so many checks! I loooove that it shows the diff. And also that it shows there's a conflict, that's another super helpful indicator!

I installed it and am eagerly waiting for it to finish refreshing. Looks the same as yesterday so far except that the yellow check that should be green is now back to being green.

Is t

[2021-07-01 11:51] carlisia commented on #407
After it finished refreshing it looks the same, none of the new indicators are showing. If it's only going to show with new PR's that's totally fine. I'll find out soon enough, will report.

[2021-07-01 11:55] ptsochantaris commented on #407
Are you sure you are using the v4 API for GitHub? If not, the new changes won't show up - you can turn it on in preferences. The options to show the line diffs and conflict are also in the "display" tab if you want to turn them on 👍

[2021-07-01 12:05] lwasyl commented on #407
I think there's some other unrelated issue with refreshing using v4 api. I use it:
<img width="558" alt="image" src="https://user-images.githubusercontent.com/3951580/124121488-3b8c2080-da75-11eb-87b9-4e23707df3f5.png">

and routinely see build statuses not refreshing. Also I have couple of repos which show PRs that have long been merged, and I can't seem to get rid of them. I believe (I'm like 70

[2021-07-01 12:11] carlisia commented on #407
Boooyah!!!!!!!

Yep. I did not have the v4 checked 🤣

![2021-07-01 at 5 09 AM](https://user-images.githubusercontent.com/16508/124122179-a82dfd80-da2a-11eb-9495-5d04dfef7c8d.png)

![2021-07-01 at 5 10 AM](https://user-images.githubusercontent.com/16508/124122260-bf6ceb00-da2a-11eb-9626-7ca67f6295d9.png)

[2021-07-01 13:11] carlisia commented on #407
I think the big ask of this issue which was to enable the GH API v4 functionalities in Tailer was addressed and this issue deserves to be closed, at least as far as I'm concerned. Any other related request probably would be best tracked in a new issue.

Thank you so so much @ptsochantaris for the quick turn around and for the app!

[2021-07-01 16:23] ptsochantaris commented on #407
Awesome! No need to close the issue for now, I'll do it when the upcoming release is out 👍

BTW here's another build with minor fixes to avoid red "X"s when querying statuses with actions, if there are a lot of PRs the previous build could break:

[Trailer.app.zip](https://github.com/ptsochantaris/trailer/files/6749601/Trailer.app.zip)

[2021-07-01 23:37] carlisia commented on #407
I installed this one but the X is still there.

![2021-07-01 at 4 37 PM](https://user-images.githubusercontent.com/16508/124200626-ac8a0300-da8a-11eb-8d09-e12a8fb44ac4.png)

[2021-07-02 21:51] ptsochantaris commented on #434
Hi, sorry for the very late response - I wanted to ask if this is still an issue, or if not, I could close it?

[2021-07-02 21:52] #433 closed

[2021-07-02 21:54] #351 closed

[2021-07-02 21:58] ptsochantaris commented on #430
Did it help?

[2021-07-02 22:29] ptsochantaris commented on #407
Sorry, I wasn’t very clear there - the X indicators I was talking about were the ones that appear if a sync fails. The ones in the actions should indicate failed run-checks (but please do let me know in case they should not be there!)

[2021-07-03 12:58] ptsochantaris commented on #409
Just short of a year later, I finally found the time to sort this bug out. Very sorry for taking ages. The solution is exactly what you mentioned @cgatesman - Trailer needed to "subtract" the assigned reviewer from the existing reviews, and to also then ensure that when a review assigned is removed (the user had reviewed) then it needs to clear that entry locally as well. This beta build should ha

[2021-07-03 13:31] JustinAiken commented on #430
Oh yes, that did the trick!

[2021-07-03 13:31] #430 closed

[2021-07-03 17:23] ptsochantaris commented on #277
Hi, I'm dusting off the old queue of issues, and I'll be closing this one for now since v4 API sync will in fact detect and sync down PRs when their body is edited, but please feel free to open another issue if you feel there's more that can be done on this in the future.

[2021-07-03 17:23] #277 closed

[2021-07-03 19:28] ptsochantaris commented on #435
Hi! Sorry for the slow reply. This makes total sense. This pre-build of the next release should include this feature. If you get a chance, have a go with it and let me know if the new option (it's in Preferences next to the "main" option) does what you expect.

[Trailer.app.zip](https://github.com/ptsochantaris/trailer/files/6758948/Trailer.app.zip)

[2021-07-07 10:18] mrVragec opened #441 "Feature Request: Open all PRs in the list"
As a user, I would like to be able to open multiple/all pull requests with one click.
I think that would be useful in case when the user needs to open multiple pull requests as in the current implementation user needs to open the application X times (x is the number of PRs which the user would like to open).

Example:
1. I would like to open all the pull requests which are under the "mine" section

[2021-07-12 20:51] cgatesman commented on #409
Excellent!  No worries on the time line.  I'll get this installed and let you know how it goes.

[2021-07-12 20:55] cgatesman commented on #409
Installed, and it looks like this fixes this issue. 👍

[2021-07-14 17:30] elainemckinley commented on #434
I haven't experienced it in weeks, so would be content with it being closed :)

[2021-07-16 01:15] #434 closed

[2021-07-19 20:34] ptsochantaris commented on #435
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:34] #435 closed

[2021-07-19 20:34] ptsochantaris commented on #431
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:34] #431 closed

[2021-07-19 20:34] ptsochantaris commented on #428
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:34] #428 closed

[2021-07-19 20:34] ptsochantaris commented on #425
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:34] #425 closed

[2021-07-19 20:35] ptsochantaris commented on #369
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:35] #369 closed

[2021-07-19 20:35] ptsochantaris commented on #388
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:35] #388 closed

[2021-07-19 20:35] ptsochantaris commented on #409
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:35] #409 closed

[2021-07-19 20:36] ptsochantaris commented on #402
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:36] #402 closed

[2021-07-19 20:36] ptsochantaris commented on #407
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:36] #407 closed

[2021-07-19 20:36] ptsochantaris commented on #411
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:36] #411 closed

[2021-07-19 20:37] ptsochantaris commented on #373
Hi, I'll be closing this issue as v1.7.6 is now up and includes this amongst other changes. If you encounter any problems with it, please feel free to open a new issue.

[2021-07-19 20:37] #373 closed

[2021-07-19 20:46] ptsochantaris commented on #440
Hi @hampgoodwin - this feels very much like a permission issue TBH, can you check if you have provided the needed permissions to the auth token which you have generated? See this thread: https://github.com/ptsochantaris/trailer/issues/432

[2021-07-19 20:50] ptsochantaris commented on #441
Hi @mrVragec!

You can open multiple items my option-clicking on each one.

As for opening all items in one section, I'm not sure I'd like to add an "open all" button to each title, as this is quite a nice requirement, but possibly could consider adding a context menu option?

[2021-07-27 06:44] mrVragec commented on #441
Hi @ptsochantaris
I tried with opt-click on Mac (left and right option key), but unfortunately doesn't work for me :(, maybe I'm doing something wrong.
Context menu option sounds also good, it will give the same results so I don't see any difference.

Thank you !!

[2021-07-30 15:16] rdune opened #442 "Support for displaying statuses coming from Check Suites / Check Runs"
I noticed that [Github Actions statuses are now displayed](https://github.com/ptsochantaris/trailer/issues/407) as of 1.7.6.

I was wondering if there are any plans to support displaying Check Suite / Check Run statuses as well.

Cheers!

PS: Great app! Love it!

[2021-07-30 17:54] rdune commented on #442
CLosing issue as check run statuses now started getting displayed, maybe just some oddness with the timing.

[2021-07-30 17:54] #442 closed

[2021-08-09 22:38] geoah opened #443 "Unable to hide repository issues"
Hey there,

I'm on 1.7.6 (1584) and I'm seeing a weird issue trying to hide repository issues.

It seems tha the "Hiden" option in the drop down doesn't exist on individual repositories, and if I try to hide issues for all or filtered repositories, it correctly filters them until the next refresh, (or until I close the settings window which seems to trigger a refresh.)

![2021-08-09 23 30 56](http

[2021-08-11 20:19] ptsochantaris commented on #443
Hi @geoah and thanks for reaching out.

What you're seeing isn't technically a bug, more like slightly <cough> unoptimal UI on my end. "Authored" is basically the same as "Hide". The reason the indicator there changes to "Authored" is that Trailer has detected you have items authored in those repositories, and that you have selected the option "sync PRs/issues I have created in any repository" fro

[2021-08-12 10:24] geoah commented on #443
Hey @ptsochantaris,

Yap removing "sync PRs/issues I have created in any repository" indeed was the culprit.
Sorry for the non-bug report, it does make sense.

I'll close this ticket now.

Thank you for all your work on trailer! :D

[2021-08-12 10:24] #443 closed

[2021-08-12 20:09] TallGirlVanessa opened #444 "Repositories preferences: rightmost column heading is cut off"
This column is cut off so all it says is a mysterious "F..."

<img width="956" alt="Trailer_Preferences" src="https://user-images.githubusercontent.com/103690/129262332-5ba83785-c52b-4c80-9d2f-318081ee5229.png">

 I tried disconnecting my mice to get rid of the scrollbar. The issue persisted.

<img width="966" alt="Trailer_Preferences" src="https://user-images.githubusercontent.com/103690/12926264