[2015-11-28 13:18] IzumiSy commented on #230
I checked the debug version. It seems that the crashing bug I have reported at first has been fixed :sparkles: However, it still has malfunction with Enter key.

Search filtering now starts working just after focusing off the input box. Japanese IME always uses Enter key every time to end conversion with IME typing. So I guess what should be handled is `keypress` of Enter. Languages like English d

[2015-11-28 14:55] ptsochantaris commented on #230
No, it's perfectly alright!

Please DO mention any and all issues you have with this, it's very helpful.

So, it's good to know we're not crashing anymore, but it seems then that the input box isn't automatically triggering filtering when the text changes, if I understand correctly? If so, it sounds like it's reading the pre-Japanese text rather than the final IME output.

I'll check this out a li

[2015-11-28 16:42] ptsochantaris commented on #230
Hi, I think I may have isolated it - it seems Trailer was picking up the "enter" key press that was meant to confirm the IME entry in the search field. Let me know if this build behaves better now, of if it needs more tweaking to its behaviour:

https://www.dropbox.com/s/mhyyet76nctzee9/Trailer-debug-1256.zip?dl=0

[2015-11-28 21:55] ptsochantaris commented on #229
Hi @irnnr

I have a debug build with an initial implementation of this option. It made more sense to add this as an extra column, and to make it more generic, in addition to hiding the user's PR/Issues/Both, I have added the ability to do the same to others' items as well, so you could for instance hide everybody else's PRs or Issues in a specific repository if you wanted to (Note that this differ

[2015-11-29 00:50] IzumiSy commented on #230
Hi, The one last you built was completely working fine! :100: That was exactly what I expected. Nothing could be better, no need to tweaking anymore :+1: Now the bug I reported here was completely fixed. Thank you so much for a quick response and kindness until now!

[2015-11-29 01:12] ptsochantaris commented on #230
That's great news! You're very welcome, and thanks again for reporting it @IzumiSy - and please feel free to open further issues in the future if you notice any more issues related to IME input or anything else. I'm glad we could sort it out quickly.

I'll leave this issue open until the actual non-debug version is up in the next couple of days, and I'll let you know when it is so you can upgrade

[2015-11-29 03:13] irnnr commented on #229
Works as intended, perfect!

[2015-11-29 10:02] ptsochantaris commented on #229
Excellent, that's great to know! Hope it makes your life easier.

I'm currently wrapping up 1.3.11 and will let you know when it's up so you can upgrade to the actual release binary, as this one is a bit "fat" in terms of CPU, logs, and memory.

[2015-11-29 22:30] ptsochantaris commented on #229
Hi, just wanted to let you know that the release build of 1.3.11 is up, you can update to it from "About Trailer" -> "Check For Updates"

[2015-11-29 22:30] ptsochantaris commented on #230
Hi, just wanted to let you know that the release build of 1.3.11 is up, you can update to it from "About Trailer" -> "Check For Updates"

[2015-11-30 00:48] IzumiSy commented on #230
Thank you for reminding me! I got notification of the update on this morning. Really glad to see Trailser getting better. Will enjoy work with it today :yum:

[2015-11-30 17:32] irnnr commented on #229
:+1:

[2015-12-01 17:04] ptsochantaris commented on #230
Excellent, I hope it's going well.

I'm going to close this issue for now, but please feel free to re-open or create further issues if you spot anything else.

Thanks again for reporting this and helping improve Trailer!

[2015-12-01 17:04] #230 closed

[2015-12-01 17:18] ptsochantaris commented on #229
Hi, I'm going to close this for now, please feel free to reopen or post further issues with suggestions!

[2015-12-01 17:18] #229 closed

[2015-12-05 13:29] jules2689 commented on #212
Just got the update :)
Things are definitely a lot more clear. I haven't gotten a chance to go through it properly yet, but it it definitely a vast improvement.

[2015-12-05 21:37] ptsochantaris commented on #212
Ah, crap, I completely forgot to ping you about that release here, I'm so sorry! I meant to do that and also mention your valuable input in the release notes right afterwards, and then I seem to have been swallowed up by other work. Fixed!

Really glad you see an improvement! :+1:

Like we talked above, this is a first round really, there should be a more radical re-organization of options, to all

[2015-12-06 05:38] jules2689 opened #231 "Latest version exhibiting consistent crash"
[code]

Logging before the crash (happens every time after a few minutes, so I turned logging on)
[code]

Running from master/source does not reproduce, so I don't know if I can get symbolized crash logs. If you know of a way I can symbolize them, then please let me know :)

[2015-12-10 11:48] ptsochantaris commented on #231
Hi, just saw this :(

If you can attach the crash log I can symbolicate it from the build archive on my end.

Weird that it doesn't happen from master, it ought to be identical.

If you send me the crash log I'll look into this ASAP.

[2015-12-18 10:35] ptsochantaris commented on #231
Hi, just wondering if you're still getting this crash?

[2015-12-23 20:02] cgatesman opened #232 "Trailer dropdown is detached and lower on screen when on desktop with maximized window"
If you have an application maximized in OS X (El Capitan), and drop down Trailer, it appears much lower on the screen instead of up by the Trailer icon.

![screen_shot_2015-12-23_at_2_53_38_pm__2_](https://cloud.githubusercontent.com/assets/6276072/11984063/3a33b976-a986-11e5-9e40-2ca13e468992.png)

[2015-12-28 15:10] ptsochantaris commented on #232
Hi and thanks for reporting this! Sorry for the late reply, I'm 'away' from my work-related setup because of the vacation period.

I'm going to look into it ASAP but in the meantime I wanted to ask - by 'maximised' are you referring to a window being zoomed to the edges of the screen, or the window being in full-screen mode? Can you perhaps give me an idea of how I could reproduce this using somet

[2016-01-04 14:04] cgatesman commented on #232
Sorry for not getting back sooner.  I was out on holiday vacation.  I did a little more investigating on this.  It appears that this only happens on a secondary display.  If I have an application in full screen mode on the secondary display and try to drop down Trailer from that display (through the hidden menu bar at the top), it will behave in this way.

I don't know if this matters, but my main

[2016-01-04 17:28] ptsochantaris commented on #232
Hi! Thanks for the update, this is useful info :+1:

So, your setup sounds very similar to what I'm using, and using the steps above I can see that there is some weird behaviour occurring if I try to open the Trailer menu from the secondary display with the "full screen"-ed app.

In my case the effect is even weirder, the menu just shows up on the primary display :) Clearly something is going on t

[2016-01-04 17:29] cgatesman commented on #232
Great!  Glad you were able to reproduce it.  I was worried it was something only specific to my setup, and you wouldn't see the problem. :+1:

[2016-01-10 00:05] bkuhlmann opened #234 "Watchlist is not maintaining preferences"
When setting "Set all PRs..." and "Set all issues..." to "Hide" for select repositories within the Watchlist, I'm seeing two things happen:
1. Multi-selecting certain repositories and changing their visibility for pull requests and issues will cause all repositories to inherit the new visibility even though they weren't selected.
2. Applying the desired visibility will temporarily be applied and t

[2016-01-10 13:41] ptsochantaris commented on #234
Ouch, sounds like an ugly regression there - I'll look into it ASAP, thanks for calling it in. Not sure what may be going on with the preferences being forgotten though, that's very weird indeed. Can you make sure you're not running two instances of Trailer somehow, perhaps with one somehow being stuck in a zombie state in Activity Monitor?

In any case, will definitely have a look and get back to

[2016-01-10 15:12] bkuhlmann commented on #234
Thanks! Yeah, double checked upon waking the system this morning that Trailer didn't have multiple processes running within Activity Monitor. There was only one. Also, upon waking this morning, some of the repos that I had filtered out yesterday came back again. I re-applied new filters and then quit and relaunched Trailer and they are sticking again. I might be wrong about the relaunching of Trai

[2016-01-10 15:18] ptsochantaris commented on #234
Interesting - It sounds like the repo prefs are "returning" when a sync occurs, rather than when Trailer launches - I think the launch / wakeup from hibernation issue is incidental because that's when Trailer will perform a sync due to network returning.

Entirely possible that there's a missing "db save" when repo prefs are modified, and the change gets overridden by previous versions of their re

[2016-01-23 12:33] ptsochantaris commented on #201
Closing this for now, always happy to get more feature requests / bug reports!

[2016-01-23 12:33] #201 closed

[2016-01-23 12:34] ptsochantaris commented on #225
Hi, was just wondering if this issue has improved for you at all?

[2016-01-23 13:25] ptsochantaris commented on #232
Hi, I think I may have found the issue - here's an intermediate build with (hopefully) this correction. Can you give it a shot when you have some time and see if it helps at all? Thanks!

https://www.dropbox.com/s/4axilguzcbpds17/Trailer-menu-placement.zip?dl=0

[2016-01-23 13:37] aik099 commented on #225
No problems so far.

[2016-01-23 13:40] ptsochantaris commented on #225
Nice :+1: Ok, then I'll close this issue for the time being, but please do feel free to (re)open or file a new one in case you spot anything going wrong.

[2016-01-23 13:40] #225 closed

[2016-01-25 13:50] cgatesman commented on #232
Excellent!  Just verified that build fixed the issue I was seeing. :+1:

[2016-01-26 10:02] ptsochantaris commented on #232
Great news! I wish j could have a good excuse but it was just bad code on my end :(

Many thanks for reporting and testing it out! I'll push a small update out with this fix soon.

Meanwhile feel free to use this build, it's a proper release build and should work fine without any issue.

[2016-01-28 12:47] ptsochantaris commented on #232
Version 1.3.12 is up, and is essentially the same build as the one you have above - but if it makes you feel more secure feel free to re-download it just in case (the auto-updater will probably not prompt you because the public build has the same build number) Link: https://github.com/ptsochantaris/trailer/releases/download/v1.3.12/trailer1312.zip

I'll close this issue for now, but please feel fr

[2016-01-28 12:47] #232 closed

[2016-01-28 12:47] ptsochantaris commented on #231
Closing this for now, please do reopen or file a new issue if you are still experiencing this.

[2016-01-28 12:47] #231 closed

[2016-02-04 04:40] bkuhlmann opened #236 "Optionally hide PR statuses that are not all green"
![lables and statuses](https://cloud.githubusercontent.com/assets/50245/12805917/f4585692-cabd-11e5-9d6f-674b6fe17043.png)

After making use of this feature for a while I have more feedback/refinements. First, love this feature! However, there is a bit of an oddity when a build was green to begin with and then went red after a conversation began (i.e. someone added a `fixup!/squash!` commit, did a

[2016-02-10 12:58] ptsochantaris commented on #236
Hi @bkuhlmann - glad you're loving the feature!

Sorry I'm so late replying, it's a busy season!

So, it sounds like this feature is "trumping" your participation in the PR - the trouble is, if we reverse that priority then you will have all the red PRs show up in your participated section... Of course, from your description it sounds like this may be what we want in the first place: To only hide

[2016-02-11 01:50] bkuhlmann commented on #236
No worries, I know how that goes.

Yeah, good point. I hadn't considered that the checkbox could be limited to how you define your Watchlist settings as either "All", "Participated", "Mine", or "Hide". I like that a lot and by updating the text for the checkbox to specify that PRs are hidden for only those in the "All" section will help clarify what the purpose of the checkbox is.

That would be a

[2016-02-11 17:01] ptsochantaris commented on #236
Hi, I think I have a first build for you to try out. Give it a shot and let me know if I've understood your requirement correctly (and also see if it works well, I wasn't able to extensively test it out, although I did give it a few sanity runs :))

https://www.dropbox.com/s/nnkun93dpkeze0r/Trailer-hideInAll.zip?dl=0

[2016-02-12 01:49] bkuhlmann commented on #236
Thanks! Downloaded and installed. Will need a couple of days to test this out, though. Will have to get back to you later next week after I've had some time to use this more.

[2016-02-12 08:16] ptsochantaris commented on #236
There's absolutely no hurry, thanks for testing.

[2016-02-12 15:18] theKashyap commented on #65
What feature have you added to Sourcetree? I was looking for a solution to problem listed in OP. I'm on Sourcetree 2.x on Mac OSX, I see no "Display" tab under Preferences.

[2016-02-19 14:15] iosdeveloper opened #237 "Minimum scopes for token"
Which scopes are required to be checked for Pocket Trailer to work when creating the token?

[2016-02-19 14:53] ptsochantaris commented on #237
Ah, thanks for asking, I see Github no longer sets defaults for new tokens!

Making a note to issue an update with the appropriate instructions in the preferences window.

Here's a screenshot of the token scopes I use, note that "repo" needs to be selected from the top checkbox, not just the 3 sub-children, assuming you want Trailer to access your private repo info (if you only want to check publi

[2016-02-19 15:00] #237 closed

[2016-02-20 14:09] bkuhlmann commented on #236
Closing this issue after using the new build for a week. Everything is working well, no issues. Thanks for the fix!

[2016-02-20 14:09] #236 closed

[2016-02-21 13:51] ptsochantaris commented on #236
Great, thanks for testing and letting me know! I'll prep an update within the next few days that also includes some preferences pane tweaks and send it up! :+1:

[2016-02-21 16:46] ptsochantaris commented on #236
Version 1.3.14 is now up and includes this feature.

[2016-02-21 16:47] ptsochantaris commented on #237
Version 1.3.14 is now up and includes notes on the preferences and quick-start views about the minimum required permissions in case you or others need this info in the future.

Thanks again for letting me know about this!

If you encounter any other permission-related hiccups in the future, please do let me know so I can update the permission list with anything I may not have picked up on.

[2016-02-21 17:35] bkuhlmann commented on #236
Thanks! Downloading now. :smile:

[2016-03-02 17:09] Davidslv opened #238 "Suggestion: Exclude results from search"
Hi @ptsochantaris,

I was thinking if is possible to add a feature to the search where we can see all pull requests except the ones that have for example a title with `[WIP]`

I was thinking something like typing:

`! WIP`

And would show all the pull requests without `WIP`.

Hope it makes sense.
Thank you,
David

[2016-03-05 14:39] ptsochantaris commented on #238
Hi @Davidslv, yeah, it definitely makes sense.

I like the `!` prefix, although we probably don't want a space between it and the term, since a space in the search field separates ANDed terms right now (i.e. `title:UI title:tests` will list items that contains both "UI" and "tests", so `!WIP !IGNORE` will end up only ignoring results that contain *both* WIP and INGORE).

However, like with other s

[2016-03-06 14:28] ptsochantaris commented on #238
Hi David!

A new update is up which should include this feature now. Give it a go and let me know if it's what you had in mind. You can do things like "!WIP" that you mentioned, and you can also combine stuff, like "label:feature,!WIP" for instance.

Hope this makes you life easier! Be sure to let me know if you spot any crashing or logic issues with it.

[2016-03-07 20:59] thomaswrenn opened #239 "Keyboard method to Filter dropdown"
When opening the Pull Request dropdown with the keyboard shortcut there should be some way to focus the filter field (or it should be the default and accessible via Command-F and/or using the up arrow with the top Pull Request selected) so you can quickly filter and find a Pull Request, select it and open it all without the mouse.

Right now the filter field does weird constraint solving animation

[2016-03-08 16:24] pedrocunha opened #240 "Trailer notifies of my own PR comments when my username is mentioned"
Hi,

I think there is a bug on how trailer handles self PR comments when the same user is mentioned.

Replicate with: Write a comment in a PR with your `@username` in it.

Cheers

[2016-03-10 00:18] tooluser opened #241 ""Squelch" notifications for a particular PR"
One of the features Github has is the ability to silence notifications for a particular PR. This would be ridiculously valuable for Trailer! I have turned it on for 'alert' style notifications, to stay up to date - but I would love to be able to squelch specific PRs once I have decided I'm not involved.

This could be implemented as a notification action, and/or an action in the menu on a specific

[2016-03-10 16:35] ptsochantaris commented on #240
Ah, that is entirely possible - probably just naive coding from my end. What do you think @ptsochantaris?

[2016-03-10 16:36] ptsochantaris commented on #240
I concur. Thanks for spotting this @pedrocunha, will fix!

[2016-03-10 16:44] ptsochantaris commented on #239
Hi @thomaswrenn - More than happy to look into the issue, but there might be something else going on, since the filter field ought to be already focused by default when you open the dropdown via the keyboard shortcut. So you can type, navigate using the arrow keys, and press enter to open PRs (or Cmd-C to copy the URLs, for instance) as well as ESC to close the window.

Are you not getting that? I

[2016-03-10 19:08] tooluser commented on #241
Heh, indeed, it’s far too useful to call it uncluttered. ;-) But it’s all good, so it’s worth it!

I like the faded-out version more than an icon, that’s definitely better, nice.

Do alerts on MacOS support actions as they do on iOS? If they do, you could mute from that menu, too. It’s usually on seeing a new PR — or getting one too many alerts from a conversation I’ve checked out of — for example

[2016-03-11 10:29] ptsochantaris opened #242 "Test issue, please ignore"
No, really.

[2016-03-11 10:30] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:31] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:33] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:40] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:42] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:43] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:44] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:50] appleprtest commented on #242
Test comment, please ignore

[2016-03-11 10:55] appleprtest commented on #242
Muted comment

[2016-03-11 10:58] appleprtest commented on #242
Test 2

[2016-03-11 11:01] appleprtest commented on #242
Test 3

[2016-03-11 11:02] appleprtest commented on #242
Test 4

[2016-03-11 11:05] appleprtest commented on #242
Test 5

[2016-03-11 11:07] appleprtest commented on #242
Test 6

[2016-03-11 11:14] appleprtest commented on #242
Test 7

[2016-03-11 11:20] appleprtest commented on #242
Test 8

[2016-03-11 11:26] appleprtest commented on #242
Test 9

[2016-03-11 12:00] appleprtest commented on #242
Test 10

[2016-03-11 12:03] appleprtest commented on #242
Test 11

[2016-03-11 12:08] appleprtest commented on #242
Test 12

[2016-03-11 12:11] appleprtest commented on #242
Test 13

[2016-03-11 12:15] appleprtest commented on #242
Test 14

[2016-03-11 12:44] ptsochantaris commented on #242
Test for @ptsochantaris

[2016-03-11 12:45] ptsochantaris commented on #242
Test 15

[2016-03-11 13:00] ptsochantaris commented on #241
Ok, I think I may have a version ready for testing with this feature :+1: Give it a shot below and let me know how it works and/or any feedback you may have on it. (The equivalent features will also be on the iOS version too)

To answer your question about OS X notification actions, yes, you can have multiple actions just like iOS (and the build above supports them) BUT they are only visible on ea

[2016-03-12 00:36] tooluser commented on #241
This is great! And unbelievably fast! Thank you so much for being so responsive. I love the grey-ed out items; the UX is great.

After a day of usage, I have only impressions, into which I have not dug deeper.

Toward the end of the day, I swear I saw two things:
	- some notifications I thought would have been blocked. It’s _possible_ they were just identically-named but distinct PRs.
	- some dupl

[2016-03-12 08:39] ptsochantaris commented on #241
Thanks for testing and for the quick feedback!

I'm really glad you're liking it so far, and that the "fade" UX makes sense :+1: The way I see it, feature suggestions are extremely valuable, and I can't add requested features fast enough, especially if they are relatively simple to add, like this one :)

Interesting about the notifications you mention, I am leaning to your own explanation that the

[2016-03-14 10:44] Davidslv commented on #238
Hi @ptsochantaris, it works great for me, thank you so much for this :+1: :tada:

[2016-03-14 11:14] ptsochantaris commented on #238
Great stuff!

Thank you for suggesting this feature, it's very straightforward, makes a ton of sense, and was implemented quite painlessly :) Keep 'em coming!

Note on search: Always keep in mind you can search for PRs and Issues as well on the go from the iOS home screen (if you use Pocket Trailer), as the more recent versions have Spotlight integration, although you can't use the more advanced s

[2016-03-16 21:43] #238 closed

[2016-03-16 21:46] ptsochantaris commented on #241
Hi!

Just wanted to let you know I've updated the release and it now includes this feature as standard (the iOS version is waiting for review in App Store too :)).

I'm going to close this for now, but if you do encounter any more of those duplicates or any issues with it going forward, please *do* open a new issue and I'll look into it ASAP.

Thanks again for suggesting this, and as always please

[2016-03-16 21:46] #241 closed

[2016-03-16 21:47] ptsochantaris commented on #240
Hi, version 1.3.16 is now up and should correct this issue, thanks again for reporting it!

[2016-03-16 21:47] #240 closed

[2016-03-16 22:12] tooluser commented on #241
I saw that! Thanks a million!
I swear I just got a duplicate, but I had closed one before I had time to grab any info. I’ll keep an eye on it.

Thanks again for your extraordinary good work and alacrity. We love Trailer!

[2016-03-17 08:49] ptsochantaris commented on #241
You're very welcome, and I'm delighted Trailer is making your life easier!

Yes, please *do* make a new issue about the duplicates when/if you spot more and can see any sort of pattern. I will definitely keep an eye out for these duplicates as well.

[2016-03-18 18:42] stepanhruda opened #243 "Snooze PR/issue until next activity"
Now that https://github.com/ptsochantaris/trailer/issues/241 is implemented it'd be cool to have the "opposite" of muting. I'd like to completely hide a specific PR or issue from the list until there is activity in it or until a certain time expires (or perhaps a combination of both).

Basically I'd like all the PRs and issues that trailer shows me to be __actionable__, similarly to how I use emai

[2016-03-18 18:54] tooluser commented on #243
That’s an interesting idea. The first notification could cause the others on the same PR to accumulate until you decided whether you wanted it on your list, or not.

[2016-03-18 20:46] stepanhruda commented on #243
Could you explain what you mean a bit more? In my mind the first notification immediately brings the item back to the list, because something has changed and I need to act again. If I want the item to stay away, I need to snooze it again (and it'd be nice to have an "ignore" option where it disappears permanently).

This feature fits into a workflow where I say "show me this PR in 7 days, or show

[2016-03-21 11:21] ptsochantaris commented on #243
Hi @stepanhruda and thanks for posting this!

I think I understand your requirement and where you’re coming from in terms of UX, but I would be worried about planning out one big feature like this in it’s current form.

To be clear right off the bat, I am definitely not arguing against the usefulness of what you’re suggesting. It is immediately obvious how a “GitHub Inbox” workflow could be helpfu

[2016-03-22 17:17] pk-nb opened #244 "Trailer OSX notifications do not clear"
Hi there! Thanks for such a great tool. I'm having an issue where notifications from trailer are not clearing through the "X" button.

<img width="319" alt="screen shot 2016-03-22 at 11 14 10 am" src="https://cloud.githubusercontent.com/assets/1911028/13960799/6a855438-f01f-11e5-8c9c-4610faf4cde6.png">

All other notifications are clearing out—but trailer's persist (even after a NotificationsCente

[2016-03-22 17:59] tooluser commented on #244
I've seen the same thing!

[2016-03-22 18:14] stepanhruda commented on #243
If this is not the way you want your product to go, that is a totally legit reason.

Trying to go along your suggestions:

What if there was a fourth category of PRs (on top of mine/participated/all) called "snoozed". If I right-clicked and said Snooze on a PR, it'd jump into the snoozed category from its current one. After next comment, the snoozed label would get removed and the PR would jump ba

[2016-03-22 22:38] ptsochantaris commented on #243
I really like that idea, it makes a lot of sense, it's specific, and I can see many cases where I would use it too (see for instance many cases where I use the "waiting for feedback" label in issues, those would be perfect for the Snoozed section in the issues menu)

Some thoughts (brainstorming) and questions to help shape this into something build-able, your comments are welcome on each point:
-

[2016-03-22 22:40] ptsochantaris commented on #244
Getting the same thing here - I thought it was my OS X installation that had gone weird. Thanks for reporting this, I'll look into it ASAP. It may have something to do with the new added custom actions, they may be causing a bug in OS X.

Stay tuned, will have more info on this soon.

[2016-03-22 22:52] tooluser commented on #244
Thanks!

[2016-03-22 23:28] ptsochantaris commented on #244
Ok, have figured this out - it has to do with a peculiarity of user notifications in OS X. It seems that if they have custom actions (see "mute" or "mark as read"), then they MUST also have a custom identifier field set, otherwise Notification Centre (or even the app itself) can't dismiss them! This is a sort-of bug in OS X I guess, and I will file a radar later on, but for now I'm going to send u

[2016-03-22 23:48] ptsochantaris commented on #244
Ok, new version is now up, go ahead and update and the issue should be corrected. As a small bonus, using identifiers means that you won't ever get any duplicated notifications in case Trailer is restarted sometimes, which could occur.

Let me know if it corrects the issue for you!

[2016-03-23 17:03] pk-nb commented on #244
@ptsochantaris Updated and it's fixed! Thanks you very much for the quick response!

[2016-03-23 18:01] ptsochantaris commented on #244
Great to know! I'm glad it's fixed.

I filed a radar with Apple about the issue, hopefully they'll either update the docs or fix the behaviour so other devs don't run into this in the future.

I'm going to leave this ticket open for a little bit if that's ok, so any user who is experiencing this can find out that there is this update out and quickly upgrade.

Once again, thanks for reporting the i

[2016-03-23 21:48] stepanhruda commented on #243
Sorry, must have not been clear enough, definitely agree with you that Snoozed should be at the bottom.

I didn't want to make this complicated initially, but yes, criteria are a great feature. I imagine a radio button "Wake up PRs because of"
* CI status change
* new comment
* new mention
* merge/close
* never

These are in order of noisiness, and the lower levels are supersets of the higher leve

[2016-03-24 16:48] ptsochantaris commented on #243
Cool - thanks for all the thoughtful input there @stepanhruda it's been extremely valuable. I think this would definitely make a good feature. Will start work on this soon and try to stick to this plan as much as possible :+1: Stay tuned!

[2016-03-24 18:09] thomaswrenn commented on #239
Yep, I think you were right that I must’ve had some other app doing
something on the same keyboard command cause it’s working as expected now.
Sorry about that.

On Thu, Mar 10, 2016 at 11:44 AM Paul Tsochantaris <notifications@github.com>
wrote:

[2016-03-24 23:48] ptsochantaris commented on #239
No problem, I'm glad that's all it was.

If you *do* notice something weird with keyboard focus in the future, or any clash between Trailer and some specific app, please do open a new issue and let me know!

[2016-03-24 23:48] #239 closed

[2016-03-26 15:26] ptsochantaris commented on #242
Reopened for another test

[2016-03-26 15:27] ptsochantaris commented on #242
Test 2

[2016-03-26 15:29] appleprtest commented on #242
Test 3

[2016-03-26 15:32] ptsochantaris commented on #242
Test 4

[2016-03-26 15:48] appleprtest commented on #242
Test 5

[2016-03-26 15:48] ptsochantaris commented on #242
Test 6

[2016-04-05 00:56] applimatix opened #246 "New Reactions?"
Would be nice if Participated could also include comments/issues I have reacted to.

Ideally a reactions count would also be useful as we now thumbs up using reactions rather than comments.

[2016-04-05 09:44] ptsochantaris commented on #246
That makes a lot of sense @applimatix - I'm all for it, but I'm not sure if there is API support for retrieving the reactions yet?

I just took a (admittedly very quick) glance at the API docs and I didn't find any reference to reactions, but are you perhaps aware of how reactions are handled in the GitHub API?

If we can access reactions via the API, I would definitely agree that reactions should

[2016-04-05 22:30] applimatix commented on #246
Sorry I couldn't find any info either. I have contacted Github support to see if / when it will become available, so I'll let you know what I hear.

[2016-04-06 01:32] applimatix commented on #246
Response below:

Hi Mike,

Thanks for getting in touch! Other users have expressed interest in an endpoint for GitHub Reactions, and I've added your support for it to our internal wishlist. It might be something we support in the future, but we can't promise when it will happen.

If there's anything else you'd like to see improved, please feel free to write back.

All the best,
Francis
@francisfuz

[2016-04-06 08:50] ptsochantaris commented on #246
Hi @applimatix - thank you for sharing your investigation, it's really useful info 👍

So, unfortunately it seems we don't have access to the reactions (yet) but let's leave this issue open for a while, as it's a valid and useful feature request that I'm sure other users will also eventually request, and as @francisfuzz mentions the API support for this may come our way eventually.

I will be keepi

[2016-04-12 23:42] tooluser opened #247 "'Mute' should close any open notifications for the muted item"
Now that I've had a couple weeks to live with Muting (yay!) it occurs to me that it's very common that I mute a given item, and then go through and close all the still-open notifications related to it manually.
It'd be nice if they just closed.

AC -
With notifications in 'alert' mode
when clicking 'mute' as the action
other notifications from the same PR are closed

Thanks again for an awesome to

[2016-04-16 22:12] ptsochantaris commented on #247
Hi @tooluser - Yes, this makes a lot of sense, if you mute something then it follows that you are either already aware, or disinterested, in any further context that past notifications could have provided. I'll add this on the next update 👍

[2016-04-17 10:47] ptsochantaris commented on #247
Hi, I was just doing some code gardening in preparation for the snoozing feature, and this was a pretty quick addition, so I've quickly made a build that contains this feature - let me know if it works well enough for you:

https://www.dropbox.com/s/c85r4em736omjj8/Trailer-mute-notifications-test.zip?dl=0

I debated about doing the same for when an item is removed (either automatically or through

[2016-04-17 11:24] ptsochantaris commented on #247
Upon further thought, I think the point is academic TBH - I really want that feature so I added it anyway :) It's default off, of course, but you can find it and turn it on in "History" in preferences on the build below if you want it as well (note that this doesn't affect the "mute" functionality you suggested, that one is always on)

https://www.dropbox.com/s/l8qxt5yyyuwytxe/Trailer-mute-and-gen

[2016-04-18 21:40] tooluser commented on #247
Of course you did. ;-)

I’ll check it out!

[2016-04-19 20:45] ptsochantaris commented on #242
Test comment 1

[2016-04-19 20:51] appleprtest commented on #242
Test comment 2

[2016-04-19 21:19] appleprtest commented on #242
Test comment 3

[2016-04-19 21:31] appleprtest commented on #242
Test comment 4

[2016-04-19 21:36] appleprtest commented on #242
Test comment 5

[2016-04-19 21:41] appleprtest commented on #242
Test mention @ptsochantaris

[2016-04-19 23:07] ptsochantaris commented on #243
Hi @stepanhruda - I've been tinkering and I have a test OS X build based on your suggestions above. Have a go and see how well it works for you, what you think would be good tweaks, if things break for you (disclaimer: they might) and so forth.

https://www.dropbox.com/s/2ue4myfxztbauxw/Trailer-snoozing-test-1.zip?dl=0

In the end I really couldn't think of any sensible defaults for the snoozing l

[2016-04-20 22:22] ptsochantaris commented on #243
Updated build with some small improvements to the snooze menu:

https://www.dropbox.com/s/w267xlrv5ktuh94/Trailer-snoozing-test-2.zip?dl=0

[2016-04-22 13:52] onowak-censio opened #249 "As a developer, I would like Trailer to display new PR's where I am mentioned"
When a colleague creates a PR for a repo I am watching, they will generally @me to notify me to review. I would like Trailer to show me those PR's in a "mentioned" section where I am not already participating.

By the way -- great app. Very useful.

[2016-04-22 18:10] ptsochantaris commented on #249
Hi @onowak-censio, I'm glad you're finding Trailer useful!

If I understand your requirement correctly, you know about the "move items mentioning me / my teams" options already, but they're not quite what you need - what you're proposing is a new "mentioned" section, where items you are not participating in (i.e. haven't posted comments) but have been mentioned in, will be moved to. Is that right?

[2016-04-22 18:20] onowak-censio commented on #249
@ptsochantaris yes. your understanding is correct.

i agree having the "Mentioned" section coming after "Participated" makes sense. :)

[2016-04-22 21:56] appleprtest opened #250 "Test issue 2, please ignore"

[2016-04-22 21:57] appleprtest commented on #250
@ptsochantaris mention 1

[2016-04-22 23:38] ptsochantaris commented on #249
Hi, here's a build with a version of this feature ready for trying out. The more I think of your suggestion, the more I think it's really useful to have a distinct "mentioned" section separate from participated, so I've reused the "move items to participated on comment/mention" options to now target this section. This means that these options will now send items to the "mentioned" section rather t

[2016-04-23 11:51] ptsochantaris commented on #243
Updated build with cleanups and tweaks based on the iOS UI work as well. This, from my testing, *feels* good-to-go, at least for an initial feature iteration, and I'm thinking of sending an update out soon.

Happy to take any suggestions you may have on this feature onboard in the meantime!

https://www.dropbox.com/s/7e4q1y3fh8xz4ff/Trailer-snoozing-test-3.zip?dl=0

[2016-04-24 02:22] ptsochantaris commented on #243
Spoke too soon, here's another update: https://www.dropbox.com/s/dpmpi10v23zc6x7/Trailer-snoozing-test-4.zip?dl=0

[2016-04-24 02:25] ptsochantaris commented on #212
Hi, just to keep this list tidy, and since the conversation has moved a bit from the original issue, I'm going to close this. I'll be more than happy to continue discussing this on its own issue if you still feel like it in the future. Just open a new one and we can revisit this whenever you feel like it 👍

[2016-04-24 02:25] #212 closed

[2016-04-25 11:41] appleprtest commented on #250
Test comment

[2016-04-25 11:42] ptsochantaris commented on #242
Test comment

[2016-04-25 12:19] #242 closed

[2016-04-25 13:40] onowak-censio commented on #249
@ptsochantaris thanks for the build! me and a colleague will test this out and get back to you with feedback. we open PR's for each other daily, so we will have ample opportunity to test this feature out in the next couple days.

again - thanks so much! :D

oli (and scott)

[2016-04-25 14:01] ptsochantaris commented on #243
Approaching release: https://www.dropbox.com/s/zii3qtj2wzwznw8/Trailer-1318-rc1.zip?dl=0

[2016-04-25 14:02] ptsochantaris commented on #247
Just refreshing your build with RC1, please do let me know if you run into bugs or weird behaviour: https://www.dropbox.com/s/zii3qtj2wzwznw8/Trailer-1318-rc1.zip?dl=0

[2016-04-25 14:03] ptsochantaris commented on #249
That's great, looking forward to your feedback! Just to keep your build up to date, here is the latest (RC1) of the upcoming release, hopefully it sorts out any issues which you may see in the above build: https://www.dropbox.com/s/zii3qtj2wzwznw8/Trailer-1318-rc1.zip?dl=0

[2016-04-25 16:43] #250 closed

[2016-04-26 09:43] stepanhruda commented on #243
Sorry, I wasn't watching this thread – will check out the build today

[2016-04-26 09:55] ptsochantaris commented on #243
No worries! Let me know how it goes.

[2016-04-26 10:05] stepanhruda commented on #243
Seems great for a first version 👍

from a UX perspective, I'd replace "Add a new preset" and "Delete preset" with +/- buttons, which is more standard in OS X nowadays

<img width="59" alt="screen shot 2016-04-26 at 11 04 03 am" src="https://cloud.githubusercontent.com/assets/2835783/14814554/b24c2d1a-0b9e-11e6-8980-e55302a6a429.png">

The Up/Down buttons could also be replaced by drag & drop in th

[2016-04-26 10:09] stepanhruda commented on #243
The segmented control item could probably say "Snooze" instead of "Snoozing"

The text on the radio buttons could drop the word "Snooze" to become shorter and easier to quickly scan, i.e.

[code]

[2016-04-26 14:50] cmluciano opened #251 "Milestone support"
My team uses milestones as "sprints". Occasionally I will come up with a issues/stories that I want to work on next sprint and it would be great to hide/filter them until that milestone comes around.

[2016-04-27 19:11] ptsochantaris commented on #243
Thanks for the feedback @stepanhruda. Can't argue against any of your points on the +/-/Delete, they're all good, although I may end up implementing them in the next point update. Will tweak the labels now, though.

[2016-04-27 19:15] ptsochantaris commented on #251
Hi @cmluciano - This is a good point. I can see from the API docs that milestones are exposed, and we can use the "description" field as a searchable property. For instance, you could type `milestone:1.0` to search of all milestones containing 1.0 (and conversely using the `!` notation to exclude them).

Would this help you as a feature?

[2016-04-27 19:49] cmluciano commented on #251
Yes that sounds great to me!

[2016-04-27 22:18] ptsochantaris commented on #251
Here's a prerelease build with this feature, let me know if it works like you expected. One correction to what I said above, though, it's using the "title" property, not the description property:

https://www.dropbox.com/s/a2fzp2lek0gcpmj/Trailer-1318-rc2.zip?dl=0

[2016-04-27 22:57] ptsochantaris commented on #243
Just a quick note: If you are running any OS X before El Capitan, this development build will not migrate properly to the final version. Please be sure to export your settings before upgrading (or just do an export now and have it handy :)) so you can re-import them after the upgrade, or you will lose all your configured repos.

[2016-04-27 22:58] ptsochantaris commented on #249
Just a quick note: If you are running any OS X before El Capitan, this development build will not migrate properly to the final version. Please be sure to export your settings before upgrading (or just do an export now and have it handy :)) so you can re-import them after the upgrade, or you will lose all your configured repos.

[2016-04-27 22:58] ptsochantaris commented on #247
Just a quick note: If you are running any OS X before El Capitan, this development build will not migrate properly to the final version. Please be sure to export your settings before upgrading (or just do an export now and have it handy :)) so you can re-import them after the upgrade, or you will lose all your configured repos.

[2016-04-28 10:59] andycroll opened #252 "Disable 'API limit' popup"
<img width="504" alt="screen shot 2016-04-28 at 11 57 43" src="https://cloud.githubusercontent.com/assets/2780/14883815/719adea6-0d38-11e6-9754-064eaeebb9cc.png">

Any way to make this window permanently dismissible? I have a half hour until it resets and it'll be fine, but the window pops up every 3 minutes.

Perhaps move it to a 'notification' rather than a 'you must dismiss me' window.

[2016-04-28 12:17] ptsochantaris commented on #252
Adding an option to make this a notification rather than a popup makes a lot of sense 👍
In the meantime I would suggest you set your refresh intervals to be a bit higher - I have mine at 10 minutes for instance.

[2016-04-28 13:56] onowak-censio commented on #249
@ptsochantaris thanks, paul. this RC is good to go. love the "Mentions" section. it makes things so much easier. very cool.

[2016-04-28 14:02] ptsochantaris commented on #249
Fantastic, I'm glad it's what you expected and you're finding it useful 👍

Please take heed of my warning above about updating to the final version when it's up (should be in the next few days)

[2016-04-28 22:28] ptsochantaris commented on #243
Hi, just wanted to let you know the final 1.3.18 is out with this feature now. Please DO take heed of the above warning if you are not running El Capitain. Many thanks for your suggestion and feedback on this issue. Looking forward to integrating your suggestion for reordering and +/- buttons in the next release too.

I hope you find this feature useful! Going to close this now, but please feel fr

[2016-04-28 22:28] #243 closed

[2016-04-28 22:30] ptsochantaris commented on #251
Hi, just wanted to let you know version 1.3.18 final is out now which includes this feature. I hope you find it useful, and feel free to open more issues with ideas or suggestions in the future!

[2016-04-28 22:30] #251 closed

[2016-04-28 22:34] ptsochantaris commented on #249
Ok, 1.3.18 is now up. Thanks again for your suggestion, and feel free to open more issues with suggestions or ideas you may have in the future.

Also: remember the warning above, make sure you export your settings before upgrading from the intermediate development build or you will lose them!

[2016-04-28 22:34] #249 closed

[2016-04-28 22:37] ptsochantaris commented on #247
Hi, v1.3.18 is now up, but remember the warning above before upgrading from the test build!

Thanks again for the suggestion, and please feel free to open more issues with ideas and feature requests!

[2016-04-28 22:37] #247 closed

[2016-04-28 22:38] #244 closed

[2016-04-28 22:42] ptsochantaris commented on #234
Hi @bkuhlmann, I've been playing around with Trailer quite a bit in the past few weeks, and during that time I've been keeping your issue in the back of my head, always trying to "catch" it, but for some reason I haven't been able to reproduce it at all.

Clearly I'm not implying this doesn't happen, but I think I'm clearly not going through the right steps to make it occur. When you have some tim

[2016-04-28 23:28] ptsochantaris commented on #252
Here's a tweaked build of the just released 1.3.18 version that will only show you the dialog once for each occasion. When the API limit is back down and you happen to cross over it again, it will show again. This should definitely improve your experience, but still keep those important warnings there to dissuade users from abusing the GitHub API.

https://www.dropbox.com/s/jpdeazzjif8iak4/Trailer

[2016-04-29 01:45] bkuhlmann commented on #234
Thanks for trying to reproduce this. I'm wondering if it might be due to using the same API token for each machine I have Trailer on? Throwing that out there. I will see if I can get reproducible steps for you and respond back (I still hit this issue ever other week or so).

[2016-04-29 07:19] ptsochantaris commented on #234
That's shouldn't be an issue. All data is local to each installation and Trailer does not write any info back to GitHub, so any changes you make on that machine or device, no matter what they may be, stay there.

The only catch there would be if you un-watch a repo and re-watch it after a while, in which case Trailer will remove it from its list (and hence the related settings) from all installati

[2016-04-29 07:22] ptsochantaris opened #253 "Option to move new items in my own repos to 'Mentioned'"
It would be nice if there was an option to make it so that when a new PR or Issue is created *on a repo that belongs to me*, it immediately appears in the "Mentioned" section instead of the "All" section.

[2016-04-29 20:50] appleprtest opened #254 "Test issue 3, please ignore"

[2016-04-29 20:58] #254 closed

[2016-05-01 11:09] ptsochantaris opened #255 "One API connection timeout can cause the entire sync to fail"
When syncing a lot of data, especially after a long period of bring dormant, like when a Mac has been asleep for a while or the iOS app hasn't been launched in ages, Trailer needs to make a lot of parallel API calls, perhaps thousands, in the case of very heavy repos with a lot of statuses and labels.

While this can't be avoided, in some cases (and the larger the number of calls, the higher the p

[2016-05-01 21:11] ptsochantaris commented on #252
1.3.19 Is now out and should contain the above modification. Do you think it's good enough, or do you believe that there should be an option to turn this into a notification either-way? I would feel a bit reluctant to do this, but I'm always open to a convincing argument! :)

[2016-05-01 21:12] ptsochantaris commented on #253
This feature is now in the 1.3.19 release.

[2016-05-01 21:12] #253 closed

[2016-05-03 13:08] appleprtest commented on #255
Test comment

[2016-05-03 13:11] appleprtest commented on #255
Test comment 2

[2016-05-10 13:12] ptsochantaris commented on #255
This feature is now in the latest 1.3.20 release.

[2016-05-10 13:12] #255 closed

[2016-05-10 13:15] andycroll commented on #252
I think the current solution is a decent solution. I'd think notifications might be a good solution if you _looking_ for something to build 😉

[2016-05-10 13:15] #252 closed

[2016-05-10 21:42] cmluciano opened #257 "Expose assignee as a filterable option"
I author quite a bit of issues, but some of these are for other people. It would be great to have a dropdown per repo for "assigned".

[2016-05-11 11:51] ptsochantaris commented on #257
Makes sense 👍 Although I'm thinking it may be better to use "assignee:" to match GitHub's terminology, so something like "assignee:cmluciano" for instance?

[2016-05-11 12:51] ptsochantaris commented on #257
Here's a test build: https://www.dropbox.com/s/3e1jiiewegtmeqm/Trailer-Assignee-Test.zip?dl=0

Let me know how it goes.

(As always when switching between dev versions and finals, make sure you export your settings first *just in case* you lose your config!)

[2016-05-11 14:05] cmluciano commented on #257
This works great through the filtering list. It would be awesome to expose it through here too
<img width="393" alt="screen shot 2016-05-11 at 9 59 04 am" src="https://cloud.githubusercontent.com/assets/4790487/15183437/0fc1f8be-175f-11e6-9d75-667c69bd44d5.png">

[2016-05-11 20:13] ptsochantaris commented on #257
Interesting, how would you suggest it's exposed?

[2016-05-13 19:43] cmluciano opened #258 "App keeps crashing on latest release"
I upgrade to version  1.3.21 (1296) today and since then the app keeps crashing for me. I uninstalled and reinstalled to no avail. I grabbed the crash report from my console and posted it in a [gist](https://gist.github.com/cmluciano/a901b9c1d2601520a90d19461cc158e0)

[2016-05-13 20:00] ptsochantaris commented on #258
Thanks for calling this in, checking it out now.

[2016-05-13 20:05] ptsochantaris commented on #258
The crash report is a bit vague... Can you activate logging activity from Misc->Logging to see where it might be blowing up?

[2016-05-13 20:08] ptsochantaris commented on #258
Also, in case this is happening on a public resource, could you activate the API logging as well? It may help to have to JSON response that Trailer is chocking on.

[2016-05-13 20:16] cmluciano commented on #258
I'm trying to get into this. It unfortunately has been crashing immediately on load before I can activate the switch

[2016-05-13 20:17] ptsochantaris commented on #258
Ah, yes, I should have added, you may want to turn your network off to prevent it from syncing - that's where it's breaking.

[2016-05-13 20:27] cmluciano commented on #258
Not sure if this helps or not, but it seems to be segfaulting after a small period of syncing.

<img width="753" alt="screen shot 2016-05-13 at 4 26 45 pm" src="https://cloud.githubusercontent.com/assets/4790487/15260933/84992256-1927-11e6-9a40-b6682902096f.png">

[2016-05-13 20:27] cmluciano commented on #258
It sat for a period of time with the network turned off, but crashed soon after when turned back on

[2016-05-13 20:32] ptsochantaris commented on #258
Yes, the crash is definitely while it's syncing (or about to sync) an issue, the one that comes after the labels in the log above. Could you try this debug build with all the symbols in it so we can get a more accurate crash report? It will crash exactly like the other one, but if you can, send me that crash report. That will give us more info 👍 (You can go ahead and send it directly to my email a

[2016-05-13 20:43] ptsochantaris commented on #258
Hm, I think I have a theory about the crash, but will wait for your log to verify it.

[2016-05-13 20:53] cmluciano commented on #258
Sent

[2016-05-13 21:02] ptsochantaris commented on #258
Cool, can you try this build? If it still crashes, please forward the crash report again: https://www.dropbox.com/s/48c8xelw5e8nbph/Trailer.zip?dl=0

[2016-05-13 21:04] ptsochantaris commented on #258
Hm, just to be sure I sent you the right file, try this :) https://www.dropbox.com/s/jgzbodpcfa8nykp/Trailer2.zip?dl=0

[2016-05-13 21:21] ptsochantaris commented on #258
And in case that crashes too, let me know, and then try this: https://www.dropbox.com/s/n9w8p5wkhm6qccp/Trailer3.zip?dl=0

[2016-05-13 21:50] ptsochantaris commented on #258
Any luck?

[2016-05-13 22:41] ptsochantaris commented on #258
So, what I think is going on with your copy locally is that your DB suddenly holds two or more copies of the same item from a certain API server. This should not happen, but somehow it did, from some sync glitch perhaps. The updates I've made will basically "skip over" any item with a duplicate ID in the database, causing it to be removed at the end of a sync (the original item will stay in the DB

[2016-05-16 13:40] cmluciano commented on #258
This new build has not been crashing anymore. Thanks for your time!

[2016-05-16 13:40] #258 closed

[2016-05-16 14:44] ptsochantaris commented on #258
Glad it's fixed! 👍

[2016-05-16 16:11] ptsochantaris commented on #246
There seems to be an experimental API for reactions out there, so hopefully we can have reaction support sooner rather than later: https://developer.github.com/v3/reactions/

The current form may make it quite heavy on API usage, and GitHub is asking for suggestions, so I'll definitely pitch in with a couple specifically related to keeping API load down (and also getting more info on the users who

[2016-05-22 19:20] ptsochantaris commented on #164
Hi @dylang - It's been a while, so I don't know if you're even using Trailer by now, but in case you are, I've been working on adding properly separated menus based on API server.

After some thought I decided to go back to the original plan of having multiple menu-bar entires, and made a first test build here: https://www.dropbox.com/s/cgw8aj64qokzkzq/Trailer-API-Separation-Test-1.zip?dl=0

There

[2016-05-23 10:10] ptsochantaris commented on #164
Some fixes on sync error reporting and cleanups: https://www.dropbox.com/s/xwc45wyurus2um9/Trailer-API-Separation-Test-2.zip?dl=0

[2016-05-23 14:21] #257 closed

[2016-05-23 14:22] cmluciano opened #259 "high amount of CPU usage on latest version"
Since upgrading to the latest version I am seeing a huge spike in CPU usage from Trailer (sometimes up to 200% +). Is this expected with some new threading? This causes my fans to go haywire and limits my battery.

[2016-05-23 14:35] ptsochantaris commented on #259
No, there should be no CPU usage at all, except when Trailer refreshes data from the server. Even when it syncs data, though, any spikes should be very short, unless you've just added a lot of new repos or something like that (which I'm assuming you haven't)

Based on the previous issue you were having with crashes, I'm wondering if your database isn't perhaps corrupted, or there is a zombie insta

[2016-05-23 16:08] ptsochantaris commented on #254
Test comment

[2016-05-23 18:22] cmluciano commented on #259
I hard-recycled my config and this seems to be fixed now

[2016-05-23 18:22] #259 closed

[2016-05-26 17:15] ptsochantaris commented on #164
And some more fixes: https://www.dropbox.com/s/lt4jjvrxkni9m97/Trailer-API-Separation-Test-3.zip?dl=0

[2016-05-27 08:32] ssbarnea opened #260 "Icons are mostly empty when not selected in the menubar - dark UI mode or resume related"
That's happening on OS X 10.11 and it seems to be like this for quite a few weeks. Restarts and even a recent Trailer.app update didn't fix this.

If I go with the mouse over it will draw them properly, but when not selected they are almost fully transparent, only the red text being visible.

<img width="130" alt="screenshot 2016-05-27 09 28 29" src="https://cloud.githubusercontent.com/assets/1024

[2016-05-27 08:35] dbrockman opened #261 "Option to request desktop version of GitHub"
It would be great if the iOS app had an option to request the desktop version of GitHub.

I haven't tried this myself but I think it should be possible to set the User-Agent header of the web view to the user agent string of desktop Safari.

[WKWebView customUserAgent](https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKWebView_Ref/#//apple_ref/occ/instp/WKWebView/customUserAg

[2016-05-27 09:33] ptsochantaris commented on #260
Hi and thanks for reporting this!

Just to clarify: When you say they are always invisible until you move the mouse over, do you mean just hovering the mouse, or selecting the menu-bar items like in the screenshot?

Also, I notice that Trailer seems to be running in dark mode but your menu-bar isn't in dark mode, which is weird? When Trailer detects dark mode on a system, it will draw its menu ico

[2016-05-27 09:35] ptsochantaris commented on #261
Hi @dbrockman, thanks for the suggestion.

While I totally agree with the feature itself, I'm a bit queasy about explicitly modifying a user-agent, unless it's to add a clear-cut addition that would enable desktop mode.

That said, I will definitely look into this and get back to you soon 👍

[2016-05-27 10:33] ssbarnea commented on #260
I can assure you that this happens while I am not running in the dark-mode, only Trail.app believes that is in the dark mode. I need to click on it in order make it visible.

If I remember well my laptop is configured to auto-activate night mode based on the hour and I am also using Flux.app and Bartender.app which could interact which the behaviour of the tray.

My impression is that this is not

[2016-05-27 10:41] ptsochantaris commented on #260
Awesome, thank you for that detailed explanation, it makes a lot of things much clearer and I think your issue related to the breakage I just spotted.

If I'm right, then you can recreate the issue on your current build by just switching light/dark mode manually from your settings, and as you suspected, this is 100% Trailer's fault (and a liiiiittle bit of Appkit's for being weird when reporting t

[2016-05-27 12:11] ssbarnea commented on #260
I already installed it and I will be back with the results, it may take a couple of days in order to reproduce the same conditions.

[2016-05-27 12:13] ptsochantaris commented on #260
Thanks! Looking forward to your feedback.

[2016-05-27 12:54] ptsochantaris opened #262 "iOS App tab-bar stays hidden after viewing an item's details on iPhone"
This is a regression resulting from the many UI updates on the most recent iOS version. The only workaround at this time is either:
- Open preferences and toggle a visibility option (like "show creation times") twice (to keep the previous value), then close preferences, or:
- Force-restart the app.

A fix has been submitted for review and should be out shortly.

[2016-05-29 10:24] ssbarnea commented on #260
Still reproduces with build 1313. Unrelated to that, my impression is that the number of pull requests became bold and the number of notifications remained with regular font.

[2016-05-29 10:45] ptsochantaris commented on #260
Hi! Ok, looks like we need to do some more digging, but we'll get there.

First off, just wanted to get a better idea of the PR count font change you mentioned. I can't seem to see that, but I wonder if I misunderstood which count you're referring to?

<img width="455" alt="screen shot 2016-05-29 at 11 32 45" src="https://cloud.githubusercontent.com/assets/521581/15632653/42462270-2591-11e6-905f-7

[2016-05-30 12:20] ptsochantaris commented on #164
Getting there: https://www.dropbox.com/s/dbg1mstlyrcv9qe/trailer-140-rc4.zip?dl=0

[2016-05-31 19:18] ptsochantaris commented on #262
iOS version 1.3.24 is now up on the App Store and should correct this behaviour.

[2016-05-31 19:18] #262 closed

[2016-05-31 20:42] ptsochantaris commented on #260
Just keeping the RC build fresh: https://www.dropbox.com/s/51qmlo3hzmgo49w/trailer-140-rc5.zip?dl=0

[2016-05-31 20:43] ptsochantaris commented on #164
Update: https://www.dropbox.com/s/51qmlo3hzmgo49w/trailer-140-rc5.zip?dl=0

[2016-06-01 08:12] ssbarnea commented on #260
Just upgraded to rc5. Here are some additional feedback for the previous version: my impression is that happens only after a over-the-night sleep-wake cycle. The night mode is not activated on the computer at all, but once I login back in the morning the app believes that is in night mode.

I am wondering if is not easier to check of the dark mode every 5 minutes and to make a decision based on th

[2016-06-01 08:32] ptsochantaris commented on #260
Hi, and thanks for trying it out.

From what you're describing, it sounds as if the app is receiving a dark mode notification while in power-nap but somehow never gets the notification that dark mode is now off in the morning.

Checking for dark mode every once in a while (e.g. during a refresh) could help fix this, but it's super-clunky and I'd like to avoid it if possible, if anything because yo

[2016-06-01 10:07] ptsochantaris commented on #164
Update: https://www.dropbox.com/s/0vy182l44qy4qyi/trailer-140-rc7.zip?dl=0

[2016-06-01 10:07] ptsochantaris commented on #260
Keeping the build fresh with some last-minute tweaks: https://www.dropbox.com/s/0vy182l44qy4qyi/trailer-140-rc7.zip?dl=0

[2016-06-02 08:08] ssbarnea commented on #260
Update from this morning resume: for the first time, I see the icons correctly. This could be an indication that rc7 solved the problem.

[2016-06-02 08:13] ptsochantaris commented on #260
It's certainly encouraging! Let's hope it keeps this up. Thanks for trying this out and keeping me up to date. Let's see if this behaviour stays consistent across the next few days.

Meanwhile, just to be sure you're using as stable a build as possible, here's the latest RC with the latest cleanups (I don't foresee too many more TBH, and there are no further tweaks to the code relating to your iss

[2016-06-02 08:14] ptsochantaris commented on #164
Update: https://www.dropbox.com/s/6vo013rt86h3imt/trailer-140-rc8.zip?dl=0

[2016-06-03 01:11] RobinDaugherty opened #263 "Consistent crash while refreshing comments"
Here's the crash: https://gist.github.com/RobinDaugherty/220ce4202a30a102caef932538ceb198

This started with 1.3.17 and is still happening with 1.3.21. I will try this in Xcode and see if I can get more details about the request that is being parsed.

[2016-06-03 02:11] RobinDaugherty commented on #263
I was able to work around the crash by disabling comment notifications.

[2016-06-03 07:34] ptsochantaris commented on #263
Hi @RobinDaugherty and thanks for calling this in and posting the crash report.

Sorry to hear you're getting this, let's get it fixed.

There seems to be something going on with a string handling corner-case. Just in case, could you try the latest RC as I've been doing a lot of cleanup on string handling? https://www.dropbox.com/s/6vo013rt86h3imt/trailer-140-rc8.zip?dl=0

If you *do* have the abi

[2016-06-03 18:19] zkendall opened #264 "Other API support"
I've been using Trailer for months now and love it. Perfect balance of functionality, minimalism, and customizability.

However, now I'm on a project using Stash/Bitbucket Server; any plans to support other APIs other than GitHub?

[2016-06-03 18:33] ptsochantaris commented on #164
Update: https://www.dropbox.com/s/fvilf3yeovx1xni/trailer-140-rc9.zip?dl=0

[2016-06-03 18:33] ptsochantaris commented on #260
Just keeping the RC fresh: https://www.dropbox.com/s/fvilf3yeovx1xni/trailer-140-rc9.zip?dl=0

[2016-06-04 21:54] ptsochantaris commented on #263
Version 1.4.0 is up now, so if the RC is working well for you then you probably want to upgrade to the final. If you are still having this issue, let me know and I can set up that debug build for you and we can track the issue down.

[2016-06-04 21:56] ptsochantaris commented on #164
Version 1.4.0 is up now, and contains this feature. Please feel free to open a new issue if you have further thoughts and/or suggestions for Trailer.

[2016-06-04 21:56] #164 closed

[2016-06-04 21:58] ptsochantaris commented on #260
Hoping that the latest builds have "stayed" good for you! If all seems well, feel free to update to the final 1.4.0 which is up now, and you can find it from the releases page or using the "check for updates now" button in Trailer prefs. I'll be keeping this issue open until we're sure it is corrected, though.

[2016-06-04 22:16] ssbarnea commented on #260
Thanks! Since the rc6 or rc7 I wasn't able to replicate the problem so I would mark the bug as solved!

[2016-06-04 22:16] #260 closed

[2016-06-04 22:20] ptsochantaris commented on #260
That's great to know! Feel free to open a new issue in case you encounter this again or any other issue.

[2016-06-05 19:40] ptsochantaris commented on #261
I think I found an clean way to handle this. I noticed that on iPad I always get the desktop version of the pages, and tried simply replacing "iPhone" with "iPad" on the user agent string, and it did the trick 👍

I'll be sure to add add an option for this on the next update of the app.

[2016-06-05 20:13] ptsochantaris opened #265 "Remove all merged/closed command from Apple Watch not working"
This may only affect users who have grouped repos. A fix is on the way. Workaround for the moment it to remove all merged or closed items directly from the iPhone app.

[2016-06-05 20:17] ptsochantaris opened #266 "PR or issue count is wrong in confirmation box when selecting "remove all merged/closed""
This issue only affects users who use grouped repositories.

[2016-06-06 21:11] ptsochantaris commented on #266
Version 1.4.1 is out now and corrects this issue.

[2016-06-06 21:11] #266 closed

[2016-06-07 21:21] ptsochantaris commented on #261
Version 1.4.1 is up on the App Store now and includes this feature. You can find the new setting in the advanced settings panel. Have a go and let me know if it's working well for you.

[2016-06-07 21:21] ptsochantaris commented on #265
Version 1.4.1 is now up on the App Store and corrects this issue.

[2016-06-07 21:21] #265 closed

[2016-06-08 17:49] WilsonChiang opened #267 "Separate team mentions and personal mentions"
Could we have an option of having a separate area in Participated for team mentions versus personal mentions? I know we can change what "Participated" filters for, but it would be great to separate them so I can stay up to date with my team's mentions but still be able to see when someone directly mentions me.

[2016-06-10 08:31] ptsochantaris commented on #263
Hi, just wondering if you had any luck with the new update or any further feedback?

[2016-06-14 08:52] ptsochantaris commented on #264
Hi @zkendall and first off, thank you so much for your comments on Trailer. I'm really glad you're finding it useful.

Since I too worked on a project on Bitbucket, I thought about supporting the API for it in the past. The problem is that Trailer is a very GitHub-oriented tool, because it grew organically around the specific GitHub API and that internal data model (and features). Supporting Bitbu

[2016-06-14 13:27] trevrosen opened #268 "Trailer consistently unavailable after wake from sleep"
**Trailer version:** 1.4.1(1335)
**OSX version:** 10.10.5 Yosemite

Since upgrading to 1.4.1(1335), Trailer disappears from my menu bar any time my computer goes to sleep. There's no crash, and it re-launches fine, but it's kind of annoying to have to remember to do it. I looked through issues and didn't see this reported elsewhere.

[2016-06-14 15:52] WilsonChiang opened #269 "PRs that are assigned to you are not recognized as being mentions"
It seems like when a PR is assigned to you but you are not mentioned it does not properly show up under the mentioned column.

My settings are setup so that I only see PRs I participated in.

[2016-06-14 16:33] ptsochantaris commented on #268
Hi @trevrosen - Thanks for calling this in. That's very interesting. What you're describing definitely sounds like a crash, are you sure there are no crash logs in Console.app?

If it is a crash, it may be related to the latest changes to dark-mode handling, perhaps trying to use some API not in Yosemite by mistake. I'll try reproducing this on my Yosemite VM and get back to you, but in the meanti

[2016-06-14 16:41] ptsochantaris commented on #269
Hi @WilsonChiang - An assigned PR won't move to the Mentioned section on the virtue of being assigned. You can control where it ends up from the setting in "Display" on the upper-right:

<img width="350" alt="screen shot 2016-06-14 at 17 37 58" src="https://cloud.githubusercontent.com/assets/521581/16051315/2c56ee7c-3257-11e6-829f-f56840ac1699.png">

Or have I misunderstood your question?

[2016-06-14 16:44] WilsonChiang commented on #269
Hi @ptsochantaris. This is an issue with the PR not showing up at all. I'll try to reproduce but I think it may be an issue with GH allowing multiple assignees from last week. Could it be an issue of checking for only the first user under the assumption that a PR can only have one assignee?

[2016-06-14 16:53] trevrosen commented on #268
Ahh forgot all about looking in Console.app -- there is indeed a crash in there from my latest sleep. Please let me know if you need anything else:

[code]

[2016-06-14 17:00] ptsochantaris commented on #269
Oh, I see. That is entirely possible, yes. Trailer will only use the "assignee" field from the PR or issue to check if an issue is assigned.

Since it seems items can now have multiple assignments, I see a new assignees_url field exists, which Trailer can query and check for assignment across many users.

Will add this to the sync logic, stay tuned 👍

[2016-06-14 17:14] ptsochantaris commented on #268
Thanks!

Looking at the crash now, it's super-weird, because if it was an OS API issue as I thought it would crash on every refresh.

What seems to be going on is that the menubar items are getting updated right after waking up and causing an explosion. Most probably because the app will check for dark mode changes after a sleep, and the two end up clashing badly for some reason.

Trying to look f

[2016-06-14 17:17] trevrosen commented on #268
Yeah that's fine, tho I'm crashing some deadlines here at work and might not be able to be super responsive. I'll do my best tho.

[2016-06-14 17:21] ptsochantaris commented on #268
No problem! However, I think I managed to reproduce it in the VM after all 👍 :) Will get back to you with more info on this soon.

[2016-06-14 17:33] trevrosen commented on #268
Awesome! Glad to hear it.

[2016-06-14 21:56] ptsochantaris commented on #268
Hi!

So, I've been tinkering with this, and though I can't reproduce it instantly on the VM, if I leave it alone (and put the VM system to auto-sleep after 1 minute so I get allot of "sleeps") the issue does eventually happen, with the same crash log as your system. So I've been able to test my fixes and they *seem* to work (plus the code is slightly more efficient now too 👍)

If you get a chance,

[2016-06-15 16:15] cgatesman commented on #191
I see this issue occasionally after rebooting.  After all logged in, trailer is stuck in Light Mode even though my OS X (El Capitan) is in Dark Theme.

<img width="531" alt="screen shot 2016-06-15 at 12 13 46 pm" src="https://cloud.githubusercontent.com/assets/6276072/16087875/ac62944a-32f2-11e6-850f-e203975a0369.png">

Restarting trailer does not fix it.  However if I quit Trailer and start it ba

[2016-06-15 16:18] cgatesman commented on #191
Interesting.  I just turned off Dark Theme in OSX, and trailer switched to Dark!

<img width="519" alt="screen shot 2016-06-15 at 12 17 31 pm" src="https://cloud.githubusercontent.com/assets/6276072/16088028/37a0c996-32f3-11e6-9847-df387afe15f1.png">

[2016-06-15 19:44] aik099 opened #270 "Count pushes as activity on a PR"
Recently GitHub notification engine was improved and now I'm getting an e-mail when somebody pushes new commits to a PR even when it doesn't add matching comment to PR itself.

It would be great, if a push would caused PR to be marked as red as it happens, when new comment is added.

[2016-06-15 20:04] aik099 opened #271 "Issue/PR snoozing state not reevaluated on snooze configuration change"
I have not used Snoozing features before and now I've configured it like this:

![2016-06-15_2300](https://cloud.githubusercontent.com/assets/1277526/16095432/2d852772-334d-11e6-9654-7bcbd8fbccc6.png)

After saving changes to configuration and even after restarting Trailer issue count haven't changed. I guess I have to wait for 1 more month (according to my configuration) to see any changes.

If s

[2016-06-15 20:07] aik099 opened #272 "Confusing UI, when configuring soozing"
When double clicking on soozing preset name an editing cursor appears and I can change it's name, but once clicking outside of input field changes are not saved.

I guess this is a mistake and preset name shouldn't be editable to a user, because it's name is auto-generated anyway.

Video: http://screencast.com/t/oIdFwZQJ17

[2016-06-16 12:15] ptsochantaris commented on #272
Ah, thank you for spotting that, will fix it ASAP. Yes, the name is auto-generated and not meant to be user editable.

[2016-06-16 12:19] ptsochantaris commented on #271
Hi! I think snoozing is probably the opposite of what you're thinking. Snoozing will make an item move to the "snoozing" section when you select "snooze" from their context menu (you can also hide the snoozing section if you like, to hide the snoozed items). This can be forever, or for the amount of time you specify. Additionally, items can auto-wake-up if any of the events below occur.

If you wa

[2016-06-16 12:42] aik099 commented on #271
That unfortunately will mark all items (PR/issue) in the list as snoozed and will hide them. What I want is to actually make it work as configured - hide items older than 1 month.

What you've described is exactly what I thought it's doing:

* item marked as snoozed according to rules
* snoozed items will be hidden if such behavior is enabled
* fact, that new snoozing section will be created wasn'

[2016-06-16 12:59] ptsochantaris commented on #271
Unfortunately, it's the exact opposite, sorry :( Snoozing is not about auto-hiding items that are older than a certain amount of time, although this could be a nice feature to consider (perhaps we can make a feature suggestion issue specifically for that?)

To snooze an item you have to manually right-click (or CTRL-click) and then select a snooze preset from the "snooze" menu in order to put it t

[2016-06-16 14:55] aik099 opened #273 "Stale issue/pull request status support"
In open source world people participate in lots of issues/pull requests and sometimes issue/pull request author just vanishes without informing discussion participants. This results in open issue/pull request counter in menubar to stay large forever.

Proposing to introduce `is stale` flag for each issue/pull request.

New Settings (inspired by `Snoozing` setting group):
- `Consider issue/pull sta

[2016-06-16 14:57] aik099 commented on #271
I had no idea, that you right-click on items in issue/pr dropdown. Now I know. Still when snoozing by hand feature is usable as now due auto wake support.

I've filed #273 with idea about stale status for issue/pull request.

[2016-06-16 15:32] ptsochantaris commented on #271
Yeah, I think I need to explain this functionality more in preferences, definitely. I'm glad this helped clear it up a bit for you, though. I hope it ends up being useful. Will respond to your new issue in a little bit, I think some variation of what you propose there makes a lot of sense. 👍

[2016-06-16 16:39] aik099 commented on #270
That would also would result in auto wake up for snoozed or stale (#273) issues.

[2016-06-16 18:17] jasonpenny commented on #268
I was seeing similar behavior on OS X 10.9.5, Trailer would silently crash at some point and re-launching would work fine.

That build seems to fix the problem for me.

[2016-06-16 18:51] aik099 opened #274 "OSX Yosemite label text alignment"
On Yosemite (maybe on El Capitan too) there are following UI issues, when I choose to see labels of PRs:

* label text isn't vertically aligned on the label itself, as it's done on GitHub
* the spacing between `PR title and labels` and `labels and next row` seems to be different (or it looks that way), which makes it harder to see what's been displayed in last row (with repo name)

![2016-06-16_21

[2016-06-16 18:54] ptsochantaris commented on #268
Hi @jasonpenny, thanks for trying out this build. I'm glad to hear this fixes it. I'll try putting out a hot-fix update soon to make sure it stops happening to anyone else it may affect.

[2016-06-16 19:46] trevrosen commented on #268
@ptsochantaris looks like the new build fixed the issue I was seeing as well. Nice work! 👍

[2016-06-16 20:21] ptsochantaris commented on #268
Hi @trevrosen - Great stuff 👍 I'll put this new build up on auto-update tonight then. Thanks a lot for testing it and reporting the issue in the first place.

[2016-06-16 20:33] ptsochantaris commented on #263
Hi, I'm going to close this issue for now. Feel free to reopen if you are still having issues.

[2016-06-16 20:33] #263 closed

[2016-06-16 20:35] ptsochantaris commented on #271
Going to close this issue for now (having made a note to improve the snoozing prefs a bit)

See you on the other issue :)

[2016-06-16 20:35] #271 closed

[2016-06-16 20:43] trevrosen commented on #268
@ptsochantaris happy to. Thanks for Trailer -- it genuinely makes it sooo much easier to work w/ lots of GH projects at once.

[2016-06-16 23:02] ptsochantaris commented on #268
Thank you, that's really great to hear!

Feature requests are always welcome, so feel free to create issues for features you feel could make your life even easier 👍

I'm going to close this issue for now, but please reopen, or file a new bug report, if you encounter any further issues.

[2016-06-16 23:02] #268 closed

[2016-06-16 23:13] ptsochantaris commented on #261
Hi @dbrockman - I was just wondering if this option works for you as expected on your device?

[2016-06-17 08:18] aik099 opened #275 "Random crashes when reading updates"
Trailer Version: 1.4.1
OS: Yosemite 10.10.5

All worked fine with 1.3.x version, but after updating to 1.4.1 I've found following issues:

* at random times, when doing an update (reading PR updates from GitHub) app crashes
* I'm using Bartender.app to reposition it on Menubar and 1.4.1 version suddenly might lost it's position on menubar and be shown as 1st icon

Previous crash report:

[code]

L

[2016-06-17 10:23] ptsochantaris commented on #275
Thanks for reporting this.

This issue was also reported here: https://github.com/ptsochantaris/trailer/issues/268 and the 1.4.2 update was recently put up should correct it. Just go ahead and "check for updates" from the Preferences or About window and it should solve your issue.

About memory, Trailer can take varying amount of memory based on how many PRs and Issues are handled. Overall most of

[2016-06-17 10:34] aik099 commented on #275
Sorry for the duplicate issue. I mentioned issue in list of open issues, but from it's title that wasn't obvious that it's about the same problem as I reported.

Honestly I have no idea what memory is shown in crash report I've attached. I've just assumed that it's used memory amount.

There is only `Real Private Memory` column (no column named exactly `Private Memory`). It shows 25mb.

P.S.
After

[2016-06-17 10:34] #275 closed

[2016-06-17 14:22] BMorearty commented on #267
I would like that (the alternative by @ptsochantaris).

(Although for some reason I never see PRs with team mentions at all, at least when using GitHub Enterprise. I came here to see what I'm doing wrong.)

[2016-06-17 14:26] ptsochantaris commented on #269
Hi.

Unfortunately, investigating this a bit further, I hit a snag, since it seems as if the API to check for multiple assignees is in development and not yet available. I'm going to leave this issue open, and as soon as the APIs for supporting this are available will definitely resume adding it, as I agree it's definitely an important feature to support.

[2016-06-17 14:33] ptsochantaris commented on #267
Hi @BMorearty and thanks for the input on the routing if items 👍

Currently team mentions are only checked on the main body of a PR or issue and not in the comments. Also the format is @org/team

So in your case, we have one of these unexpected cases
- Mention is is the comments
- Mention is in a different format, or
- Mention is in this format and in the body

Changing or fixing any of these shou

[2016-06-17 15:10] aik099 opened #276 "The "Refreshing ..." message is barely visible"
When when 1st refresh and you have no issues/pull requests fetched from GitHub the `Refreshing ...` text is displayed like this:

![2016-06-17_1341](https://cloud.githubusercontent.com/assets/1277526/16155135/ad299516-34b6-11e6-85e9-8c933a9602a3.png)

Not sure where the issue is, but it's barely visible (the `r` and `i` letters specifically). I think this happens when I combine default font used i

[2016-06-17 15:17] ptsochantaris commented on #276
Are you using a non-retina display perhaps? If so, font rendering over the translucent container ends up looking a bit bad when the text colour is light gray like that - something to do with alpha channels used as part of anti-aliasing by OS X. I think this issue is less prominent on El Capitan TBH.

I may look into making this message a bit larger or darker in the next release, but TBH I'm not su

[2016-06-17 15:24] aik099 commented on #276
Yes, I'm using external 21.5'' display connected to MacBook Pro via DVI-Thunderbold adapter.

Making text blank would probably solve the problem completely.

[2016-06-17 16:07] WilsonChiang commented on #267
Sounds great. The main thing is I want to distinguish between mentions for my team and myself directly as my org team gets a lot of mentions. As long as they can be in separate sections I would be very happy. Maybe an option to create custom sections?

Keep up the great work, love Trailer. Has really helped my workflow.

[2016-06-19 03:04] BMorearty commented on #267
Thanks, @ptsochantaris. I'll file a separate issue.

Once I get that working, I will have the same issue @WilsonChiang is having: my team gets tons of mentions, so I'll want to separate out my own mentions from my team's mentions.

[2016-06-19 03:10] BMorearty opened #277 "I never see my team mentions"
I use GitHub Enterprise. Whenever someone mentions my team, I don't see it in Trailer.

It's very common for people on my team to mention the team in the PR description, not in a comment. The format is usually:

[code]

As in this example, my team name has a hyphen in it. Could this be why I don't see anything in Trailer?

In prefs, I have checked the box to move an item to "Mentioned" if my team

[2016-06-19 16:29] appleprtest opened #278 "Team mention test"
Please ignore, this is a test.

Edit2.

[2016-06-19 16:49] appleprtest commented on #278
Comment

[2016-06-20 06:52] aik099 opened #279 "Constant jumping of icon on menubar"
Since `groups` feature was introduced (in 1.4.x version) you can have sub-set of prs/issues icons for any repository group. That however is causing removing/adding of icons on the menu bar.

I'm using Bartender 1.x (see https://www.macbartender.com/) to position the app on menu bar. Icon remove/add fact drives Bartender crazy and that causes Trailer icon to be 1st in the list all the time.

[2016-06-20 07:48] ptsochantaris commented on #277
Hi and thanks for opening this separate issue.

So, I've dug around a bit to see if I can replicate the issue, and I can. However, it seems to happen under a specific circumstance: if the Cc is added after the issue is created and synced down to Trailer. The reason for this is that GitHub won't mark the item as modified if you edit its body. For some reason it will only mark the item modified when

[2016-06-21 07:03] aik099 commented on #279
Even without Bartender.app usage the Trailer icon is placed in menubar in the order the app is launched and fact, that it suddenly (not on every refresh, but surely after computer wakes up from sleep + no crash happens) moves from it's position to beginning isn't good.

[2016-06-26 10:24] ptsochantaris commented on #261
Closing this for now, please feel free to reopen if you have any problems with it.

[2016-06-26 10:24] #261 closed

[2016-06-26 10:39] #278 closed

[2016-07-01 10:16] ptsochantaris commented on #274
I think this may have to do with Yosemite's text rendering not respecting the vertical centring attribute for the labels. Will take a closer look at it though and get back to you.

[2016-07-01 10:22] ptsochantaris commented on #273
This looks very useful but, like you say, it is very close to the "Snoozing" functionality, so I'd like to think about integrating it there, to avoid creating a new menu section and whole set of preferences.

How about having an "auto-snooze item after X days inactivity" option in the snoozing preferences section? It ought to cover this requirement, I think.

[2016-07-01 10:30] ptsochantaris commented on #279
Thanks for reporting this.

Interesting. At some point the icons *do* get recreated, but this happens only in some specific cases, specifically when importing/altering related settings and dark mode change.

I can see one case where Trailer will recreate the icons when the system wakes up, even if the dark mode hasn't changed, so this will definitely case your second issue - will fix.

For the fir

[2016-07-01 10:48] aik099 commented on #279
This is the case I'm seeing. Manual refresh doesn't cause jumping, but maybe automatic refresh does.

There is something else to it, because:

* I do have other apps in menubar, that change their icons (e.g. Skype) and that doesn't cause them to jump to beginning of menu bar
* this was working in Trailer 1.3.x, so there is definitely something changed in 1.4.x that causes this

Manual refresh chan

[2016-07-01 10:52] aik099 commented on #273
For now I've started to use snoozing functionality and help greatly. I no longer have huge issue/pr counts just because I've participated in them some time ago, but their authors have abandoned them.

Sounds good.

[2016-07-01 10:56] ptsochantaris commented on #279
Cool - ok, at least for the first part, this build ought to fix your issue. Have a go and let me know if it helps: https://www.dropbox.com/s/pnl0ttbhjpg0rcw/Trailer-wake-menu-fix.zip?dl=0

There's not that much difference between automatic and manual refresh in the code TBH, so anything that Trailer does by hitting Cmd-R should be the same as when it automatically decides to refresh. Let's see wha

[2016-07-01 10:59] ptsochantaris commented on #273
I'm really glad to hear it's useful (it wasn't my idea, but suggested here in the issues section, but it took a while to implement so I'm glad it's not just one person who's benefiting from it :))

Glad you agree on adding it to snoozing. Adding this to the TODO list.

[2016-07-01 11:01] aik099 commented on #279
Actually you fix that issue with icon move on wake up and then I'll install it and see if jumping will happen at all.

[2016-07-01 11:03] ptsochantaris commented on #279
Yep, this build should fix that issue.

[2016-07-01 11:06] aik099 commented on #273
Your app is a major time saver and `one of a kind` app for that task (tracking issues/prs across all participated repositories).

[2016-07-05 16:24] ptsochantaris commented on #270
This can be part of a wider feature which marks items with a "!" even if they have no comments. I'm thinking of introducing this together with an option to mark any new PR or Item with a "!" even if it starts off with no comments, and then also adding an option for what you suggest above (i.e. "mark PRs with an alert badge if there has been a recent push")

[2016-07-05 16:25] ptsochantaris commented on #279
Have things improved for you at all on this build?

[2016-07-05 18:42] aik099 commented on #279
I'm not receiving any update. I'm on 1.4.2 version.

[2016-07-05 19:40] ptsochantaris commented on #279
Ah, I think I had forgotten to put out a 1.4.2 GitHub release. Will have to fix that. But what I meant was the build I created above, following this link: https://www.dropbox.com/s/pnl0ttbhjpg0rcw/Trailer-wake-menu-fix.zip?dl=0

[2016-07-05 21:49] dangitall opened #280 "Snoozing improvements"
Thanks for an awesome tool! Trailer makes my life better.

I mute a lot of the PRs that come through and I find that these muted PRs dilute the useful information that Trailer gives me. I'd love it if:

- The project list was at least sorted giving priority to non-muted PRs. It is annoying to have to scroll down through ones I don't care about to find the ones I do want to see (when there are too

[2016-07-06 06:43] aik099 commented on #279
I can confirm, that during wakeup menu icons no longer jump.

[2016-07-06 08:56] ptsochantaris commented on #279
Ah, great! 👍 I guess my second question would be, does this improve the situation with Bartender for you as well? We may have a better picture of what's going on now that this issue is out of the way.

[2016-07-06 09:07] aik099 commented on #279
Yes. I've tested these cases:

1. close lid (causes short term sleep) > wait for 8h (that causes long term sleep) > open lid
2. open lid > don't do anything for 20 minutes (causes short term sleep) > open lid
3. waited for auto-refresh to happen

In all cases icons stayed in their place.

[2016-07-06 09:51] ptsochantaris commented on #279
Brilliant, thanks for testing! I'll send out a small incremental update soon to ensure this is fixed for others as well.

[2016-07-06 10:03] aik099 commented on #279
Thank you for quick fixing.

[2016-07-06 16:45] ptsochantaris commented on #280
Hi @dangitall, I'm really glad Trailer is making your life better! 👍

Muting is a lightweight feature mostly to get an item to "shut up for a minute" and not for longer-term use TBH :) Instead, what you describe sounds very much like the "snooze" functionality, which is similar to muting, but more "heavy handed". I.e. it lets you mark an item as snoozed for a while (or forever) which can be then w

[2016-07-06 17:23] dangitall commented on #280
Ah, yes, you're right, snoozing does pretty much cover the functionality I was looking for. Thank you!

A couple of things that feel like it would make it more useful to me:

- If I could assign a hotkey to specific snooze presets (hitting ⌘-M is so easy), that would be super nice!
- If the options for waking and hiding a snoozed item were preset specific (so that I could use one preset to truly s

[2016-07-06 21:32] danwenzel opened #281 "Search query resets after mac Sleep"
Repro steps:

- Type a search query:

![image](https://cloud.githubusercontent.com/assets/11724146/16635183/0b268894-4386-11e6-93c5-b9e3ed1fe057.png)

- collapse the menu
- Put macbook to Sleep
- log back in

When opening Trailer back up, the search query is blank again:

![image](https://cloud.githubusercontent.com/assets/11724146/16635206/2f73d40e-4386-11e6-8afc-641ad2b4edbb.png)

This was defin

[2016-07-06 22:49] ptsochantaris commented on #281
Hi @danwenzel and thanks for calling this in!

This is most probably related to the forced recreation of the windows when the system wakes up, which was done to cater for dark mode updates while the system was in power-nap.

The next update fixes this, so windows should not be recreated each time, only if there IS a change in dark mode after all :)

In case this is giving you headaches for now, th

[2016-07-06 22:57] danwenzel commented on #281
I downloaded the intermediate build, and it works perfectly.  Thanks for the quick response!

[2016-07-06 23:06] ptsochantaris commented on #281
You're very welcome. I wish I could say it was me being fast, but this was the exact same code bug that another user was suffering from here, so the solution was pre-packaged :)  However, it's still great to know this fixed it for you. A proper update should be up soon to make sure this is fixed for everyone. Thanks again for calling it in!

[2016-07-07 15:36] ptsochantaris commented on #279
Version 1.4.3 is up now and should correct this issue for good. Feel free to close the issue if all is good.

[2016-07-07 15:36] ptsochantaris commented on #272
Version 1.4.3 is up now and fixes this issue, thanks again for reporting it.

[2016-07-07 15:36] #272 closed

[2016-07-07 15:37] ptsochantaris commented on #273
Version 1.4.3 is up now and contains the option to auto-mark items as snoozed after a certain amount of days. Let me know how you get on with this.

[2016-07-07 15:38] ptsochantaris commented on #281
Hi, just wanted to let you know that version 1.4.3 is up now and should correct this issue for good. Feel free to close this issue if all is good.

[2016-07-07 16:38] aik099 commented on #273
The control for choosing day count is hard to use, because you to have 60 days detail you need to click 60 times. See: http://screencast.com/t/uN73VMJJ2g

[2016-07-07 16:39] #279 closed

[2016-07-07 16:42] danwenzel commented on #281
Excellent, thanks again!

[2016-07-07 16:42] #281 closed

[2016-07-07 16:59] ptsochantaris commented on #273
@aik099 Ah, thanks for the feedback, may update this on a next update. However TBH this isn't a setting that changes too often. Also, for now, you can just keep the arrow pressed on any particular direction instead of clicking repeatedly.

[2016-07-07 19:20] aik099 opened #282 "All items lost snoozing status after upgrade to 1.4.3"
I've manually snoozed lots of items. After upgrade from 1.4.2 to 1.4.3 all items (issues, PRs) suddenly lost their snoozing status without anybody actually adding comment to them on GitHub.

This might be related to new setting, that will autosnooze issues after X days.

[2016-07-08 10:18] ptsochantaris commented on #282
Yes, this is something that will happen when you're adjusting the auto-snoozing setting as it has to un-snooze everything and re-snooze them according to the new ruleset - but only for items that are snoozed "forever" (which is what auto-snooze sets and handles). This has to happen or tweaking the auto-snooze setting will end up with everything getting snoozed.

However, I'm now thinking about per

[2016-07-08 10:24] aik099 commented on #282
I thought, that items snoozed manually using `Forever` snoozing preset won't ever unsnooze until they're actually awaken by GitHub event (e.g. new comment added).

I haven't changed any snoozing presets either. What I did is changed `auto snooze after X days` from `never` to `1` and then back to `never`. I guess that lead Trailer to think, that I want to unsnooze all items that are older than 1 da

[2016-07-08 10:26] aik099 commented on #282
Agreed. Manually snoozed items can be unsnoozed only manually or via GitHub event.

[2016-07-08 10:26] ptsochantaris commented on #282
Yeah, the change in settings had to wake up all the Forever items to apply the new rules to them - which is retrospect is a bit unintuitive. I'm tweaking the auto-snoozing to use a "special" date (Forever - 1 second) for snoozing, so that then it only wakes up items with that special date, and not items which you manually snoozed Forever. Update will be up in a few minutes, will give you a shout :

[2016-07-08 10:33] aik099 commented on #282
So if I've snoozed item manually using `1 month` preset and set to auto-snooze after `1 day`, then item shouldn't wake up earlier than `1 month` (or github event) regardless of what changes I made in Snoozing tab in settings. It's not that only `Forever` preset is special.

[2016-07-08 10:37] ptsochantaris commented on #282
Exactly. But in the previous build both manual and auto-snoozing used the Forever date, so changing the auto-snoozing setting would wake up items that were manually snoozed with Forever. This is what caused your issue. Non-forever Snoozed items would be unaffected anyway. The fix changes the date used to auto-snoozed items, so the app will only wake up those when the setting is changed. All others

[2016-07-08 10:47] aik099 commented on #282
I've updated, but I guess I'll see no visible changes.

Is there any faster way to snooze item via snoozing present, then:

1. right click on item
2. use mouse to move to `Snooze...` menu
3. use mouse to select `Forever` (preset name)

?

Considering that all my forever snoozed items are now visible again I have to snooze them again (I have ~150 issues to snooze and ~40 PRs to snooze) spending lot

[2016-07-08 10:50] aik099 commented on #282
Maybe the menu can be reworked to:

1. have separate group (after new separator), where all snoozing presets are placed
2. all menu items in that group would start with `Snooze: ` prefix
3. all menu items in that group would have some auto-generated shortcut, like `Command+0`, `Command+1` and so on so there never will be a conflict when new presets are added
4. for 10+ snoozing preset there won't

[2016-07-08 11:02] ptsochantaris commented on #282
True, you shouldn't see much difference, except that playing around with the new setting should no longer wake up previously "forever" snoozed items.

I totally agree, some sort of faster snoozing makes a lot of sense. I was thinking of the hotkey approach rather than making the main context menu very long, something more in line with what you describe (i.e. Cmd-S-[Number]). This has already been

[2016-07-08 11:06] aik099 commented on #282
Fix confirmed. The forever snoozed item haven't auto-wake up when I've changed auto-snoozing setting back and forth.

Thank you.

[2016-07-08 11:06] #282 closed

[2016-07-08 11:21] aik099 commented on #280
Agreed on `Command+S+[Number]` shortcut.

[2016-07-08 11:23] aik099 opened #283 "Partially cut off option names on "Snoozing" section in settings"
Partially cut off option names on "Snoozing" section in settings:

![2016-07-08_1341](https://cloud.githubusercontent.com/assets/1277526/16685996/8c50a4a8-4517-11e6-9f62-301c4998db37.png)

OS: Yosemite 10.10.5

[2016-07-08 16:31] ptsochantaris commented on #283
Ah, thank you for reporting this. Yosemite system fonts are a bit wider, I should have caught this while testing on my Yosemite VM. Will upload a hotfix tonight 👍

[2016-07-08 21:40] dangitall commented on #280
That sounds fine to me though it might be slightly odd from a usability issue in that deleting one preset could cause the hotkeys for all the others to change.

[2016-07-08 21:59] dangitall opened #284 "Sometimes pulldown menu is placed too high"
This is a pretty minor UI issue.

This is what I want to see when I click on the pulldown menu in Trailer:

<img width="459" alt="screen shot 2016-07-08 at 2 50 07 pm" src="https://cloud.githubusercontent.com/assets/882363/16702610/16ebeaa6-451c-11e6-8d3d-3f0c57cf500f.png">

But sometimes I get this:

<img width="498" alt="cut" src="https://cloud.githubusercontent.com/assets/882363/16702636/38da9c

[2016-07-11 08:21] aik099 opened #285 "The "Has PR" indicator for issues"
On GitHub issues can be automatically closed, when associated PR is merged. To create such association you need to write `Closes #xxx` (`xxx` is issue number) in PR description (anywhere). Then on issue itself a relation to that PR is created with an `auto-close icon`. Probably these auto-close icons are shown via API as well (e.g. like an issue/relation property).

It would be cool if in issue li

[2016-07-18 18:21] WilsonChiang commented on #269
https://developer.github.com/v3/issues/assignees/

Looks like its supported now @ptsochantaris

[2016-07-18 19:25] RobinDaugherty commented on #263
Sorry I couldn't help before @ptsochantaris it looks like you've fixed the problem in the latest release. Thank you!

[2016-07-19 10:42] ptsochantaris commented on #269
Hi @WilsonChiang, unfortunately it's still not there, as these calls are repo-wide, and just list users.

From what I understand, the API is currently being expanded to include an "assignees" hash in issues/prs in addition to the "assignee" (singular) field, but that is only available if you provide a specific testing header (its pretty much the same thing when it comes to supporting reactions as

[2016-08-02 19:54] jagreenwood opened #286 "Crash on launch"
I'm seeing a crash on launch during the syncing operation.

It seems the problem is with the forced downcast in
[code]

Making this function return an optional resolves the crash but seems to cause problems elsewhere, such as consistent failed fetch state and crashes when fetching from the moc.

It should be noted that several of my colleagues are _not_ seeing this crash; I'm not sure what it spec

[2016-08-03 18:50] ptsochantaris commented on #286
Hi @jagreenwood and thanks for calling this in and for your investigation.

Very strange that this should fail, it looks as if something not quite right "wedged" itself in Trailer's cache and is now exploding when Trailer is trying to pull it out.

This code basically takes the previously marshalled headers from an older call and "expands" them back to their original datatype (i.e. pretending to h

[2016-08-03 20:54] jagreenwood commented on #286
@ptsochantaris nuking the cache cleared it up. I'll let you know if I'm able to reproduce it at any point. Thanks!

[2016-08-03 20:54] #286 closed

[2016-08-04 18:39] CraigCottingham opened #287 "Corrupted database; any hope of recovery?"
Trailer has started crashing on me:

[code]

Is there anything I can do short of deleting my SQLite database and restoring from a backup?

[2016-08-04 18:40] CraigCottingham commented on #287
Also, it's not high priority, but some kind of alert from Trailer itself would be useful here. I had to go looking in Console.app to figure out why Trailer wasn't launching.

[2016-08-04 20:55] ptsochantaris commented on #287
Hi @CraigCottingham and thanks for reporting the error.

Unfortunately there's not much that can be done if the file is corrupted. Core Data usually operates SQLite with very strict safety parameters by default, but because Trailer doesn't hold mission critical data (or any data that is not re-creatable for that matter) it operates the store with fewer safety features on to gain performance, and i

[2016-08-08 01:21] ptsochantaris commented on #284
Hi @dangitall and sorry for the slow reply.

I've seen this happen for a while, because I'm not sure what precisely is causing it I had almost given up :) However, your testing and description on how to reproduce it have renewed my interest in investigating it. I'm going to play around and see if I can improve the situation there. Stay tuned.

[2016-08-08 01:23] ptsochantaris commented on #280
Yes, that could be a bit weird but I'm not sure how often one would edit the snoozing presets. It's more of a case of settling on a preset set that one uses often. However, this could combine with the ability to drag-and-reorder the existing snoozing presets, which is something I've wanted to add fro a while there. This way a user can ensure that nothing goes "out of order" if they make one edit,

[2016-08-08 08:12] ptsochantaris commented on #285
You're right, it would be useful if there is an indicator on a PR or Issue that signifies there is an associated item, and to be able to open that instead. Since it would take more API calls it may have to be an option. Things are busy so I'm not promising quick delivery on this :) but it's going on the TODO list.

[2016-08-08 09:20] appleprtest opened #288 "test issue"
testing

[2016-08-08 09:23] appleprtest commented on #288
Mentioning @ptsochantaris

[2016-08-08 10:02] appleprtest commented on #288
x1

[2016-08-08 10:02] appleprtest commented on #288
x2

[2016-08-08 10:03] appleprtest commented on #288
x3

[2016-08-08 10:04] #288 closed

[2016-08-08 10:43] ptsochantaris opened #289 "Trailer 1.5 Beta for macOS"
For the moderately adventurous, this is the latest build of Trailer.

#### Changes include
- Mentions, team mentions, and new items in owned repos can now be routed to any section.
- Support for multiple assignees when searching or detecting if an item as been assigned
- Snoozing logic improvements, improved keyboard shortcut support in macOS, and preset-specific wakeup options.
- In case launch f

[2016-08-08 10:49] ptsochantaris commented on #287
Just wanted to update you and let you know that this should improve on later versions, I have added a warning dialog to the latest beta: https://github.com/ptsochantaris/trailer/issues/289

It looks like this:
<img width="532" alt="error" src="https://cloud.githubusercontent.com/assets/521581/17477587/0458357a-5d5e-11e6-8805-df6b382c3b37.png">
Let me know if you have any thoughts and suggestions o

[2016-08-08 10:51] ptsochantaris commented on #283
Hi, this should improve in the latest beta: #289 (Sorry for the delay, my "tonight" turned into "just under a month", it's been crazy busy!)

[2016-08-08 10:53] ptsochantaris commented on #267
Hi @WilsonChiang! The latest beta here #289 has the new "multiple choice" routing options in preferences. If you are feeling adventurous have a go and let me know how it goes. I hope it's an improvement for your workflow!

[2016-08-08 11:53] CraigCottingham commented on #287
👍

[2016-08-08 21:28] dangitall commented on #280
I agree, the ability to reorder the presets would mitigate the issue.

[2016-08-09 08:37] ptsochantaris commented on #280
I took the liberty of renaming your issue just to help disambiguate it from other issues and to make it clearer what it's evolved into. Summarising here what I think Trailer could definitely benefit from as the result of the discussion (so far)
- Hotkeys for snoozing presets, most probably through a predetermined pattern of Cmd+S+[number] which corresponds to the number of the specific preset.
- M

[2016-08-09 13:30] aik099 commented on #280
Haven't thought about it, but it can be helpful, because some issues just are not supposed to be woken up. 👍

[2016-08-09 16:52] dangitall commented on #280
Thanks, @ptsochantaris. It seems to work great. My only issue is that after using the hotkey to snooze an item the cursor/highlight jumps up several items (perhaps to the first PR in "All items"? Hard to say for sure). It was a little surprising that it didn't go to the next (below) item after snoozing.

[2016-08-09 19:02] ptsochantaris commented on #280
Ah, true, thanks for spotting that! I'll be sure to fix it in the next beta build and give you a shout when it's up.

(PS. In case you spot any other weird behaviour or crashes on the beta be sure to give me a shout as there have been quite a few internal changes in 1.4.4)

[2016-08-11 18:19] ssbarnea opened #290 "Trail.app is crashing one second after starting"
[code]

seems to be duplicate of #287 but I don't even get the prompt about the database being damaged.

[2016-08-11 19:27] ptsochantaris commented on #290
Hi @ssbarnea - thanks for reporting this.

You won't get the prompt, as that is coming in 1.5. What you're seeing there is the same issue, basically your database file has become corrupt. The easiest way to fix this is to remove the directory with the DB and restore your settings from a recent settings export.

The other option is to try running an SQLite recovery/repair tool, but TBH I haven't ha

[2016-08-12 00:02] ptsochantaris commented on #290
Hi, just wanted to let you know that I've just added the tweak to the database options in the 1.5 beta here: #289 In case you're feeling adventurous, feel free to have a go with it. From this version onwards there should be no chance of a power failure or OS crash corrupting the database.

[2016-08-14 01:15] ptsochantaris commented on #269
Hi @WilsonChiang - It turns out you were right after all, I was just looking around to see if this feature was going to be added, and it turns out it _was_ added on the 12th, but only announced in the API blog (I can see the "assignees" hash in the API return data now). I was confused because the documentation still has the "needs the experimental headers" tags :-/  I thought I'd let you know :) W

[2016-08-14 01:16] ptsochantaris commented on #269
BTW just a small note, to test this I'm going to add you as a co-assignee for this issue, so I can see how the API reports this. Please just ignore any notices that come from this :)

[2016-08-14 01:18] ptsochantaris commented on #269
Ok, turns out I can't do that, never mind :) I'll find another way around this.

[2016-08-14 02:07] ptsochantaris commented on #269
Ok, beta build updated. If you're feeling moderately adventurous, give it a go on #289 and let me know if it helps!

[2016-08-18 17:40] WilsonChiang commented on #269
Awesome, thanks! I'll give it a shot.

[2016-08-24 09:03] rossgardt opened #292 "Trailer app starts twice in menu bar and crashes after a few seconds"
The following screen rescording summarizes everything:
https://youtu.be/c8diX1t9q9Q

This may relate to some other issues I found. I just don't get any error log messages. Maybe I can delete the app's configuration files? Unfortunately I could not find anything under `/Library/Application Support`.

Best regards,
Benedikt

[2016-08-24 09:14] ptsochantaris commented on #292
Hi @rossgardt - thanks for calling this in and the video capture. From your video Trailer doesn't seem to be starting twice, you're just seeing the issues and PRs menu items. They appear depending on whether you are monitoring PRs and issues from various repos and can be configured from the "Watchlist" section in preferences.

The crash you're experiencing afterwards is obviously a problem though

[2016-08-24 22:05] rossgardt commented on #292
- Using the Beta version did **not** solve the problem.
- Removing the _Application Support_ folder did the trick.

Please find an error report [here](http://pastebin.com/yTdBJFQS).

Thank you for the help!

[2016-08-24 22:05] #292 closed

[2016-08-24 22:11] ptsochantaris commented on #292
Great, I'm glad this helped!

Thank you for putting up the crash report. I'm going to analyse it and see what went wrong, and try perhaps to prevent this crash from occurring in the future, if possible.

[2016-08-24 23:00] ptsochantaris commented on #292
For what it's worth, it seems as if your crash was related to your login username disappearing from a API server record. I've added some code to try and re-fetch this data if it is missing, as well as safeguarding against the crash in the future. I'm going to update the beta build with this in a bit, so if you get this crash again in the near future, try the beta again and see if it will fix your

[2016-08-25 07:31] rossgardt commented on #292
I will keep it in mind. Thanks for the fast support! 👍

[2016-09-08 09:04] rossgardt opened #293 "Hide number of PRs in menu bar"
Is there a setting that hides the PR count? I could not find anything.

![screen shot 2016-09-08 at 10 59 54 am](https://cloud.githubusercontent.com/assets/234840/18343519/fe760830-75b3-11e6-8eef-2a76d0443bb2.png)

Best,
Benedikt

[2016-09-08 09:09] ptsochantaris commented on #293
Hi @rossgardt

There isn't one, yet :) Something I wanted to add for a while and it's on the TODO list.

My biggest "block" was debating how to display the "X" state if network or sync is down for whatever reason. I was thinking of making the icons red in this case, what do you think?

[2016-09-08 12:33] rossgardt commented on #293
Nice to hear. I like the minimalism on Mac OS, so this feature would fit really nicely.

Regarding the visualization of the "no connection" state, I assume that it is repetitively retrying to connect to the server. For me, this still is the process of "refreshing", so I would just gray out the whole icon - again, to keep it as simple as possible. (Unfortunately, the [UX guidelines](https://develop

[2016-09-09 08:23] ptsochantaris commented on #293
Hi @rossgardt

Thank you for the input. I totally agree with the minimalist viewpoint, since in general I'm less interested in now many PRs or Issues exist, only that I can access them :) However this is not always the case, as some organisations (for instance, HouseTrip where this project was born) use the number as an org-wide code review "pressure" indicator (the original purpose of Trailer was

[2016-09-09 12:29] rossgardt commented on #293
I think this all sounds reasonable :-) I am looking forward to the new features in the 1.5 release!

Best,
Benedikt

[2016-09-09 20:37] dangitall commented on #290
FYI I'm all of a sudden seeing Trailer exit immediately after starting as well, but the errors I get are a bit different:

[code]

I have no idea what triggered this, there was no power failure or anything. I just noticed that when I came in today that Trailer wasn't running. My best guess is that this started happening when my MBP came out of sleep. (15" Retina: 2.8GHz i7, OS X 10.11.5)

[2016-09-09 20:38] dangitall commented on #290
Oh, I should add that I'm already running #289.

[2016-09-10 07:46] ptsochantaris commented on #290
He @dangitall, thanks for letting me know. Is it possible you could provide a link to a crash log resulting from this? Will look into it ASAP.

[2016-09-10 07:49] ptsochantaris commented on #293
Hope to "ship" it soon! As always feel free to create issues about errors or features you may like.

If it's ok with you I'd like to keep this issue open until this feature is added - helps maintain a useful TODO list in my Trailer :)

[2016-09-10 10:27] rossgardt commented on #293
Of course :-) Thank you!

[2016-09-10 21:18] dangitall commented on #290
Here you go.

[Trailer_2016-09-09-133200_dangit.crash.zip](https://github.com/ptsochantaris/trailer/files/465646/Trailer_2016-09-09-133200_dangit.crash.zip)

[2016-09-10 21:30] ptsochantaris commented on #290
Hi @dangitall - thanks for the crash report!

From the report I see the build is a bit older than the latest beta build (the version number indicates "1.4.4" which suggests that this is one of the older beta builds)

Would it be possible for you to download the latest build from #289 and see if it improves things? I've made quite a few changes to the code since then, so the possibility that this _

[2016-09-10 22:13] RobinDaugherty opened #294 "After disabling dark mode status bar items are still white"
When dark mode is enabled, Trailer's icons are changed to have a white foreground. But when dark mode is disabled, the icons are not changed back.

![trailer status bar](https://cloud.githubusercontent.com/assets/1005280/18413803/4bb1603e-7782-11e6-9f90-b6770ffa259e.jpg)

While most users might not see this, I found it because I'm using [f.lux](https://justgetflux.com), which sets dark mode at nig

[2016-09-11 00:04] ptsochantaris commented on #294
Hi @RobinDaugherty, thanks for reporting this and the investigation you've done. This issue (or perhaps one very similar to this) was solved quite recently, see here: https://github.com/ptsochantaris/trailer/issues/260

Either the version you are running is a bit older, or _more likely_ this is a regression. Can you give the latest beta (https://github.com/ptsochantaris/trailer/issues/289) a try a

[2016-09-11 01:57] dangitall commented on #290
Oh, I'm sorry! I thought I was running the latest. Indeed upgrading to 1.5.0 fixed the problem I was seeing. Thanks!

[2016-09-11 09:02] ptsochantaris commented on #290
There's certainly no need to apologise. After all, the betas don't have auto-update (although they WILL auto-update to the final when it's out (very soon now)) That said, there's little chance the beta you are using right now will change before release (currently I'm regarding it as more of an RC TBH) unless anyone spots any issues.

I'm really glad this has fixed the issue, good to see that the c

[2016-09-11 15:16] RobinDaugherty commented on #294
The setting in f.lux is in their status bar menu (and apparently not in the Preferences dialog):
![flux dark theme setting](https://cloud.githubusercontent.com/assets/1005280/18418282/f186f256-7810-11e6-91ad-4b87ecc1b8be.jpg)

It sounds like it might be a regression. I don't recall how long ago it started happening, but I've been ignoring it for a while. I was experiencing this in the latest versi

[2016-09-11 15:21] ptsochantaris commented on #294
Thanks for the tip! I can't see that setting on mine for some reason. Will investigate further :)

Back to the issue you're seeing, thanks for updating me on the version you're testing. It's definitely the latest code, so I'm going to try and replicate this locally and see why Trailer is missing the change (again :)) Stay tuned 👍

[2016-09-11 16:14] ptsochantaris commented on #294
Ok, so the reason I can't see that setting is because of Sierra, apparently. Hope it becomes possible in the future, as it sounds like a nice feature to keep turned on :)

I've just updated #289 with a new build (30) that seems to fix this on my local testing (tested on a Yosemite VM). Can you have a go and see if it improves things for you?

[2016-09-12 06:31] NiXXeD commented on #191
I continue to have this issue sporadically. It always stays in light mode when I turn the computer on. For a long time, if I closed/opened trailer, it would fix and be in dark theme. Now, I cannot get it to switch to dark theme at all any more. Several other coworkers experience the same issue.

[2016-09-12 09:46] ptsochantaris commented on #191
Hi, sorry for the late response but this issue was closed so I didn't see the new comments here.

We're looking at this regression on the latest beta (or I ought to say, RC by now) on this issue: #294 and it may be corrected now. Can you have a go with the latest beta to see if it improves things? (You can download it from #289)

If possible, please post comments and feedback on that issue as I ma

[2016-09-13 20:59] NeckBeardPrince commented on #289
Why are you not hosting the beta on github as well?

[2016-09-13 21:04] NeckBeardPrince commented on #289
On Sierra darkmode does seem to be broken in Trailer

[2016-09-13 21:07] ptsochantaris commented on #289
Hi @NeckBeardPrince, it seems to be fine here on Sierra - can you elaborate a bit on what you mean? Are there specific steps to reproduce?

[2016-09-13 21:08] ptsochantaris commented on #289
Ah, I see what you mean, the menu is still bright. Looking into it.

[2016-09-13 23:16] ptsochantaris commented on #289
Hi @NeckBeardPrince, I think it's been fixed now. Sierra seems to have changed the NSAppearance being reported to the app for some reason, but we can still rely on the *defaults* setting. Can you download the latest build from above and give it a try?

[2016-09-13 23:18] ptsochantaris commented on #294
Updated the beta once again, since the previous one seemed to keep the menu "light" even in dark mode, in Sierra. This new build should fix that issue.

[2016-09-13 23:19] NeckBeardPrince commented on #289
@ptsochantaris LGTM 👍  thanks

[2016-09-13 23:20] ptsochantaris commented on #289
Thanks for reporting it!

[2016-09-14 08:52] ptsochantaris commented on #289
Version 1.5.0 is now up and can be downloaded through auto-update or from here: https://github.com/ptsochantaris/trailer/releases/tag/v1.5.0

[2016-09-14 08:52] #289 closed

[2016-09-14 08:56] ptsochantaris commented on #283
Hi, this issue should now be corrected in the latest 1.5.0 release. Closing this for now.

[2016-09-14 08:56] #283 closed

[2016-09-14 08:57] ptsochantaris commented on #267
Hi, this is now available as part of the 1.5.0 release which just went up. Please feel free to create more issues with suggestions and/or problems you may encounter.

[2016-09-14 08:57] #267 closed

[2016-09-14 08:58] ptsochantaris commented on #290
1.5.0 is now live, please give it a go and feel free to open further issues with any problems or suggestions you may have. Closing this for now.

[2016-09-14 08:58] #290 closed

[2016-09-14 08:59] ptsochantaris commented on #280
Version 1.5.0 is up now and includes all these changes. Please feel free to open further issues with suggestions or comments! Closing this issue for now.

[2016-09-14 08:59] #280 closed

[2016-09-14 09:00] ptsochantaris commented on #287
Closing this issue for now. Version 1.5.0, which is now up, includes the above view as well as the changes to make the DB storage more resilient. Please feel free to open further issues if you encounter problems.

[2016-09-14 09:00] #287 closed

[2016-09-14 09:03] ptsochantaris commented on #274
Version 1.5.0 which is now up should include a slightly improved baseline alignment for label strings. Hope it improves things a bit. It's worth noting that the fonts used in Yosemite will unfortunately end up producing a slightly "taller" label. This does not happen on later versions, and seeing that Sierra is just around the corner (and quite stable based on my usage the past months), I would re

[2016-09-14 09:03] #274 closed

[2016-09-15 19:14] JonathanTech opened #295 "Github's new PR review system not recognized as updates to PR"
Github came out with new features that allow you to create "reviews" that can reject a PR, accept it, or be impartial. This probably is a new API interface or object, but the main result is that v1.5.0 doesn't recognize these events as updates to the PR, thus causing developers to not be notified when their PR's have been accepted through this new mechanism.

https://help.github.com/articles/about

[2016-09-19 14:12] arnaugm opened #296 "Integration with hosted GitLab server"
My GitLab server expects the personal token as a header with key "PRIVATE-TOKEN" or with a "private_token" parameter. Trailer sends it as a header with key "token" and is not customisable.
Could it be possible to choose the key to be compliant with the server?

[2016-09-19 16:44] ptsochantaris commented on #295
Hi @JonathanTech

If I understand correctly, you'd like to receive a notification when reviews are actioned (accepted or rejected) by reviewers, is that correct?

If so, it totally makes sense, but I don't currently see any API in place to support this (quite possibly it's being created as we speak).

If you think you can spot any API related to this feature, let me know and I'll definitely invest

[2016-09-19 16:47] ptsochantaris commented on #296
Hi @arnaugm - is the GitLab API the same as GitHub's?

If so, is this the only difference between the two APIs? If it's just that, I'd be interested in adding an option for this. Do you have a link for documentation relating to GitLab's API?

I'd happily have a look, but if the two APIs diverge, it may not be possible to support GitLab.

[2016-09-19 17:25] JonathanTech commented on #295
Accepted, rejected, or comments on the reviews. It is very likely they don't have a public API for it yet. I'll try to see if there's any documentation and keep this thread updated if I see new ones.

[2016-09-19 17:34] ptsochantaris commented on #295
Interesting, I would have thought the comments would have been treated as normal comments in the existing API. Thanks for the info, I'll be keeping an eye out if you find anything.

[2016-09-19 17:34] JonathanTech commented on #295
Looks like it's part of the v3 api and should be in the `review_comments` fields.
https://developer.github.com/v3/pulls/

[2016-09-19 17:35] JonathanTech commented on #295
Seems like either that field is of the same structure as `comments` or they have yet to write the new structure documentation.

[2016-09-19 17:37] ptsochantaris commented on #295
Indeed, `review_comments` is where Trailer currently gets all the comments for PRs currently. The `comments` field is used for comments in issues (i.e. the ones that aren't PRs I mean :))

[2016-09-19 17:38] JonathanTech commented on #295
😵  Ok. Looks like I'll have to figure out how to hit the api on my own PR's to see if I can find the delta's for this compared to before.

[2016-09-19 18:06] ptsochantaris commented on #295
Cool, I'd definitely be very interested to know if you find out anything more about this.

I'll have a look as well when there's some time, but in the meantime if you *do* spot any of this review mechanism exposed in the current API, give a shout!

[2016-09-19 18:55] JonathanTech commented on #295
Ok, yeah, they aren't exposing it yet as far as I can tell. What does show up are comments on code within the review, but not the review summary comments. Also the part of the review that shows up in the statuses list on the html doesn't show up in the api yet either. I'll keep a watch on the api and reopen this when it becomes available.

[2016-09-19 19:28] ptsochantaris commented on #295
That would be awesome, looking forward to being able to include this in Trailer when it's there!

[2016-09-20 09:19] arnaugm commented on #296
Hi @ptsochantaris,

Reading some issues I though it was already compatible with GitLab and that was the only inconvenience.

Not sure how different are the APIs, didn't go that deep.
Here you have the documentation if you want to have a look https://gitlab.com/help/api/README.md

[2016-09-20 10:34] ptsochantaris commented on #296
Hi - those docs definitely show a *similar* API to GitHub's, as they use many of the same concepts, but TBH I'd have to go through the API examples line by line to tell you what kind of differences there are.

My impression is that there are differences throughout, so it's not just a question of authentication. I did notice, for instance, that comments are called "notes" and the API path for them

[2016-09-20 11:02] arnaugm commented on #296
Thanks for taking the time to look at the GitLab API and evaluate the possibility of supporting it.
I completely understand the complexity of giving support to a different API. Just a pity I can not use Trailer in this context as I find it very useful.

My main usage is to monitor PRs which helps the team to see how is the sprint going and if there are some who needs a code review.
I don't know if

[2016-09-26 17:22] JonathanTech commented on #295
Email I got after asking github directly about the API and this feature.
[code]

[2016-09-26 17:34] ptsochantaris commented on #295
Thanks for sharing this @JonathanTech, much appreciated. It's pretty much what I imagined the answer would have been, but it's good to have actual confirmation that API support is planned.

It looks like, for the moment, all we can do is be patient. This will definitely be staying on the TODO list of things to add as soon as they're available on the API (right next to reactions support, which stil

[2016-09-27 16:55] RobinDaugherty commented on #294
Unfortunately I'm on Sierra now, so I can't confirm that it changed on Yosemite. But it works correctly for me in Sierra!

[2016-09-27 16:55] #294 closed

[2016-10-03 14:32] aik099 opened #298 "Lost focus on issue/pr on hover after click"
How to reproduce:

1. enable both issues and PRs in menubar
2. get some notification (e.g. comment added on issue; not sure if it matters)
3. move mouse over list of issues and see that issues under cursor is highlighted as cursor is moved
4. click on the issue, that received notification (maybe can be clicked on any issue) and see that issue opens in browser
5. open list of issues in Trailer agai

[2016-10-05 08:39] ptsochantaris commented on #298
Hi, unless I'm misunderstanding your report, this was always meant to occur - i.e. once you click on an item, it opens in the browser and the menu closes. When the menu is opened, the focus shouldn't be there anymore (if you want to keep focus when opening an item, try alt-clicking)

Apologies if I'm not getting it, please feel free to elaborate a bit more and I'll try to look into it.

[2016-10-05 09:11] aik099 commented on #298
I'm talking about issue row highlight on mouse over, not focus. Maybe I shouldn't have used `focus` term in last sentence.

Cursor is over 2nd issue, but it's not highlighted:
![2016-10-05_1209](https://cloud.githubusercontent.com/assets/1277526/19107399/b15d77a8-8af4-11e6-99fd-2bc4313173ad.png)

Cursor is over a PR and it is highlighted:
![2016-10-05_1209-1](https://cloud.githubusercontent.com/as

[2016-10-12 16:40] Pedlar commented on #295
@ptsochantaris @JonathanTech GitHub updated on this yesterday.

Blog Post:
https://developer.github.com/changes/2016-10-11-pull-request-review-webhooks/

API Doc:
https://developer.github.com/v3/activity/events/types/#pullrequestreviewevent

[2016-10-12 16:51] ptsochantaris commented on #295
Thanks for the update @Pedlar - Great to know that things are moving along on that front.

Trailer does scan the event stream during sync, which includes the same payloads as the web hooks, so I'm wondering if it's at least worth implementing notifications based on the `PullRequestReviewEvent` type.

It still however does not solve the issues with certain comments not showing up as @JonathanTech p

[2016-10-18 13:40] aik099 commented on #298
@ptsochantaris , were you able to replicate this locally? You need to have macOS Sierra to see the problem.

[2016-10-18 13:44] ptsochantaris commented on #298
Yes, I have - although I can't find a way to consistently reproduce it, and my time has been very limited these past couple of weeks. Will definitely get around to fixing this, though 👍

[2016-10-18 13:47] aik099 commented on #298
Glad you're at least saw what happens. No worries, for now I click on links from GitHub notification emails and use Trailer as counter for unread updates.

[2016-10-19 12:01] ptsochantaris commented on #298
I don't think this has to do with notifications - the times I've managed to reproduce this are when I'm scrolling down a long list of PRs, then the "focus" just seems to go weird. Will look into this.

[2016-10-19 13:05] ptsochantaris commented on #298
(Also bear in mind, you can still use keyboard navigation)

[2016-10-19 13:17] ptsochantaris commented on #298
Ok, have a go with this build, see if it improves things for you: https://www.dropbox.com/s/59gcx6jgrh7y4x7/Trailer-focus-fix-Sierra.zip?dl=0

[2016-10-19 13:30] aik099 commented on #298
I had no idea, that it's possible.

Installed it. I won't know the results until I use it for some time though.

[2016-10-20 19:31] aik099 commented on #298
Looks like issue was fixed in that build.

[2016-10-20 19:35] ptsochantaris commented on #298
Great news! I pushed an update out with this a little earlier (it's the identical build to what you have right now) because it fixed another Sierra issue, so I'm glad no further update is needed. Thanks for reporting it, and sorry once again for taking a while to respond, it's been very busy recently.

[2016-10-24 08:40] #298 closed

[2016-10-25 17:35] akalman opened #299 "Allow users to get info for repositories they aren't watching but also aren't ignoring"
GitHub's setting for level of watching on a repository has three levels
- Watching (receive email notifications for PRs and issues etc on repository)
- Not Watching (receive email notifications on threads you are participating in or are mentioned in)
- Ignored (receive no emails)

currently in order to see a PR/Issue in trailer I need to be "Watching" the repository.  Each repository I watch I can

[2016-11-11 23:09] mmcdaris opened #300 "Change 'All Issues' to 'All' in PR view?"
I got confused because in the PR view, It says `All Issues`.

What do you think about using `All Pulls` or just `All` instead?

Here is a screenshot of what I see:

![all-issues](https://cloud.githubusercontent.com/assets/940237/20232958/c7f46d02-a820-11e6-8957-fe46c86147d8.png)

[2016-11-12 07:37] ptsochantaris commented on #300
Hi @mmcdaris, yikes, I can't believe I missed that bug. Indeed, Trailer is supposed to have a different label on PRs. I'll push out a small update in the next couple of days to fix this. Thanks for pointing it out! (Goes to show, unless there is a bug report for something, you can never be sure the developer has seen it :))

[2016-11-21 17:30] sarchila opened #301 "Trailer crashes seconds after startup"
Trailer has been crashing for me for a few weeks now. I upgraded from 1.5.0 to 1.5.1 to see if that would help, but that did not solve the issue.  Here are the crash reports:

## 1.5.0
[code]

## 1.5.1
[code]

[2016-11-21 18:05] ptsochantaris commented on #300
Hi @mmcdaris, sorrry I haven't been in touch (I confess: vacations :))

I tired to reproduce your issue locally but for some reason I wasn't able to - which leads me to believe that it's a weird bug when listing items based on some sort of filtering. Do you by any chance use repo groupings in your prefs, or are you using the "default" PR/Issues grouping?

In any case, now that I'm back I'm going t

[2016-11-21 18:14] ptsochantaris commented on #301
Hi @sarchila and thanks for reporting this. I'll do a post-mortem asap using these reports to see what bug has cropped up and is making your life difficult.

In the meantime, you may want to reset Trailer's DB as it may be blowing up because of a sync issue. It's quite easy to do this:

- If you want to keep your settings, turn off your networking so Trailer won't sync (which I assume is causing t

[2016-11-21 18:14] mmcdaris commented on #300
Hi @ptsochantaris, No worries. I was using repo grouping at the time of my screenshot but have unchecked it, the issue persists without repo grouping.
Here is a screenshot of my current display preferences. Let me know if there is anything else I can fetch for you to make replicating this one easier.
<img width="894" alt="screen shot 2016-11-21 at 10 10 27" src="https://cloud.githubusercontent.com

[2016-11-21 19:15] sarchila commented on #301
That got me back up-and-running.  Thanks!

[2016-11-29 10:17] ptsochantaris commented on #293
Just a quick note to let you know I'm not ignoring this feature, I just haven't been able to do much Trailer work for a while. It's still in the TODO list.

[2016-11-29 10:36] ptsochantaris commented on #300
Ok, I have no idea why I hadn't spotted this issue before (no pun intended :)), or even why it was actually working in some cases when I tried it out, as the code to select the correct headings for items in the menu display was *clearly* broken. Thanks for letting me know about it - it should be fixed now in this build, let me know how it goes:

https://www.dropbox.com/s/h7ubn3os6k21g5z/Trailer-ti

[2016-11-29 10:52] ptsochantaris commented on #299
Hi @akalman and sorry for taking so long to answer here. Trailer used to work this way very early on, where you could add and remove repositories ad-hoc instead of using the server watchlist. To make things simpler and more straightforward, it was simplified to simply following the watchlist 1:1.

However, as times goes on, and especially as GitHub adds more notification-oriented/side-effect funct

[2016-11-29 10:55] ptsochantaris commented on #296
Sorry for not responding for a while. Yes, it's quite complicated to modify Trailer to have a more abstract API layer for syncing items. Maybe further down the line? Will be keeping an eye on GitLab :) 👍

I'll close this issue for now, but if you have further thoughts and/or suggestions on any of this, please feel free to open new issues!

[2016-11-29 10:55] #296 closed

[2016-11-29 10:56] #264 closed

[2016-11-30 16:36] akalman commented on #299
The behavior I really want is just the third bullet. being able to add repositories from outside the watchlist.  The ability to modify behavior when the watchlist is mutated would be great but I don't think it's really currently needed. I can see complications with a system like that as well.

Obviously if you want to go ahead and implement those features I won't complain but waiting until people

[2016-11-30 17:49] ptsochantaris commented on #299
Thanks for the feedback @akalman - and yes, I agree with most of what you say. However, there are some reasons why I'm suggesting this "package" of changes, and I feel describing them in more detail may address some of your concerns.

- First is because the proposed option mentally divorces the 1:1 mapping of watchlist-Trailer repos, then the perceptual model changes for the user. The "Watchlist"

[2016-11-30 18:00] akalman commented on #299
Yeah that makes sense.  It sounds like the set of features isn't as big of a cost over just the add as I thought.  And like I said before, the feature set you listed definitely meets my needs, it was just maybe more than necessary.  You've brought up some good points why it isn't more than necessary.

The complications that immediately came to mind revolved around api usage (querying to get watchl

[2016-11-30 23:03] mmcdaris commented on #300
Hey @ptsochantaris. No worries, thanks for the fix:

<img width="285" alt="screen shot 2016-11-30 at 15 01 15" src="https://cloud.githubusercontent.com/assets/940237/20775050/ecab5a1a-b70d-11e6-9e51-f87fa75e78ed.png">

I'll watch out for the update.
Thanks for making Trailer 👍, digging it!

[2016-12-01 11:12] ptsochantaris commented on #293
Hi, so, here's a build of 1.5.2 that should do what you need :) I'll be testing it a bit and if it's good I'll release it soon. You can activate the feature by selecting the new option "Hide item count in menubar items" from the "Display" section in preferences.

https://www.dropbox.com/s/9t38uu72tkri6ld/Trailer-152-rc1.zip?dl=0

Let me know what you think and if you have any suggestions or tweaks

[2016-12-01 20:06] ptsochantaris commented on #301
Hi @sarchila - just wanted to update you on the investigation. It seems the URL cache in your local Trailer's DB had somehow became corrupt - *or* the cache managed to get itself into a state where reloading a cache entry caused an explosion (namely, some data was null that shouldn't have been). Resetting your DB cleared the cache and hence the problem went away.

I'm going to add some checks to t

[2016-12-05 18:24] ptsochantaris commented on #301
Hi, just wanted to let you know 1.5.2 is up and has a few improvements to the caching logic, which should, fingers crossed, reduce the probability of this occurring again the future. Will close this issue for now but if you do spot this again or anything else in the future, feel free to open a new issue. Thanks again for reporting this!

[2016-12-05 18:24] #301 closed

[2016-12-05 18:27] ptsochantaris commented on #300
I'm really glad to hear that, I have fun and learn a lot while making it, so it's a win win for everyone I guess :) The 1.5.2 final is up in case you haven't seen it, feel free to update to it (auto-update should do the job from the current build) whenever you like.

Will close this for now. Thanks again for spotting and reporting this, and feel free to keep opening issues and reporting any proble

[2016-12-05 18:27] #300 closed

[2016-12-06 22:23] yomexzo opened #302 "GitHub unauthenticated requests rate LIMIT issues"
AFAIK, Trailer currently uses github personal access tokens to make requests (unauthenticated) which has a rate limit of 60 requests per hour.

On the other hand, authenticated requests (OAuth) has a limit of 5,000 requests per hour.

[See details here](https://developer.github.com/v3/#rate-limiting)

It would be great if OAuth can be implemented so that rate limit approaching notifications are ce

[2016-12-06 22:39] ptsochantaris commented on #302
Hi @yomexzo,

Currently Trailer adds your personal access token to the auth header for making authenticated requests. This has the same limit as the OAuth authentication scheme (5000 requests per hour). In the link you provide, it's referred to as the "Basic Authentication" option. Trailer uses this because it's super-simple to both set up and implement.

Trailer syncs data incrementally, and addi

[2016-12-07 16:12] yomexzo commented on #302
Hi @ptsochantaris,

Thanks for getting back.

I just confirmed Trailer [uses basic authentication](https://github.com/ptsochantaris/trailer/blob/master/Shared/API.swift#L1371).

My refreshing settings has "Refresh items every 80 seconds" and "Refresh repos & teams every 2 hours". Does it mean `request rate` = `number of items per 80 seconds` + `number of repos per 2 hours`  + `number of teams per

[2016-12-07 16:41] ptsochantaris commented on #302
Close - the repo and team requests are negligible, they are a couple of requests to update lists, so I wouldn't factor them in TBH.

The number of API calls made isn't as simple as an equation, as a lot of factors come into play, including options, and whether items have been updated on the server (warranting more calls to updated them) etc. However, in general, things that will load up your API u

[2016-12-07 17:36] yomexzo commented on #302
Okay @ptsochantaris.

Thanks.

I will close this issue and re-open if anything else comes up.

Cheers!

[2016-12-07 17:36] #302 closed

[2016-12-07 21:02] ptsochantaris commented on #293
Hi, build 1.5.2 is live and includes this feature, so I'm going to close this issue for now. Please feel free to open new issues if you have any further suggestions on improving or tweaking this feature.

[2016-12-07 21:02] #293 closed

[2016-12-08 07:20] rossgardt commented on #293
Great <3 thanks!

[2016-12-12 12:31] carlos-alberto opened #303 "Extremely high memory usage"
_Version 1.5.1_

Since installing trailer recently it has been using an excessive amount of memory

![image](https://cloud.githubusercontent.com/assets/1853495/21099506/81a607e4-c066-11e6-8446-55c70f376ef9.png)

*Process Sample*

[code]

This seems like it could be potentially be related to https://github.com/ptsochantaris/trailer/issues/175?

[2016-12-12 13:04] ptsochantaris commented on #303
Wow that's a lot of memory! On my system I'm seeing about 180 *Mb* of use with a lot of things synced - this is definitely out of the ordinary.

Some question to help localise this:
- Does the memory use go down if you restart Trailer?
- How many items, roughly, are visible in your various menus?
- Can you try upgrading to 1.5.2 and seeing if it helps at all?

[2016-12-12 14:46] carlos-alberto commented on #303
**Does the memory use go down if you restart Trailer?**

Yes, this is what I've taken to doing every few hours.

**How many items, roughly, are visible in your various menus?**

Issues ~40, PR's ~10

**Can you try upgrading to 1.5.2 and seeing if it helps at all?**

I'll give this a go now

[2016-12-12 15:00] ptsochantaris commented on #303
Yikes, ok, so you should not be seeing such memory use, something is definitely very wrong there. I have far more items than that and only seeing about 0.1 Gigs used up :) So clearly we're looking at some sort of memory leak.

I see you are using El Capitan, I'll try running Trailer a bit on it in a VM in case there is some memory leak issue there. Let me know how things go with 1.5.2, although I'

[2016-12-12 15:11] ptsochantaris commented on #303
Another thing that just occured to me, can you check the size of the files in `~/Library/Application Support/com.housetrip.Trailer`? They should be quite small, just over a meg. If they're huge then there may be something going on with the DB there, and you may need to export your settings, reset Trailer (remove these files) and start it again by importing your settings.

[2016-12-12 15:19] carlos-alberto commented on #303
[code]

[2016-12-12 15:19] carlos-alberto commented on #303
Since upgrading the memory usage has been okay, however it usually takes a few hours to go insane so I'll report back later.

[2016-12-12 15:29] ptsochantaris commented on #303
Your DB size would tend to imply there is a lot of stuff that may be "crufty" in there (my one is about 1.8 Megs for about 300 items in total, syncing statuses and labels too) so I wouldn't rule out a DB "glitch" causing your memory usage, but I could be wrong. Perhaps something to try out if 1.5.2 "balloons up" again.

[2016-12-13 12:46] carlos-alberto commented on #303
Okay so leaving it overnight it's gone up to ~1gb again

![image](https://cloud.githubusercontent.com/assets/1853495/21140854/02e804f8-c132-11e6-96e8-cdad66795960.png)

I'll try removing the database and importing/exporting now.

[2016-12-13 12:49] ptsochantaris commented on #303
Looks like there is a big memory leak that's only happening in your case (possibly a rare code path, although I still won't rule out the DB being corrupt in this case leading to some reference loop)

As always, be sure to back up your DB just in case, and export your settings before nuking it so you can re-import them quickly afterwards.

[2016-12-14 15:00] brianmuse opened #304 "Dropdown UI freezes for long period of time"
Frequently when hitting the dropdown UI it appears to be doing something that causes the UI to freeze for a while. When hovering over list items, they do not highlight. When clicking on them nothing happens. Once whatever it is doing under the hood finally finishes, all the clicks "catch up". For example if I clicked a PR 5 times trying to get it to open during this period, it will then instantly

[2016-12-14 15:27] ptsochantaris commented on #304
Hi, thanks for reporting this @brianmuse. To answer your question first, no, 90 items should by no means slow down Trailer this much, not even close. It should be very smooth to scroll and select stuff. Can you check the activity monitor while you see Trailer in this state and see what it's CPU use is? Perhaps something else may be causing your UI to stutter for some reason.

In general, you may s

[2016-12-14 21:15] brianmuse commented on #304
When syncing and opening/closing the dropdown, it is latent but not _too_ bad.

A random time I observed this I grabbed the CPU and noticed it was pretty high:

![screen shot 2016-12-14 at 3 53 06 pm](https://cloud.githubusercontent.com/assets/548885/21201234/29f559d8-c218-11e6-9dd4-b7a8ee438036.png)

I'd be surprised. When this freeze occurs all other applications/windows function fine.

[2016-12-15 09:23] ptsochantaris commented on #304
Did the CPU usage last permanently, as was it during a sync?

[2016-12-15 16:52] brianmuse commented on #304
OK so watched this for a couple sync iterations.

- CPU is low in a resting state
- When i see CPU spike I open up the dropdown, it's pretty much frozen
- I see it says "Refreshed - Just updated"
- CPU is high for the next ~30 seconds (~60%)

So it seems like as soon as it drops the "just updated" note, therein after something expensive happens that takes about 30 seconds and causes these freezes.

[2016-12-15 17:58] ptsochantaris commented on #304
Ah, this is very useful feedback, thanks for taking the time to write it up. Ok, so what's happening here is that your items are all being post-processed after a sync. This includes both PRs and Issues, basically Trailer just refreshes its state from scratch. This, depending on hardware could end up causing a noticeable pause (if I'm not being nosy, what's your system spec, although 30 seconds is

[2016-12-15 18:06] brianmuse commented on #304
Sure thing. Where do logs end up?

[2016-12-15 18:27] ptsochantaris commented on #304
Take a look at the Console.app, enter Trailer on the search box on the top-right to filter only Trailer's messages. Then you can turn on logging in Trailer's preferences and try a manual refresh. Let's see what the log has to say.

[2016-12-15 18:47] brianmuse commented on #304
Below is a full loop of a refresh.

Interesting thing to note... the final time here is `13:35:06`, however after this log message the CPU remained high for ~20-25 seconds. This actual refresh took ~10 seconds. So something is happening afterwards that is generating no logs.

[code]

[2016-12-15 19:17] ptsochantaris commented on #304
Great, this is definitely good info for me to be armed as I go down for a trip the engine room. I'm going to take a look at what I can see, or perhaps create a build with more logging so we can see what it is that's taking up so much CPU on your system 👍  Stay tuned :)

[2016-12-17 11:54] ptsochantaris commented on #304
Hi, so, I've been taking a look at the log and matching the output to the app's internals - but I must admit that I'm still stuck at this stage. For one, the app's sync and post-processing seems to be fine, i.e. the sync completes at roughly the expected time (a short pause for a second or so to post-process everything after a sync, but after that everything completes, and there's nothing extraord

[2016-12-19 15:17] brianmuse commented on #304
Hiding the avatars doesn't seem to make a difference. Tried restarting the app as well. Given the continued spiked CPU seems to occur after the final log message, perhaps there is more logging that may be added to help understand what's still going on?

[2016-12-21 16:42] carlos-alberto commented on #303
So I tried that whole import/export and dumping the db, then forgot about this for a week (Apologies).

However the issue is still happening

![image](https://cloud.githubusercontent.com/assets/1853495/21397609/67a35120-c79c-11e6-8442-462c89908363.png)

[2016-12-29 18:23] ptsochantaris commented on #269
Hi, I just remembered I haven't closed this issue yet, as it ought to be resolved for a while now :) As always, feel free to open new issues in case you spot any problem or have any suggestions.

[2016-12-29 18:23] #269 closed

[2016-12-30 12:40] ptsochantaris commented on #303
Hi, just thought I'd let you know I'm still looking into this.

So far it seems as if there is *some* sort of leaking occurring in the avatar image handling, although I haven't found out if it's the images themselves or how they are handled that's causing a buildup.

In my system this memory load doesn't seem as huge as the one you show above, but then again with heavy usage over a week, it's not

[2016-12-30 15:29] ptsochantaris commented on #303
Hi, so, it seems there is a leak in the MD5 code that's used to calculate image cache file names. It's definitely significant, but I'm not sure if would account for the *astoundingly huge* amount of RAM usage you're seeing there.

Having said that, if you're a very heavy user and you have a lot of items in your lists, it's possible.  I've plugged the leak (plus another small one) for 1.5.3 which I

[2017-01-18 14:59] pklingem commented on #299
do I understand this discussion correctly that this enhancement would allow me to be notified when I am mentioned in a PR/issue on a repo that I am not watching?  If so I am excited about this possibility, it is the only remaining item for me to completely ignore github emails and rely on Trailer.  Trailer is truly a model of success for open source software, thank you so much for your contributio

[2017-01-18 15:32] ptsochantaris commented on #299
Hi @pklingem, yes, or at least the idea is to be able to supplement your watchlist in Trailer rather than have to specifically watch the repo in Github. Of course, this would mean that you have permission to view the Repo in the first place, but I think that goes without saying anyway.

This feature is already overdue if I were to go by my own estimate of when I would have started work on it, but

[2017-01-19 15:45] NeckBeardPrince opened #305 "Is this project still active?"

[2017-01-19 15:47] ptsochantaris commented on #305
Very much so.

[2017-01-19 15:50] NeckBeardPrince commented on #305
Well clearly so, took 3min for you to respond 👍
Glad to hear it.

[2017-01-19 15:53] ptsochantaris commented on #305
That's because I use Trailer :-P
👍

[2017-01-19 15:54] NeckBeardPrince commented on #305
Still active! 😄

[2017-01-19 15:54] #305 closed

[2017-01-21 00:12] ptsochantaris commented on #303
Hi, was just wondering if you got a chance to look at the memory usage at all these past couple of weeks. Did you see any encouraging improvement at all? 🤞

[2017-01-21 01:06] ptsochantaris commented on #299
Hi! So, this is a build containing this feature. The "watchlist" section is now called "repositories" and contains an "advanced" button on the bottom-right. From there you can access the options mentioned above, as well as add or remove custom repositories which will not be affected by the watchlist, as long as you have access to them. Have a go and let me know your thoughts.

Feedback is very wel

[2017-01-21 13:54] carlos-alberto commented on #303
Hey, sorry was meaning to get back to you. I have not seen any improvement, I tried uninstalling and reinstalling again, but still no improvement.

[2017-01-21 15:11] ptsochantaris commented on #303
No worries, thanks for the update!

Sorry top hear that the issue is still ongoing. I thought that the changes made probably wouldn't help you that much since they corrected far smaller leaks than the one you're seeing there.

Clearly there is some sort of memory reference cycle in the code that's occurring specifically with the data you have. I'll stay on the lookout for it. Knowing that it's sti

[2017-01-21 15:16] ptsochantaris commented on #304
Hi, just a ping to let you know that this issue is still on my radar. I'm sorry I don't have any helpful news yet.

To answer your previous question: Logging here won't help much because the app doesn't perform any operation after sync is done. Basically when you see the "sync completed" message there are no other threads running after that, the app is idle. Or to put it another way: If some other

[2017-01-21 21:28] dangitall commented on #303
FYI, I'm seeing a lot of memory usage from Trailer too. It doesn't seem to grow as quickly as for @carlos-alberto, I've been restarting once in a while to deal with it. Currently it is using just over 2GB according to Activity Monitor. I have zero visible and 16 hidden/snoozed items. `~/Library/Application Support/com.housetrip.Trailer/` has about 11MB of data in it. I'm running Trailer 1.5.3 on E

[2017-01-21 21:33] ptsochantaris commented on #303
Thanks for the extra info @dangitall - it's very weird because my Trailer regularly has 200-300 items in it. I rarely restart, and my memory usage is about 0.1-0.2 Gigs. Which means that I am not using whatever feature is leaking so badly for you. This is definitely not the way Trailer should be behaving and I'm going to be keeping an eye out for what could be causing this.

[2017-01-26 16:50] brianmuse commented on #304
Thanks for the update 👍 . Probably not news to you, but still experiencing this.

[2017-01-28 15:07] ptsochantaris commented on #234
Hi, I just wanted to drop you a line to see how this issue has been going for you? If it's still there give the latest (1.5.4) a shot - it has some improvements to Repo watching and some new options which you may find useful. If you get a chance give me a shout about it.

[2017-01-28 15:08] ptsochantaris commented on #276
Hi, going to close this issue for now but will keep colouring/font size for non-retina in mind during the next UI refresh 👍

[2017-01-28 15:08] #276 closed

[2017-01-28 15:09] #227 closed

[2017-01-28 16:35] ptsochantaris commented on #299
Version 1.5.4 which is currently up should contain this feature now. I'm closing this issue but please feel free to open new ones with more feature requests, tweaks, etc.

[2017-01-28 16:35] #299 closed

[2017-01-28 16:40] #273 closed

[2017-01-29 17:01] ptsochantaris commented on #270
Hi, here's s a build which features this. You can activate it by selecting "Highlight PRs that have new commits" in the Comments section of preferences. Have a go and let me know how you get on with it.

https://www.dropbox.com/s/grtullrbctjk2xh/trailer155-rc.zip?dl=0

[2017-01-29 17:12] bkuhlmann commented on #234
Thanks, I'm on 1.5.4 and things seem stable now. I haven't had any issues for several months so I *think* things are OK. It's been a difficult issue to track down so haven't had much feedback on this, I'm afraid. I'd say it's OK to close this issue as I haven't been able to sufficiently prove otherwise.

[2017-01-29 22:12] ptsochantaris commented on #234
Hi and thanks for the update 👍 Let's hope the issue was fixed somewhere in the code cleanup that's been ongoing for the past few versions, although if you do end up seeing any issue please DO open up a new issue and we can keep investigating.

[2017-01-29 22:12] #234 closed

[2017-01-30 10:37] aik099 commented on #270
I can confirm, that it works. For PR where only new commits are added the "!" (exclamation mark) is shown in red bubble where "new comment count" is usually shown.

Not sure if PR having both new comments and new commits would show "!" or new comment count.

[2017-01-30 10:59] ptsochantaris commented on #270
Good to hear!

When there are new comments, the numbering takes precedence over the exclamation mark.

Let me know if you run into any issues. I'm currently polishing up some code and keeping an eye out for any stability or logic regressions (the change required some deep plumbing tweaks) If all is well then I'll put up an update later this week.

[2017-01-30 15:11] obmarg opened #307 "PRs & Issues from "Custom Repositories" are not displayed"
I've updated to the latest version of Trailer, and am trying to make use of the new "Custom Repositories" feature.  I have three custom repositories in my list, however no items from those repositories are actually appearing in Trailer.

[2017-01-30 15:30] ptsochantaris commented on #307
Hi @obmarg - have you checked the visibility settings for the newly added repos? Have a look just in case they're hidden by default in your main repository list. After checking that, just in case, try a manual refresh.

Also, are these public repos by any chance? I could try and replicate the issue if so.

[2017-01-30 15:35] obmarg commented on #307
You're right, they were set to "Hide" in my repositories list.  Updated that and they're appearing now.  Seems a bit strange that they defaulted to be hidden, but my bad for not checking.

[2017-01-30 15:41] ptsochantaris commented on #307
Hm, there is a bug there indeed!

All custom repos should ordinarily take the permissions from the "for new repositories" setting, under the main repositories list. However it seems they're not, they're always added as hidden. I'll fix this asap, thanks for spotting it.

If it's OK with you I'd like to keep this issue open for a bit until I push out the next point release in a few days, just in ca

[2017-01-31 00:47] ptsochantaris commented on #303
Hi - I've been polishing some code for the next upcoming update and have corrected a few more things which could _in theory_ lead to memory leaking. Like the previous update, I don't think they come even close to the amount of memory bloat you're seeing, but in case you feel like giving it a shot, here's the link to he most recent RC build:

https://www.dropbox.com/s/grtullrbctjk2xh/trailer155-rc.

[2017-01-31 00:53] dangitall commented on #303
Thanks @ptsochantaris. I installed the RC and will keep an eye on the memory usage.

[2017-02-02 15:56] ptsochantaris commented on #270
v1.5.5 is up now and includes the feature. I'm going to close this issue for now, but as always feel free to open more issues with suggestions/problems you may encounter.

[2017-02-02 15:56] #270 closed

[2017-02-02 15:57] ptsochantaris commented on #307
v1.5.5 is up now and includes this fix. I'm going to close this issue for now, but feel free to open more issues with suggestions/problems you may encounter!

[2017-02-02 15:57] #307 closed

[2017-02-02 18:57] aik099 commented on #270
After performing an upgrade from the version you've posted on dropbox some random 9 PRs (out of 68) now display as having new commits (the `!` mark). Example PR: https://github.com/squizlabs/PHP_CodeSniffer/pull/1201

Not sure what caused this, but I probably can mark them as read.

[2017-02-02 19:16] byyo opened #308 "Show PRs I've been requested to review"
With the new Review feature for GitHub PRs, I've noticed that if somebody requests my review (as opposed to putting me in the Assigned To field or just tagging me in a comment) Trailer.app doesn't show that PR in the dropdown list. It would be really helpful if 'requested review' showed up in the 'Mentioned' section.

I'm using Trailer 1.5.4

Thanks!

[2017-02-05 20:21] ptsochantaris commented on #308
Hi @byyo - Thanks for reporting this. This is a known limitation of the GitHub API at this time, it seems to exclude these comments from the comment API stream and doesn't currently provide production API in order to track these review requests. For more information, you may want to track this issue: https://github.com/ptsochantaris/trailer/issues/295

I agree that this is an important missing fea

[2017-02-05 20:45] ptsochantaris commented on #308
Actually, come to think of it, this isn't a duplicate, since the functionality you mention isn't the same at that other issue (even though the answer still stands for now, unfortunately). Let's keep this issue open so once the API is available, I can add this in.

[2017-02-07 22:55] dangitall commented on #303
FYI, I'm still seeing this on 1.5.5 (1406). Interestingly, while in this high memory usage state, I wasn't able to open the 'About' or 'Preferences' dialogs either, though I hadn't noticed any other performance or functionality issues with Trailer up until that point.

<img width="570" alt="screen shot 2017-02-07 at 2 51 15 pm" src="https://cloud.githubusercontent.com/assets/882363/22715364/5eafab

[2017-02-08 11:35] ptsochantaris commented on #303
Thanks for the update @dangitall - It obvious that what's breaking in your case is very obviously something major, not something small or hidden. It's interesting that you were not able to open the prefs or about, it would suggest that something broke in the app's event loop. I wonder if the memory leak is related to opening or closing any of these views... Do you often open/close Trailer's prefer

[2017-02-08 18:58] dangitall commented on #303
I almost never open the prefs dialog so it's not something I'd notice (though I'll pay more attention to this in the future).

I'd say my usage is relatively light, especially compared to how you've described yours. I mostly interact with private repos, probably on average I interact with two PRs per day. I do use the "snooze until manual wake" frequently. I follow a handful of public repos most o

[2017-02-08 19:01] ptsochantaris commented on #303
That's useful info @dangitall - thanks a lot. I'll try the "snooze until manual wake" usage pattern a bit, it's the one thing I don't use much, to see if it causes any memory cycles unintentionally perhaps. I've also made a couple of tweaks on a test build to try and break some potential Core Data memory cycles. I'll try updating you with a build once I'm sure I haven't broken anything :)

[2017-02-10 16:00] ptsochantaris commented on #303
Ok, it doesn't seem to break stuff on my end, so here is a test build for you to try out if you feel like it. It doesn't have any new features or database changes from 1.5.5 so you can swap them at any time if you find that this build causes you any problems.  Let me know if you see any improvement in the memory department.

https://www.dropbox.com/s/x7fjpqju8r02tiu/trailer-156-test.zip?dl=0

[2017-02-20 21:05] ptsochantaris commented on #303
Hi, was wondering if you've seen any change in the memory usage with the above build at all?

I know it's probably a bit frustrating doing this hit-and-miss thing, but without being able to reproduce this (or, understandably, unable to get a snapshot of your DB), I'm not sure if there's any other avenue than to keep guessing and trying :)

[2017-02-20 21:08] dangitall commented on #303
I'm sorry, I didn't see that post until now. I just installed it and will update with what I see in a few days.

[2017-02-21 09:36] ptsochantaris commented on #303
No worries, take your time. It's a shot in the dark anyway, so it may not have any effect either, but we'll keep trying :)

[2017-02-21 17:18] akalman commented on #295
looks like this is available now?  review requests as well.

https://developer.github.com/v3/pulls/reviews/

[2017-02-21 17:57] ptsochantaris commented on #295
Hi @akalman Indeed, it's been available for preview for a while, but the only thing that would do is help me start implementing something early on - the actual clients can't access this API because it's in flux and hence the API (and the client) could break without warning. This API has been in preview for a long while, hopefully it should settle down sooner rather than later.

[2017-02-21 23:03] dangitall commented on #303
After running for 24 hours my memory usage went up to 730MB so I think the issue is still there. I have a new instance running attached to Xcode now. If there is any useful information I can pull from that for you (with the caveat that I don't have a signed development cert), let me know.

[2017-02-22 07:50] ptsochantaris commented on #303
Yes, definitely doesn't look good, but thanks for trying it out. Good to hear that you are running a debug build on Xcode - just remember not to run two instances (Xcode's debug and the distributed build) at the same time or your DB will get thrashed.

After you run it for a while and see the larger memory footprint, you may want to use the memory graph viewer to spot retain cycles - this will be

[2017-02-22 07:54] ptsochantaris commented on #303
(An additional note - if you're going to run it under Xcode, you probably don't want to attach the release/stripped build I have provided - instead just check out the master branch from this repo, open the Xcode project, select "Trailer" as the scheme (should be the default) and hit "run" there. The code should currently be identical to the build you're holding, but this way you get lot of useful

[2017-02-22 08:01] dangitall commented on #303
Ok, well, having just attached to the release build you linked above, after about 6 hours (memory usage was only up to about 70MB) this is what the memory debugger flagged:

<img width="261" alt="screen shot 2017-02-21 at 6 53 05 pm" src="https://cloud.githubusercontent.com/assets/882363/23202220/e65b45a6-f891-11e6-852a-de08c1a5cdc2.png">

Trying to get any more info out of Xcode just causes it to

[2017-02-22 08:05] ptsochantaris commented on #303
The large number of UserNotificationAction instances is very interesting indeed. Will look into that. Thanks for checking this out! Hopefully the debug build will provide more info on each of those will less beachballing. It will be very useful to see the stack traces of those. I'll also try to reproduce this locally (if it's a case of just leaking less, then I should at least be able to trace the

[2017-02-23 15:37] aik099 opened #309 "Dashed line under scrollbar"
Not sure if this is supposed to work like this, but when I scroll issue/pr list I see dashed line as background to the scrollbar:

![2017-02-23_1709](https://cloud.githubusercontent.com/assets/1277526/23265836/a4767490-f9ee-11e6-82ec-402ae9a4bf7b.png)

Actually each dash represents a separator between issue and next issue.

I don't see same dashed line in other windows that have scrollbar in them.

[2017-02-24 00:14] dangitall commented on #303
So I don't know if this is useful, but all of the instances of UserNotificationsAction leaks that I spot checked are just in NSArrays:

[code]

I don't know how to get a stack trace out of this.

If I run in Instruments, I can pretty easily see a memory leak warning every time Trailer refreshes. You don't see this?

[2017-02-24 07:07] ptsochantaris commented on #303
So, first things last, no - this does not occur on my system at all - so there is something about the object graph that's being created (due to some combination of options?) on your system that prevents these objects from being deallocated.

About the contents of the notification leaks, this is the conclusion I reached as well when looking through the code. The only notification objects that are c

[2017-02-24 15:45] joaquinrulin opened #310 "Repos list is empty"
Hey! I just installed Trailer (v 1.5.5 1406) on OS X 10.11.6 and i got zero repositories on the list. The github token test was ok but no repositories were fetched.

Am i doing something wrong or is some kind of trailer/osx version bug?

[2017-02-24 15:49] ptsochantaris commented on #310
Hi @joaquinrulin - no, there shouldn't be any issue with your OS X version, and 1.5.5 is the latest released version so that should be fine too. Are you sure you're using the token from the correct account (i.e. one with a list of repos on its watchlist?)

[2017-02-24 16:06] joaquinrulin commented on #310
Sorry i was my problem! I thought the app would show you all your repos and you have to watch them right through the app not via github.

Thanks for the really quick answer

[2017-02-24 16:07] #310 closed

[2017-02-24 16:08] ptsochantaris commented on #310
No worries, glad it worked out! Let me know if you run into any issues.

[2017-02-24 18:45] dangitall commented on #303
I apologize for my ignorance in helping to debug this—I literally never use Xcode—so please let me know if there is some different or better information I can be providing. But...

The reason I tried Instruments was I thought the memory graph wasn't providing much info. But maybe Im doing something wrong. There are three trees of leaks with many (thousands) instances reported. When I expand the `_

[2017-02-24 19:12] ptsochantaris commented on #303
There's definitely no need to apologise, in fact quite the opposite, not only are you helping a lot in tracking a critical issue, but I ought to be the one apologising for not being able to locate it yet. All the information you're providing is helping more and more in tracking down the issue.

There is some more info which you can help track down.

First, you should pull down the most recent mast

[2017-02-24 21:30] dangitall commented on #303
Ah, thanks for the hint! Here you go:

![screen shot 2017-02-24 at 1 28 10 pm](https://cloud.githubusercontent.com/assets/882363/23321714/71aedf00-fa95-11e6-8b66-5eb1f31bfdca.png)
![screen shot 2017-02-24 at 1 28 35 pm](https://cloud.githubusercontent.com/assets/882363/23321713/71ae85dc-fa95-11e6-9977-b66b566eb998.png)
![screen shot 2017-02-24 at 1 28 45 pm](https://cloud.githubusercontent.com/ass

[2017-02-28 08:24] ptsochantaris commented on #303
Hi @dangitall and thanks for the update. I'm sorry I took a while to answer but I had some (thankfully very minor) medical adventures to deal with these past few days.

So, the thing that perplexes me greatly, is that nothing in the above stack traces comes from Trailer. That is, there is no component here that is being leaked that, according to the stack trace, has been instantiated in Trailer.

[2017-02-28 08:28] ptsochantaris commented on #309
Hi, yes this is a minor display glitch that's needed to be fixed for a while. Thanks for the nudge!

The dashes you are seeing are basically the result of weird compositing artefacts from the translucency effects. For some reason the labels in the displayed cells cause the scrollbar to darken when it passes over them.

I'll take a look at this very soon 👍

[2017-02-28 17:30] dangitall commented on #303
I am running [Bartender](https://www.macbartender.com). It didn't occur to me that this could be a problem, but I quit Bartender app and restarted Trailer but still saw the issue.

I disabled notifications from SysPrefs and still saw the issue.

I'm sorry, but I can't find which option I would use from the Trailer prefs to disable notifications there.

I'll get in touch about more coordinated debu

[2017-02-28 17:35] ptsochantaris commented on #303
Ah, no I think Bartender wouldn't have any negative effect. It's a very high quality app and a lot of people use it. There have been some feature requests (and bug fixes) in Trailer specifically related to it, so I know from various people that it plays well with Trailer. That said, thank you for checking up on it anyway.

Yes, it sounds like only a live debug session may solve our woes here :) Lo

[2017-03-08 14:35] olets opened #311 "some watched private github repos don't show in repo list"
This may be a GitHub problem, not a Trailer problem: some of my watched private repos aren't adding to Trailer's repo list automatically.

I suspect GH might be to blame because these same repos don't show up when I search GH, even though they're owned by an org I'm part of and even though I'm working in the repo. I have a ticket in with GH about this. … But maybe that's just coincidence, maybe Tr

[2017-03-08 19:41] ptsochantaris commented on #311
Hi @olets and thanks for calling this in.

I may need a bit more info from you to see if this is a Trailer issue or something that may be breaking further upstream. The best way to get this info is to (temporarily) enable the option "Dump API Responses to the console" from the "Misc" section in Preferences. Then go to Preferences -> Repositories -> Advanced and select "Re-scan now". This will make

[2017-03-09 11:21] ptsochantaris commented on #303
Hi, this is just a note to help update others who may be having this issue.

First off, many thanks to @dangitall for taking the time and letting me blow things up on his computer for a while until we got to the bottom of the issue.

**The bad news** is that it turns out the issue itself is a macOS El Capitain problem. Specifically the call to list existing notifications from the notification cent

[2017-03-09 15:21] olets commented on #311
So actually now I'm getting some other more significant problem. After submitting this, I had the idea that maybe my access token didn't have enough permissions. I created a new access token, added that to Trailer, it tested fine, but didn't fix the problem. I deleted the old access token… and my watched repos disappeared from Trailer. 😮

Tried generating new tokens, editing the permissions of tok

[2017-03-10 08:31] ptsochantaris commented on #311
Hi @olets - interesting, so from what I understand you create new tokens and deleted the previous tokens. Did you replace your old token with the new in Trailer? After doing that, did you let Trailer do a sync? Your log doesn't seem to contain any API response info (which is OK, if you are now seeing everything properly, it's best to keep that logging off :))

When you say complete remove, did tha

[2017-03-10 18:21] olets commented on #311
Funny you mention that: logging actually _is_ off (and I've never turned it on). Was going to make a new ticket for that.

If you expected additional API info in there, maybe my Misc preferences are stuck on "YES log, NO dump"?

Yes, I replaced the tokens. I deleted:

- `~/Library/Application Support/com.housetrip.Trailer`
- `~/Library/Caches/com.housetrip.Trailer`
- `~/Library/Group Containers/gr

[2017-03-10 18:23] ptsochantaris commented on #311
I'm glad you find Trailer useful! Let's see if we can't solve the issues you're having.

The uninstall you did sounds pretty thorough :) 👍

If you turn on logging, you will get some good feedback on what's going on with the sync. What are you expecting to see after the sync and aren't seeing?

[2017-03-10 18:26] olets opened #312 ""misc" preferences seem to be stuck"
This came up in #311. Figured I'd make a separate ticket in case it's happening for anyone else:

My "Misc" preferences look like this

![trailer misc preferences](https://cloud.githubusercontent.com/assets/3282350/23807725/b53d73b2-0594-11e7-9ddc-b58bad7ea14a.png)

but they're acting like they're stuck at

    ☑️  log activity to the console
    ⬜️  dump api responses

- In the Console I'm seeing

[2017-03-10 18:27] ptsochantaris commented on #312
Ah, interesting. Thanks for creating a separate issue for this! I'll take a look at it ASAP.

[2017-03-10 18:33] olets commented on #312
Of course as soon as I wrote it up it turned out I'm wrong: turning on "log activity" does make a difference. This can probably be closed, sorry about that

[2017-03-10 18:36] ptsochantaris commented on #312
No problem at all! Better safe than sorry 👍

[2017-03-10 18:36] #312 closed

[2017-03-10 18:40] olets commented on #311
In short I'm not seeing any of the newly added issues or PRs, or repos I've been added to.

With logging on, a re-scan shows a lot of stuff that looks like ^ but then also

[code]

Note that while there may not have been any changes since Trailer's last check, there _are_  subscription changes that aren't reflected in Trailer's repo list, and the Issues list is out of date.

[2017-03-10 21:37] oligriffiths opened #313 "Avatars not loading"
![image](https://cloud.githubusercontent.com/assets/1246671/23814063/d33a8da8-05af-11e7-92f9-5440af0b2f81.png)

The spinner appears whilst it's trying to load, but then it doesn't load.

[2017-03-11 12:37] ptsochantaris commented on #308
Hi, just wanted to update you that there is ongoing work on this feature now. There are beta builds available here for anyone who feels adventurous: https://github.com/ptsochantaris/trailer/pull/314

<img width="487" alt="screen shot 2017-03-11 at 12 36 19" src="https://cloud.githubusercontent.com/assets/521581/23823290/608d7f2e-0657-11e7-9363-00d3bd667160.png">

[2017-03-11 12:37] ptsochantaris commented on #295
Hi, just wanted to update you that there is ongoing work on this feature now. There are beta builds available here for anyone who feels adventurous: #314

<img width="487" alt="screen shot 2017-03-11 at 12 36 19" src="https://cloud.githubusercontent.com/assets/521581/23823295/7d89fe72-0657-11e7-8462-36a6e5d65526.png">

[2017-03-11 12:50] ptsochantaris commented on #311
Hi @olets - the best way to verify that Trailer is hearing about these new repos are to enable API logging and see what's coming down from the subscription endpoint. Are those repos listed there, and is does your current user token have permission to access them?

[2017-03-11 13:00] ptsochantaris commented on #313
Hi @oligriffiths and thanks for calling this in - Things to check out:

- Just in case Trailer's caching went funny, can you try quitting Trailer, nuking `~/Library/Application Support/com.housetrip.Trailer`, and re-starting it? This will cause Trailer to re-fetch the images next time it runs.

- Are these avatars publicly accessible? It's a bit complex to track it down, but if you enable `Dump AP

[2017-03-11 16:37] olets commented on #311
In both of the above examples I've turned on API logging and run a "re-scan." Just tried again, and there was definitely no new Console activity associated with re-scanning

It isn't just new repos, it's also a question of updating the repos it grabbed. When I started fresh with this latest key, Trailer found all my watched repos as well as my assigned issues in some but not all of them… but it wa

[2017-03-11 17:05] oligriffiths commented on #313
Cool, I'll try that.

It's a GitHub enterprise api by the way, not sure if that makes a difference. Not sure if those avatars need authentication to fetch them. Will try turning on logging and see what it spits out.

[2017-03-11 17:11] ptsochantaris commented on #313
Ah - there may be a chance that the avatars may not be publicly accessible then... IIRC there was a similar issue (quite) a while ago with a user who couldn't see avatars on GE. I don't unfortunately have a local GE server to test things on, so tracking that was a bit hard :(

It _may_ be that avatars won't show on GE in general due to some weirdness in authentication that isn't congruent with how

[2017-03-11 20:28] ptsochantaris commented on #311
Hi @olets - from the looks of the log above, something is going wrong in your DB. Trailer is basically not syncing at all, as if the servers configured are not registered. After getting your user details it should have hit the two event endpoints to see what's new and sync it down. It's not doing any of that, so something has broken. The pattern suggests that it's not seeing the configured server

[2017-03-13 14:28] oligriffiths commented on #313
So, the URL that GHE uses for avatars (on the website) is `https://github.tumblr.net/avatars/u/[user-id]?s=[width]` and it requires authentication if i hit that in the browser. I assume because GHE is organization based and they're not public.

[2017-03-13 14:30] oligriffiths commented on #313
I'm also seeing a huge number of
[code]
in the console

[2017-03-13 16:01] ptsochantaris commented on #313
Ah, ok, so the image provider needs auth. You know, that's not an entirely bad thing - perhaps we can add authentication for fetching images in options - perhaps an advanced tab in the server config or so. Question is, do you know what kind of auth is required there? Basic HTTP auth with username and password perhaps? If you can point me to some docs, perhaps we can make this work - it's a shame t

[2017-03-13 16:08] oligriffiths commented on #313
So that browser URL will be using cookies, I'll see if I can find some docs for authenticating via the API, it probably needs to token to be passed in somehow.

[2017-03-14 00:53] oligriffiths commented on #313
So, the URL that's returned from the API is `https://github.[internal-host]/avatars/u/[user-id]` and this requires authentication, however I can't seem to find any documentation on this.

[2017-03-15 10:13] rossgardt opened #315 "Idea: Warn on outdated base branches"
**Description**
Everyone experienced it: Epic pull requests that cannot be merged without several user stories being finished. A reminder that my base branch is outdated would be super helpful.

**Proposal**
Introduce an indicator that shows on how much commits my working branch is behind the original base branch.
<img width="168" alt="screen shot 2017-03-15 at 11 06 36" src="https://cloud.githubu

[2017-03-16 14:18] mcgaffin commented on #308
You might have already found this API, but I was looking for this feature from the new Reviews API and couldn't find it. I emailed GitHub support about it. They suggested:

[2017-03-16 18:11] ptsochantaris commented on #308
Hi @mcgaffin and thanks for the API suggestion. I haven't considered the search API at all for querying certain types of items during a sync, so this is definitely useful knowledge for the future!

However, for review assignments specifically, this calling pattern would be extra work, as the betas in the linked PR above already query the `requested_reviewers` API endpoint for each PR. This lets Tr

[2017-03-16 18:29] ptsochantaris commented on #313
Cool - anything you can find out will certainly be useful, but there's no hurry. If there is ANY way we can create the needed cookie from our end, that would do :)

[2017-03-17 20:34] brianmuse commented on #304
any word on this? Still crippling

[2017-03-18 15:26] olets commented on #311
For whatever reason, it's been working. Maybe I just needed to restart :man_shrugging:

[2017-03-20 09:25] ptsochantaris commented on #304
@brianmuse which version of macOS are you running? Is it El Capitan by any chance? If so, can you disable the option *Prefs -> History -> When An Item Is Removed, Also Remove All Related Notifications*? We spotted a major OS bug when this option is active in El Capitan in another issue and I was wondering if it was by any chance related.

[2017-03-21 14:40] brianmuse commented on #304
Sierra 10.12.3

[2017-03-21 14:54] brianmuse commented on #304
A little bit more info on this. So I realized that if i scrolled about halfway down the list (which I never do) it has the recently merged section. This section had grown to ~170 PRs out of the total list of ~300. Clearing these out seems to have drastically improved performance.

Given this soundbite from earlier in the thread:

Perhaps the inefficiency lies in that list specifically and not with

[2017-03-21 15:36] ptsochantaris commented on #304
Hi @brianmuse - this is interesting info, as it seems to imply that it's the act of creating the menus after the refresh that takes a while. I have to admit the most I've used on a single menu is about 100 items - there are some tricks to help "spread" the info around and keep the menus shorter.

However, to answer your question first, you can control what happens to closed and merged items from t

[2017-03-24 10:35] Samemura opened #316 "How to use group function ?"
This app helps a lot me, thanks.
I got some repositories, so would display repositories by groups.

I changed preferences but then nothing showed.
Repositories: put group name to repository

Can someone help me, please ?

[2017-03-24 11:06] ptsochantaris commented on #316
Hi @Samemura - If you just add a group name to a repository (or more than one) then any items from them will show on their own menubar item, titled with that name group name. If those repos don't have items of course then there won't be a menu item for them until some items exist.

[2017-03-24 11:10] ptsochantaris commented on #315
Hi @rossgardt and thanks for the suggestion. Sorry for taking so long to respond.

I'm not sure if this information is available over the API -do you by any chance know where we could pick up this number?- but I like the idea, it's certainly simple enough to implement as an option if the info is there.

[2017-03-24 12:33] Samemura commented on #316
@ptsochantaris thanks for help !
Now I found new menu bar icon for the groups, thank you.

By the way, is group function only shown on different menu bar icon ?
Originally I guessed it will be grouped on same menu bar icon. It is easier to see for me.

[2017-03-24 12:48] ptsochantaris commented on #316
No problem, I know it's not the most self-explanatory feature :) - I'm glad it worked out for you!

Groups are currently only separated by menu-bar icons, yes, since groupings inside each menu are reserved for the relationship of each item (mine, participated, etc) and sub-grouping would probably not make this very readable, but I'm always open to suggestions.

[2017-03-24 13:03] Samemura commented on #316
@ptsochantaris  , thank you so much !

Yes, your understanding is just my thinking. (like 'Mine', 'Participated') And also I know your concern.
To me, relationship grouping may be less important than specified grouping. So how about switching either of those by preferences?
E.g. Set specified grouping by preferences.
Items will be separated by specified groups. To recognize relation (mine, partici

[2017-03-27 15:19] rsaunders100 opened #317 "Display number of lines of code added"
![screen shot 2017-03-27 at 16 16 48](https://cloud.githubusercontent.com/assets/555546/24363888/0eaf3bd4-1309-11e7-9f26-5c4a70f5ef33.png)

Will be useful to see at a glance roughly how big the pull request is so I can decide if I have time to review it quickly now or if I have to reserve some time later.

[2017-03-27 15:24] ptsochantaris commented on #317
This definitely makes sense. I'm not entirely sure if the API provides the info we may be looking for here, although I think there is a high probability that it does, and it's definitely worth investigating. Stay tuned :)

[2017-03-28 14:07] ptsochantaris commented on #317
Note to self: It feels like an option to sort PRs by number of lines changed would also be a good accompanying tweak to this feature. Only catch is that it applies only to PRs so it would need to be part of the option group to enable displaying this info, and not part from the main sorting menu.

[2017-03-28 21:10] dangitall opened #318 "Snoozed items unsnooze occasionally"
I'm currently using v1.5.5 (1406).

I keep a lot of items snoozed 'Until manual wake'. Every once in a while (I'm guessing on the order of every 2 months) many of my snoozed items wake up with no input from me. In this most recent incident, I had 11 issues and 48 PRs snoozed and 10 and 46 respectively of them woke up. Oddly, it was only Trailer issues and PRs that remained snoozed.

I don't think

[2017-03-29 02:32] dangitall commented on #318
To my surprise, it just happened again. And the same Trailer issues/PRs remained snoozed.

[2017-03-29 10:10] ptsochantaris commented on #318
Hi @dangitall - thanks for calling this in. Will look into this asap.

I realise that you have set the item to snooze "no matter what" (i.e. the checkboxes for that setting in "wake up immediately on..." are all off) but, on the premise that Trailer is somehow ignoring that, do you think there were events in the items themselves, like comments, updates, etc. which would have woken the item up had

[2017-03-29 20:23] akalman opened #319 "no permanent link for latest version of trailer"
so we use boxen to manage our dev environments, and a while back I wrote [a puppet module for trailer](https://github.com/akalman/puppet-trailer).  Its very basic and was just there to get it in boxen.

I'm trying to circle back and add some usability updates to it, and one of the main issues is that I'd like to be able to specify the "latest" version by default.  Unfortunately I haven't been able

[2017-03-29 20:57] dangitall commented on #318
It seems unlikely since these are are across 5 or 6 different projects in a mix of public and private organizations.

[2017-03-31 10:10] ptsochantaris commented on #319
Hi @akalman - Unfortunately there isn't one right now. I'd love to set up a symbolic link for you to use, but unfortunately the files are being hosted on GH pages, so they get committed by git, and not (S)FTP.  The paths for these releases (linked to from the "official" Trailer page, are http://ptsochantaris.github.io/trailer/trailerXXX.zip, e.g. latest is http://ptsochantaris.github.io/trailer/tr

[2017-04-04 13:55] rossgardt commented on #315
[It seems](http://stackoverflow.com/a/2970101/90432) that one needs to execute git commands locally. Not sure if the effort is worth it?

I am not sure if this is easy to implement into the existing application? There will probably be the need to [make use of the git library](https://github.com/SwiftGit2/SwiftGit2).

[2017-04-04 15:03] ptsochantaris commented on #315
To be totally frank I'd be quite reserved about running local system commands or getting involved with git authentication, etc.

Trailer right now depends solely on the GitHub API to get its info, and that in itself is quite a bit of work to maintain and expand over time, as well as having configurations options for it, etc. I'm worried that if I introduced a second source of configuration, calls,

[2017-04-05 07:49] rossgardt commented on #315
That's totally fine. It was just an idea 😉  Maybe there will be such information available through the REST API in the future.

Regard this idea as archived so far 🙂  Thanks you for your time!

[2017-04-05 07:49] #315 closed

[2017-04-05 09:00] ptsochantaris commented on #315
No worries, it's great to get suggestions, always - and the feature you're suggesting _would_ be useful. It's just the availability of data over the API that's the issue. If you do spot anything API-related which can lead to this being implemented or have any more thoughts on this, feel free to re-open!

[2017-04-05 12:36] rossgardt commented on #315
I will keep it in my mind!

[2017-04-11 22:32] akalman commented on #319
hey so I've finally circled back around to this.

Shame that github pages doesn't support this directly, it seems like something that would be largely used.  In either case the xml file does hit my needs (way better than parsing github.com that's for sure).

I went ahead and wrote the logic against the appcast.xml and it seems to work.  the code that looks up the version looks like this `xmldoc.xp

[2017-04-12 08:46] ptsochantaris commented on #319
Hi @akalman - Nice! I'm glad you were able to parse that file and get that working. Sorry I couldn't provide an easier way - GH pages are a bit limited that way.

About your questions:
1. Yes, there is no scenario in which I can imagine that URL changing, unless the project moved or something drastic like that happened, but even then I bet I'd still have to keep the XML file in this legacy spot fo

[2017-04-12 20:17] akalman commented on #319
If there are two versions of the same release number, would they both appear in the appcast?  If not then I think I'm fine.  If there are two then I'd still be fine if the newer version was first.  Otherwise i'll need to make the build number parsing a bit more complex.

I am now using the build number for checking if the installed version matches the desired version, but I'll be using the short v

[2017-04-13 06:28] ptsochantaris commented on #319
Usually (actually, I think always) hot fixes just replace existing entries, i.e. there is only one entry for 1.5.5 even if there was a new release that incremented its build number for some reason. And yes, the latest version is always at the top - entries are sorted reverse-chronologically, so you should be fine.

Feel free to use either field for displays, both will always be there 👍 Sparkle for

[2017-04-13 19:35] dangitall commented on #318
I really don't know what happened here. I saw this behavior three times in two days and nothing since.

[2017-04-13 19:41] ptsochantaris commented on #318
Well, that's good news at least. I'm not sure what was happening there, unless the wakeup dates that were recorded for those entries were wrong somehow, perhaps some bug with the version you had used to snooze them originally (it wouldn't shock me, there were a couple of rough edges with the snooze feature initially)

However, I'm still planning on investigating this a bit further to see what coul

[2017-05-03 16:26] tomsturge opened #320 "Position of trailer when menubar is set to autohide"
There is an issue with the position of the trailer menu when the menubar autohides.

This can be solved by moving the mouse away from the menubar but it would be nice if the trailer menu started in the correct position when it opens.

![](http://d.pr/i/Rs0hh.jpg)

[2017-05-03 22:37] ptsochantaris commented on #311
Hi @olets, I'm going to close this issue for now. If you encounter this issue again or have any other problem, feel free to open more issues!

[2017-05-03 22:37] #311 closed

[2017-05-03 22:38] ptsochantaris commented on #317
Just a followup note - I had a look at the GitHub API and this indeed seems very straightforward - the data literally is in the base PR info that the API gives out. Will aim to have this in the next release.

[2017-05-03 22:41] ptsochantaris commented on #246
Hi @applimatix, just wanted to let you know that v1.5.6 is up, which has preliminary support for reactions (as well as reviews). Do bear in mind that these APIs are beta, so they may break or act weirdly, but if you're feeling adventurous feel free to enable support for reactions and see how it goes.

I'm going to close this specific issue for now but please feel free to open more issues related t

[2017-05-03 22:41] #246 closed

[2017-05-03 22:44] ptsochantaris commented on #308
Hi, I'm going to close this issue as v1.5.6 is up now and includes this feature.

Please feel free to open issues related to Review support, bugs, new behaviour or logic that you'd like to see related to support for reviews if you get a chance to try this feature out.

[2017-05-03 22:44] #308 closed

[2017-05-03 22:45] ptsochantaris commented on #295
Hi, I'm going to close this issue as v1.5.6 is up now and includes this feature.

Please feel free to open issues related to Review support, bugs, new behaviour or logic that you'd like to see related to support for reviews if you get a chance to try this feature out.

[2017-05-03 22:45] #295 closed

[2017-05-03 22:48] ptsochantaris commented on #319
Hi @akalman - I'm going to close this issue for now, but feel free to reopen or create a new one if I can be of any more help.

[2017-05-03 22:48] #319 closed

[2017-05-03 23:04] ptsochantaris commented on #320
Hi @mrmohtas - this is a bit related to this issue which I created a while back: https://github.com/ptsochantaris/trailer/issues/228

The issue here is that macOS decides that, if you auto-hide your menubar, your usable screen height extends all the way to the top of the screen. Trailer just follows what macOS tell it (this also includes screen dimensions if the dock is at the bottom and hidden (o

[2017-05-04 15:35] mrmohtas commented on #320
I've seen different implementations of what you are talking about with Trailer standing out oddly once the menubar autohides.

Some menu apps I use either offset from the menubar with the space reminding when the menubar autohides (Fantastical, Droplr, Cloak), while other apps force the menubar to stay visible (flux, setapp, textexpander, all the native mac apps etc)

I do indeed have a shortcut s

[2017-05-06 18:47] ptsochantaris commented on #320
I suspect the apps that seem to force the menubar to be visible really aren't - they're just implementing their view as a menu rather than a window, so they're actually part of macOS's menubar UX - but happy to be proven wrong there if you have some API docs or a PR for this, I'm admittedly not an expert on menubar handling and I could be wrong about this :)

The other option, like you mention, is

[2017-05-08 16:03] mrmohtas commented on #320
I don't know swift but I might use this issue as a springboard into the language and try to dig in and try out a solution myself

[2017-05-09 09:32] moertel commented on #238
Thanks for this, @ptsochantaris. I just want to point out that I found this solution a bit unintuitive. I expected `-label:foo` (like in the Github search) to work but tried `!label:foo` as well, to no avail. So, glad I found this issue and a solution to blacklist filtering. Maybe think about adding a small documentation section to the README.

[2017-05-09 16:52] ptsochantaris commented on #320
👍 Although there's no need for a PR, I'm happy to look into it too if you can find any API-related pointers, whichever works best for you. That said, writing a little Swift is always fun :)

[2017-05-15 10:15] ptsochantaris commented on #317
Slightly discouraging news on this, unfortunately.

After actually implementing it, I realised that the data isn't actually being sent by GitHub, despite the impression the docs give.

Their documentation isn't *strictly* wrong: They DO provide this info if you request PRs one-by-one, but this info is not included in the records that are part of the list of PRs that is provided by the repos (which

[2017-05-18 21:17] mattaningram opened #321 "Initial import and syncing isn't working"
Set this up on my MacBook a couple of weeks ago and it worked great, even with a lot of watched repos and other things to track.

Got a new MacBook Pro and decided to set it up again (even made a new auth token with appropriate permissions), and the initial sync never finished. I closed the app and started it up again and no data to be found anywhere. If I go to "Advanced Repository Settings" the

[2017-05-23 15:06] mattaningram commented on #321
Issue somehow resolved itself after a couple of days. Syncing is working properly now.

[2017-05-23 15:06] #321 closed

[2017-05-23 15:43] ptsochantaris commented on #321
Hi, I'm glad the issue was resolved, and sorry for the very late response here.

I've been wondering if your issue was related to your API quota running out, which is definitely possible if you have many repositories watched. Currently Trailer is not too good about reporting that - I've been meaning to improve the "on-boarding" experience with a repo selector, so a user can pick which repositories

[2017-05-24 18:44] ptsochantaris commented on #284
Hi @dangitall - I finally had some time to look this up and fix it. It was purely my unfamiliarity with macOS APIs, using a popup rather than a pulldown style.

The change will be on the next update, but if you'd like to try it out, here's a build with this change included.

[Trailer.zip](https://github.com/ptsochantaris/trailer/files/1026706/Trailer.zip)

Let me know your thoughts and if this imp

[2017-05-24 19:33] dangitall commented on #284
After some quick testing it looks great so far! Thanks!

[2017-05-30 16:41] JonathanTech opened #322 "Move PR to Participated if user approves/requests changes/comments on PR"
Currently it only goes into Participated if you leave a comment on a PR. I think there should be an option to move it to participated if you just approve it without any comment.